@import "../../settings/colours";
@import "./conditionals";

@mixin clearfix {
  @include ie-lte(7) {
    zoom: 1;
  }

  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin link-reverse-polarity {
  &:link {
    color: $link-reverse-polarity;
  }

  &:visited {
    color: $link-visited-reverse-polarity;
  }

  &:hover {
    color: $link-hover-reverse-polarity;
  }

  &:active {
    color: $link-active-reverse-polarity;
  }

  &:focus {
    outline: 3px solid $focus-colour;
  }
}

@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin border-highlight {
  position: relative;
  border: 3px solid transparent;
  outline: 0;
  left: -3px;
  top: -3px;

  &:focus {
    border: 3px solid $focus-colour;
    outline: 0;
  }
}

@mixin retina-background() {
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-moz-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 2dppx),
    only screen and (min-resolution: 192dpi) {
        @content;
    }
}
