---
definitions:
  config:
    /hippo:namespaces/website/service:
      /editor:templates:
        /_default_:
          jcr:primaryType: frontend:plugincluster
          frontend:properties:
          - mode
          frontend:references:
          - wicket.model
          - model.compareTo
          - engine
          - validator.id
          frontend:services:
          - wicket.id
          - validator.id
          /root:
            item: ${cluster.id}.field
            jcr:primaryType: frontend:plugin
            plugin.class: org.hippoecm.frontend.service.render.ListViewPlugin
          /title:
            /cluster.options:
              jcr:primaryType: frontend:pluginconfig
            caption: Title
            field: title
            jcr:primaryType: frontend:plugin
            plugin.class: org.hippoecm.frontend.editor.plugins.field.PropertyFieldPlugin
            wicket.id: ${cluster.id}.field
          /summary:
            /cluster.options:
              ckeditor.config.appended.json: '{toolbar: [{ name: ''summarytoolbar'',
                items: [''Link'',''PickInternalLink'',''Source''] }] }'
              ckeditor.config.overlayed.json: '{linkShowAdvancedTab: true, extraPlugins:''wordcount''}'
              jcr:primaryType: frontend:pluginconfig
            caption: Summary
            field: summary
            hint: ''
            jcr:primaryType: frontend:plugin
            plugin.class: org.hippoecm.frontend.editor.plugins.field.NodeFieldPlugin
            wicket.id: ${cluster.id}.field
          /shortsummary:
            /cluster.options:
              jcr:primaryType: frontend:pluginconfig
            caption: Short Summary
            field: shortsummary
            hint: ''
            jcr:primaryType: frontend:plugin
            plugin.class: org.hippoecm.frontend.editor.plugins.field.PropertyFieldPlugin
            wicket.id: ${cluster.id}.field
          /seosummary:
            /cluster.options:
              jcr:primaryType: frontend:pluginconfig
              size: '160'
            caption: SEO Summary
            field: seosummary
            hint: ''
            jcr:primaryType: frontend:plugin
            plugin.class: org.hippoecm.frontend.editor.plugins.field.PropertyFieldPlugin
            wicket.id: ${cluster.id}.field
          /toptasks:
            /cluster.options:
              ckeditor.config.overlayed.json: '{ toolbarGroups: [ { name: ''links''
                }, { name: ''mode'' } ] }'
              jcr:primaryType: frontend:pluginconfig
            caption: Top Tasks
            field: toptasks
            hint: ''
            jcr:primaryType: frontend:plugin
            maxitems: 5
            plugin.class: org.hippoecm.frontend.editor.plugins.field.NodeFieldPlugin
            wicket.id: ${cluster.id}.field
          /introduction:
            /cluster.options:
              jcr:primaryType: frontend:pluginconfig
            caption: Introduction
            field: introduction
            hint: ''
            jcr:primaryType: frontend:plugin
            plugin.class: org.hippoecm.frontend.editor.plugins.field.NodeFieldPlugin
            wicket.id: ${cluster.id}.field
          /sections:
            /cluster.options:
              jcr:primaryType: frontend:pluginconfig
            caption: Sections
            compoundList: website:section,publicationsystem:chartSection,publicationsystem:mapSection,website:emphasisBox
            contentPickerType: links
            field: sections
            hint: ''
            jcr:primaryType: frontend:plugin
            plugin.class: org.onehippo.forge.contentblocks.ContentBlocksFieldPlugin
            wicket.id: ${cluster.id}.field
            wicket.skin: skin/content-blocks.css
          /contactdetails:
            /cluster.options:
              jcr:primaryType: frontend:pluginconfig
            caption: Overridden Contact Details
            field: contactdetails
            hint: ''
            jcr:primaryType: frontend:plugin
            plugin.class: org.hippoecm.frontend.editor.plugins.field.NodeFieldPlugin
            wicket.id: ${cluster.id}.field
          /component:
            /cluster.options:
              jcr:primaryType: frontend:pluginconfig
            caption: Component
            field: component
            hint: ''
            jcr:primaryType: frontend:plugin
            plugin.class: org.hippoecm.frontend.editor.plugins.field.NodeFieldPlugin
            wicket.id: ${cluster.id}.field
          /items:
            /cluster.options:
              jcr:primaryType: frontend:pluginconfig
            caption: Links
            compoundList: website:assetlink,website:externallink,website:internallink
            contentPickerType: links
            field: items
            hint: ''
            jcr:primaryType: frontend:plugin
            plugin.class: org.onehippo.forge.contentblocks.ContentBlocksFieldPlugin
            wicket.id: ${cluster.id}.field
          /gossid:
            /cluster.options:
              jcr:primaryType: frontend:pluginconfig
            caption: GOSS Article ID
            field: gossid
            hint: ''
            jcr:primaryType: frontend:plugin
            plugin.class: org.hippoecm.frontend.editor.plugins.field.PropertyFieldPlugin
            wicket.id: ${cluster.id}.field
          /classifiable:
            /cluster.options:
              jcr:primaryType: frontend:pluginconfig
              taxonomy.name: publication_taxonomy
            essentials-taxonomy-name: publication_taxonomy
            jcr:primaryType: frontend:plugin
            mixin: hippotaxonomy:classifiable
            plugin.class: org.hippoecm.frontend.editor.plugins.mixin.MixinLoaderPlugin
            wicket.id: ${cluster.id}.field
          /friendlyurls:
            /cluster.options:
              jcr:primaryType: frontend:pluginconfig
            caption: Friendly Urls
            field: friendlyurls
            hint: ''
            jcr:primaryType: frontend:plugin
            plugin.class: org.hippoecm.frontend.editor.plugins.field.NodeFieldPlugin
            wicket.id: ${cluster.id}.field
        jcr:primaryType: editor:templateset
      /hipposysedit:nodetype:
        /hipposysedit:nodetype:
          /component:
            hipposysedit:mandatory: false
            hipposysedit:multiple: false
            hipposysedit:ordered: false
            hipposysedit:path: website:component
            hipposysedit:primary: false
            hipposysedit:type: hippostd:html
            jcr:primaryType: hipposysedit:field
          /contactdetails:
            hipposysedit:mandatory: false
            hipposysedit:multiple: false
            hipposysedit:ordered: false
            hipposysedit:path: website:contactdetails
            hipposysedit:primary: false
            hipposysedit:type: hippostd:html
            hipposysedit:validators:
            - optional
            jcr:primaryType: hipposysedit:field
          /friendlyurls:
            hipposysedit:mandatory: false
            hipposysedit:multiple: false
            hipposysedit:ordered: false
            hipposysedit:path: website:friendlyurls
            hipposysedit:primary: false
            hipposysedit:type: website:friendlyurls
            jcr:primaryType: hipposysedit:field
          /gossid:
            hipposysedit:mandatory: false
            hipposysedit:multiple: false
            hipposysedit:ordered: false
            hipposysedit:path: website:gossid
            hipposysedit:primary: false
            hipposysedit:type: Long
            jcr:primaryType: hipposysedit:field
          /introduction:
            hipposysedit:mandatory: false
            hipposysedit:multiple: false
            hipposysedit:ordered: false
            hipposysedit:path: website:introduction
            hipposysedit:primary: false
            hipposysedit:type: hippostd:html
            hipposysedit:validators:
            - optional
            jcr:primaryType: hipposysedit:field
          /items:
            hipposysedit:multiple: true
            hipposysedit:ordered: true
            hipposysedit:path: website:items
            hipposysedit:type: hippo:compound
            hipposysedit:validators:
            - contentblocks-validator
            jcr:primaryType: hipposysedit:field
          /sections:
            hipposysedit:multiple: true
            hipposysedit:ordered: true
            hipposysedit:path: website:sections
            hipposysedit:type: hippo:compound
            hipposysedit:validators:
            - contentblocks-validator
            jcr:primaryType: hipposysedit:field
          /seosummary:
            hipposysedit:mandatory: false
            hipposysedit:multiple: false
            hipposysedit:ordered: false
            hipposysedit:path: website:seosummary
            hipposysedit:primary: false
            hipposysedit:type: String
            jcr:primaryType: hipposysedit:field
          /shortsummary:
            hipposysedit:mandatory: false
            hipposysedit:multiple: false
            hipposysedit:ordered: false
            hipposysedit:path: website:shortsummary
            hipposysedit:primary: false
            hipposysedit:type: String
            jcr:primaryType: hipposysedit:field
          /summary:
            hipposysedit:mandatory: false
            hipposysedit:multiple: false
            hipposysedit:ordered: false
            hipposysedit:path: website:summary
            hipposysedit:primary: false
            hipposysedit:type: hippostd:html
            hipposysedit:validators:
            - required
            jcr:primaryType: hipposysedit:field
          /title:
            hipposysedit:mandatory: false
            hipposysedit:multiple: false
            hipposysedit:ordered: false
            hipposysedit:path: website:title
            hipposysedit:primary: false
            hipposysedit:type: String
            hipposysedit:validators:
            - non-empty
            - required
            jcr:primaryType: hipposysedit:field
          /toptasks:
            hipposysedit:mandatory: false
            hipposysedit:multiple: true
            hipposysedit:ordered: true
            hipposysedit:path: website:toptasks
            hipposysedit:primary: false
            hipposysedit:type: hippostd:html
            jcr:primaryType: hipposysedit:field
          hipposysedit:node: true
          hipposysedit:supertype:
          - hippotranslation:translated
          - website:basedocument
          - hippotaxonomy:classifiable
          - hippostd:relaxed
          hipposysedit:uri: http://digital.nhs.uk/jcr/website/nt/1.0
          jcr:mixinTypes:
          - mix:referenceable
          - hipposysedit:remodel
          jcr:primaryType: hipposysedit:nodetype
        jcr:mixinTypes:
        - mix:referenceable
        jcr:primaryType: hippo:handle
      /hipposysedit:prototypes:
        /hipposysedit:prototype:
          /website:component:
            hippostd:content: ''
            jcr:primaryType: hippostd:html
          /website:friendlyurls:
            jcr:primaryType: website:friendlyurls
            website:alternativeurls: []
            website:destination: ''
          /website:summary:
            hippostd:content: ''
            jcr:primaryType: hippostd:html
          common:searchRank: 6
          common:searchable: true
          hippostd:holder: holder
          hippostd:state: draft
          hippostdpubwf:createdBy: ''
          hippostdpubwf:creationDate: 2018-01-23T14:14:09.771Z
          hippostdpubwf:lastModificationDate: 2018-01-23T14:14:09.771Z
          hippostdpubwf:lastModifiedBy: ''
          hippotranslation:id: document-type-locale-id
          hippotranslation:locale: document-type-locale
          jcr:mixinTypes:
          - mix:referenceable
          - hippotaxonomy:classifiable
          jcr:primaryType: website:service
          website:gossid: 0
          website:seosummary: ''
          website:shortsummary: ''
          website:title: ''
        jcr:primaryType: hipposysedit:prototypeset
      jcr:mixinTypes:
      - editor:editable
      - mix:referenceable
      jcr:primaryType: hipposysedit:templatetype
