.login-extend {
  background-color: #005EB8!important;
  background-position: 380px 50%!important;
  background-repeat: no-repeat!important;
  background-size: 400px!important;
}

body.live .login-extend {
    background-image: url(cms-background.png);
}

body.uat .login-extend {
    background-image: url(cms-background-uat.png);
}

body.tst .login-extend {
    background-image: url(cms-background-tst.png);
}

body.local .login-extend {
    background-image: url(cms-background-local.png);
}
