.apispecification {
    .endpoint_path {
        background-color: #DFE2E5;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5em;
        border-bottom: 2px solid #B3BBC1;
    }

    .endpoint_path > div {
        margin: 0 !important;
    }

    .endpoint_path .method {
        margin: 0 !important;
        text-transform: uppercase !important;
        font-size: 22px !important;
        font-weight: bold;
        color: #212B32 !important;
    }

    .endpoint_path .pre {
        flex: 1 0 !important;
    }

    .endpoint_path .pre pre {
        color: #212B32 !important;
        font-size: 18px !important;
        font-weight: 700 !important;
        background-color: #DFE2E5 !important;
    }

    .httpparams {
        &__datatype {
            color: $grey-6;
            font-weight: bold;
        }

        &__name {
            vertical-align: top;
            font-family: monospace;
            width: 150px;
        }

        &__required {
            color: $red;
        }

        &__description {
        }

        &__examples__header {
            font-weight: bold;
        }

        &__example__summary {
        }

        &__example__description {
        }
    }

    .body {
        &__contenttype {
        }

        &__contenttype__label {
            font-weight: normal !important;
        }

        &__contenttype__value {
            font-weight: bold;
        }

        &__example__header {
            font-weight: bold;
        }

        &__example__summary {
        }

        &__example__description {
        }

        &__schema__trythisapi__link {
            color: $blue;
            text-decoration: underline;
        }
    }

    .body__schema__header {
        font-weight: bold;

        .schema__header__buttons {
            float: right;
        }
    }

    .body__schema {

        .propertyName {
            font-weight: bold;
        }

        .title {
            font-weight: bold;
        }

        .type,
        .deprecated,
        .uniqueitems,
        .nullable,
        .readonly,
        .writeonly {
            color: $grey-9;
        }

        .required {
            color: #d14;
        }

        .description {
            margin-bottom: 1em;
        }

        .format {
            color: $blue-50;
        }

        tr.collapsed {
            display: none;
        }

        td {
            vertical-align: top;
        }

        td div {
            margin-top: 0.25em;
        }
    }

    .schemaButton {
        -webkit-appearance: none;
        border: 2px solid transparent;
        border-radius: 4px;
        box-shadow: 0 4px 0 #00401e;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        margin-top: 0;
        padding: 6px 8px;
        position: relative;
        text-align: center;
        vertical-align: top;
        width: auto;
        &.expandAll {
            background-color: #005EB8;
        }
        &.collapseAll {
            background-color: #425563;
        }
    }

    button.collapser, button.expander {
        float:left;
        width: 2em;
        height: 2em;
    }

    .body--schema tr.collapsed, .js {
        display: none;
        aria-hidden: true;
    }

    table th,
    table td.name_column {
        word-break: normal;
    }

    table td.button_column {
        column-width: 42px;
    }

    /*
     Pseudo-headings, auto-generated by 'pushing down'
     headings coming from specification's Markdown descriptions
     in order to ensure that headings from Markdown are never
     rendered at higher level than the static ones that precede
     them in the enclosing template. See invocations of 'markdown'
     helpers in 'index.mustache' and the helper classes themselves
     for more details.

     It's unlikely that the specifications would ever contain
     headings at such a low level but in case one happens to,
     thanks to these styles the headings will be highlighted to
     stand out from the regular text, otherwise the web browser
     would not apply any stiling to the unknown h7-h12 headings.

     h6 was added because the global styles do not appear to
     assign any text decorations to it.
    */
    h6, h7, h8, h9, h10, h11, h12 {
        font-size: 18px;
        line-height: 26px;
        font-weight: 600 !important;
        display: block;
        margin-top: 26px !important;
    }

    .scrollable-component {
        overflow-y: auto;
        max-height: 85vh;

        @include media($max-width: $min-desktop-width) {
            max-height: none;
        }
    }

}
