/* Endpoint summary table */
.api-endpoint-table {
    width: 100px;
    width: auto;
    height: 75px;
    border:1px solid #d8dde0;
    border-collapse: separate;
    border-spacing:15px 20px;
    padding: 20px 0 0 20px;
}

.api-endpoint-url {
  margin-top: 0;
}

.api-endpoint-table td:nth-child(2) {
 width: auto;
 border:0px;
}

.colour-class {
  font-size: 14px;
  text-align: center;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px;
  color: white;
  float: left;

  &-head {
    @extend .colour-class;
    background: #024902;
  }

  &-get {
    @extend .colour-class;
    background: #058905;
  }

  &-post {
    @extend .colour-class;
    background: #0c57d1;
  }

  &-put {
    @extend .colour-class;
    background: #032c70;
  }

  &-patch {
    @extend .colour-class;
    background: #011028;
  }

  &-trace {
    @extend .colour-class;
    background: #b7b6b0;
  }

  &-delete {
    @extend .colour-class;
    background: #f40e29;
  }

  &-options {
    @extend .colour-class;
    background: #666563;
  }

  &-connect {
    @extend .colour-class;
    background: #2b2a28;
  }
}

/* parameter_table */
.parameter-codeinline {
    font-family: monospace;
    background-color: #fff;
    color: #d14;
    padding: 1px 4px;
    border:1px dashed grey;
    margin-right: 2px;
    margin-left: 2px;
    white-space: pre;
}

/* response definition */
.noword-wrap {
    white-space: nowrap;
}
