.api-catalogue {

  & .filters {

    & li {
      list-style-type: none;
    }

    & ul {
      padding: 0;
    }

    & ul ul {
      padding-left: 1em;
    }

    & .filter-head__reset {
      float: right;
      top: -1px;
      width: auto;
    }

    .article-section-nav__title {
      padding-right: 0px;
    }

    & .section-heading,
    & .filter-label {
      cursor: pointer;
      padding: 0.33em 0.5em;
      margin-bottom: 0.5em;
      border-radius: 0.5em;
    }

    & .section-heading {
      display: block;

      background-color: $grey-4;
    }

    & .filter-label {
      display: inline-block;

      width: 15.6em;
      max-width: 100%;
      background-color: $blue-10;

      text-decoration: none;
    }

    & .filter-label-unavailable {
      display: inline-block;

      width: 15.6em;
      max-width: 100%;
      padding: 0.33em 0.5em;

      margin-bottom: 0.5em;
      border-radius: 0.5em;

      color: $grey-2;
      background-color: $blue-10;

      text-decoration: none;
    }

    & .filter-label-unavailable:hover {
      cursor: default;
    }

    & .section-heading:hover,
    & .filter-label:hover {
      background: $yellow-link-hover;
      box-shadow: 0 0 0 4px $yellow-link-hover;
      outline: 1px solid $yellow-link-hover;
      color: $link-hover-colour-nhs;
      text-decoration: none;
    }

    & .section-heading.selected:not(:hover) {
      background-color: $grey-1;
      color: $blue-10;
      font-weight: bold;
    }

    & .filter-label.selected:not(:hover) {
      background-color: $link-colour;
      color: $blue-10;
      font-weight: bold;
    }

    & .expansion-arrow {
      fill: $black;
      width: 1em;
      position: relative;
      top: 0.55em;
      float: right;
      margin-right: 0.5em;
      pointer-events: none;
    }

    & .expansion-arrow.selected {
      fill: $blue-10;
    }

    & input:checked ~ .expansion-arrow {
      transform: rotate(90deg);
      top: 0.65em;
    }

    & .section-content {
      display: none;
    }

    & input {
      display: none;
    }

    & input:checked ~ .section-content {
      display: block;
    }
  }

  & .taxonomy-tag {
    font-size: small;
    color: $grey-6;
    padding: 0.33em 0.5em;
    border-radius: 0.3em;
    background-color: $grey-4;
    white-space: nowrap;
  }

  & .scrollable-component {
      overflow-y: auto;
      max-height: 85vh;

      @include media($max-width: $min-desktop-width) {
          max-height: none;
      }

      @include media(wide) {
          max-width: 320px;
      }
  }
}
