.endpoint_path {
   background-color: #DFE2E5;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 0.5em;
   border-bottom: 2px solid #B3BBC1;
}
.endpoint_path > div {margin:0 !important;}
.endpoint_path h2 {margin:0 !important; text-transform: uppercase !important; font-size: 22px !important; color:#212B32 !important;}
.endpoint_path .pre {flex:1 0 !important;}
.endpoint_path .pre pre{color:#212B32 !important; font-size:18px!important; font-weight: 700 !important;background-color:#DFE2E5 !important;}

.httpparams{
  &__datatype {color: $grey-6; font-weight: bold;}
  &__name {vertical-align:top; font-family: monospace; width: 150px;}
  &__required {color: $red;}
  &__description {}
  &__examples__header {font-weight: bold;}
  &__example__summary {}
  &__example__description {}
}

.body{
  &__contenttype {}
  &__contenttype__label {font-weight: normal !important;}
  &__contenttype__value {}

  &__example__header {font-weight: bold;}
  &__example__summary {}
  &__example__description {}

  &__schema__trythisapi__link {color: $blue; text-decoration: underline;}
}

.body__schema__header { font-weight: bold; }

.body__schema {
  display: none;

  .propertyName { font-weight: bold; }
  .title { font-weight: bold; }
  .type,
  .deprecated,
  .uniqueitems,
  .nullable,
  .readonly,
  .writeonly { color: $grey-9; }

  .required { color: #d14; }

  .description { margin-bottom: 1em; }

  .format { color: $blue-50; }

  td { vertical-align: top; }

  td div { margin-top: 0.25em; }
}

.apispecification table th,
.apispecification table td { word-break: normal; }