/* Article header */
.article-header {
    margin-bottom: 40px;
}

.article-header--secondary {
    margin-bottom: 20px;
}

.article-header--tertiary {
    margin-bottom: 10px;
}

.article-header--detailed,
.article-header--with-icon {
    padding-left: 0;
    padding-right: 0;
    color: $col-septenary;
    @extend .white-links;
    @extend .white-links--secondary;
}

.cyber-alert-minus-margin {
    margin-top: -40px;
}

.article-header--with-icon-base {

    .grid-row {

      .local-header__icon {
        height: auto;

        img {
            max-height: 160px;

            display: block;
            position: absolute;
            top: 50%;
            left: 80%;
            transform: translate(0%, -50%)
        }

        @include media($max-width: $min-desktop-width, $ignore-for-ie: true) {
            img {
                max-width: 117px;
            }
        }

        @include media($max-width: $min-tablet-width, $ignore-for-ie: true) {
            img {
                display: none;
            }
        }
      }
    }
}

.article-header--detailed {
    @extend .article-header--with-icon-base;

    .grid-row-no-margin {
      @extend .grid-row;

      margin-top: 0px;
    }
}

.article-header--with-icon {
    @extend .article-header--with-icon-base;

    padding: $gutter * 2 0;

    .local-header__title{
        margin-top: 0;
        margin-bottom: 0;
    }

    .local-header__title-as-detailed{
        margin-top: round($gutter * 0.5);
    }

    img {
        margin: 0 auto;
        max-width: 180px;
    }

    @include media($max-width: $min-desktop-width, $ignore-for-ie: true) {
        img {
            max-width: 100px;
        }
    }
}

.article-header__inner {
    position: relative;
}

.article-header__stamp {
    position: absolute;
    top: -20px;
    right: 0;
    margin-top: round($gutter * 0.5);

    @include media($max-width: $min-tablet-width, $ignore-for-ie: true) {
        position: relative;
    }
}

.article-header__title {
    background: $background-colour;
}

.article-header__label {
    display: block;

    @include core-font(24);
}

.article-header__types {
    &--push {
        display: block;
        margin-top: 11px;
    }
}

.article-header__subtitle {
    @include bold-font(22);

    margin-top: $gutter;
    margin-bottom: $gutter;

    p {
      font-size: 22px;
      line-height: 30px;

      @include media($max-width: $min-tablet-width, $ignore-for-ie: true) {
          font-size: 18px;
          line-height: 26px;
      }
    }

    &--dark {
        color: $grey-1;
    }
}

.article-header__detail-lines {
    margin-top: $gutter;
}

.article-header__detail-line {
    border-top: 1px solid $background-colour;
    border-top: 1px solid rgba($col-septenary, 0.5);
    margin-top: 0;
    padding: $gutter 0 round($gutter * 0.5);

    &:first-child {
        border-top: none;
    }
}

.article-header__detail-list {
    @extend .list;
    @extend .list--inline;
    @extend .list--reset;

    .article-header__detail-list-key {
        min-width: 220px;

        @include bold-font(16);
    }

    .article-header__detail-list-value {
        margin: 0;
        float: left;
        max-width: 75%;

        @include core-font(16);
    }

    @include media($max-width: $min-desktop-width, $ignore-for-ie: true) {
        .article-header__detail-list-key,
        .article-header__detail-list-value {
            display: block;
            float: none;
            min-width: auto;
        }
    }
}

@media screen and (min-width: 600px) and (max-width: $min-desktop-width) {
    .local-header__title,
    .article-header__subtitle {
        max-width: 75%;
    }
}
