@import "../environment/tools/mixins/button";

.button {
    @include button($col-primary);
    @include no-tap-highlight;
}

.button--secondary {
    @include button($grey-4);
}

.button--tertiary {
    @include button($col-denary);
}

.button--quaternary {
    @include button($col-quaternary);
}

.button--cancel {
    @include button($red);
}

.button--warning {
    @include button($col-octonary, $col-16);
}

.button--small {
    padding: 2px 12px 1px;

    @include core-font(16);
}

.button--tiny {
    padding: 3px 8px 2px;

    @include core-font(14);
}
