.call-to-action__content {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
}

.call-to-action__content-title {
    margin: 0;
}

.call-to-action__content > * {
    margin: 0;
}

.call-to-action__content > * + * {
    margin-top: 10px;
}

.call-to-action-header__cta .nhsd-a-button {
    margin-bottom: 0;
}
