.call-to-action--grey {
    background-color: $grey-5;
    text-align: center;
    padding: 33px 33px 40px;
    border-radius: 5px;
}

.call-to-action--grey .call-to-action__content-text {
    margin-top: 10px;
}

.call-to-action--grey .call-to-action-header__cta {
    margin-top: 14px;
}
