.coronavirus-banner {
    background-color: #FFEB3B;
    padding: 1.75em 0 1.9em;
    border-bottom: 1px solid $col-primary;

    &__title {
        @include bold-font(36);
        margin-bottom: 15px;
    }
}
