/* Detail list */
.detail-list__flex {
  display: inline-flex;
}

.detail-list-grid {

    .detail-list {
        @include clearfix;
    }
    
    .detail-list__key,
    .detail-list__value {
        display: inline-block;
        float: left;
        margin-top: 0;
    }

    .detail-list__key {
        min-width: 210px;
        padding-right: $gutter;

        @include bold-font(16);
    }

    .detail-list__value {
        max-width: 80%;

        @include core-font(16);

        @media screen {
            @include media($max-width: 946px, $ignore-for-ie: true) {
            max-width: 100%;
            }

            @include media($max-width: $min-tablet-width, $ignore-for-ie: true) {
                display: block;
                width: 100%;
            }
        }
    }
    
    .grid-row,
    .column {
        margin: 0;
    }

    .grid-row {
        border-top: 1px solid $background-colour;
        border-top: 1px solid rgba($background-colour, 0.5);

        &:first-child {
            border-top: none;
        }
        
        .column {
            padding: $gutter 0 round($gutter * 0.5);
        }
    }

    &--regular {
        .detail-list {
            border-bottom: 1px solid $col-14;
            margin-top: $gutter * 0.5 + 2px;
            padding-bottom: $gutter * 0.5;
        }
    }

    &--regular {
        .detail-list {
            border-bottom: 1px solid $col-14;
            margin-top: $gutter * 0.5 + 2px;
            padding-bottom: $gutter * 0.5;
        }
    }

    @media screen {
        @include media($max-width: $min-desktop-width, $ignore-for-ie: true) {
            .grid-row {
                border-top: none;

                .column {
                    border-top: 1px solid $background-colour;
                    border-top: 1px solid rgba($background-colour, 0.5);
                }

                &:first-child {
                    .column:first-child {
                        border-top: none;
                    }
                }
            }
        }
    }
}