.full-width-image {
    position: relative;
    margin-top: 12px;
    margin-bottom: 12px;
    z-index: 1;
    @include media($size: desktop) {
        width: calc(166.6666% - 106px);
    }
    @include media($size: wide) {
        width: calc(166.6666% - 164px);
    }
}

.grid-wrapper--has-nav .full-width-image {
    @include media($size: desktop) {
        margin: 24px 0 24px calc(-66.66666% + 66px);
        width: calc(166.6666% - 66px);

    }
    @include media($size: wide) {
        width: calc(166.6666% - 124px);
        margin-left: calc(-66.66666% + 124px);
    }
}

.full-width-image img {
    width: 100%;
}

.full-width-image__caption {
    background: $dark-blue;
    color: $white;
    padding: 4px 10px;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    @include media($size: desktop) {
        font-size: 20px;
    }
}
