.orgstructure {
    &-item {
        background-color: $blue;
        color: $white;
        padding: 16px;
        border-top: none;
    }

    &-title {
        font-size: 25px;

        a {
            color: inherit;
        }
        a:hover,
        a:focus {
            color: $link-hover-colour-nhs;
        }
    }

    &-summary {
        p {
            font-size: 15px;
        }
    }

    &-person {
        font-size: 17px;

        &-bold {
            font-weight: bold;
        }

        a {
            color: inherit;
        }
        a:hover,
        a:focus {
            color: $link-hover-colour-nhs;
        }
    }

    &-subitem {
        background-color: $blue-50;
        color: $black;
        padding: 16px;
    }

    &-subtitle {
        font-size: 22px;

        a {
            color: inherit;
        }
        a:hover,
        a:focus {
            color: $link-hover-colour-nhs;
        }
    }

    &-subperson {
        margin-top: 6px;
        font-size: 17px;

        a {
            color: inherit;
        }
        a:hover,
        a:focus {
            color: $link-hover-colour-nhs;
        }
    }

    $row_height: 75px;
    $correction: 25px;

    &-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 4fr 4fr 1fr;
        grid-template-columns: 1fr 4fr 4fr 1fr;
        margin: 0 -.25em;
    }

    &-block {
        background-color: $blue;
        color: $white;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin: .25em;

        @include media($max-width: $wide-desktop-width, $ignore-for-ie: true) {
            font-size: 18px;
        }

        a {
            color: inherit;

        }

        a:hover,
        a:focus {
            color: $link-hover-colour-nhs;
        }

        &-1 {
            grid-column: 2 / 4;
            -ms-grid-column: 2;
            -ms-grid-column-span: 2;
            min-height: 1 * $row_height;
            max-height: 1 * $row_height + $correction;
            line-height: 1 * $row_height;
            display: block;
        }

        &-2 {
            -ms-grid-column: 2;
            grid-row: 2 / 5;
            -ms-grid-row: 2;
            -ms-grid-row-span: 3;
            min-height: 4 * $row_height;
            max-height: 4 * $row_height + $correction;
            line-height: 4 * $row_height;
        }

        &-3 {
            -ms-grid-column: 3;
            grid-row: 2 / 5;
            -ms-grid-row: 2;
            -ms-grid-row-span: 3;
            min-height: 4 * $row_height;
            max-height: 4 * $row_height + $correction;
            line-height: 4 * $row_height;
        }

        &-4 {
            grid-column: 2 / 4;
            -ms-grid-column: 2;
            -ms-grid-column-span: 2;
            -ms-grid-row: 5;
            min-height: 1 * $row_height;
            max-height: 1 * $row_height + $correction;
            line-height: 1 * $row_height;
        }

        &-5 {
            grid-column: 2 / 4;
            -ms-grid-column: 2;
            -ms-grid-column-span: 2;
            -ms-grid-row: 6;
            min-height: 1 * $row_height;
            max-height: 1 * $row_height + $correction;
            line-height: 1 * $row_height;
        }

        &-6 {
            grid-column: 1;
            -ms-grid-column: 1;
            grid-row: 1 / 7;
            -ms-grid-row: 1;
            -ms-grid-row-span: 6;
            min-height: 8 * $row_height;
            max-height: 8 * $row_height + $correction;

            a {
                writing-mode: vertical-lr;
                -ms-writing-mode: tb-rl;
                margin-top: 50px;
            }
        }

        &-7 {
            grid-column: 4;
            -ms-grid-column: 4;
            grid-row: 1 / 7;
            -ms-grid-row: 1;
            -ms-grid-row-span: 6;
            min-height: 8 * $row_height;
            max-height: 8 * $row_height + $correction;

            a {
                writing-mode: vertical-lr;
                -ms-writing-mode: tb-rl;
                margin-top: 50px;
            }
        }

    }
}
