/* Key message promo banner */
.promo-banner {
    a {
        text-decoration: none;

        &:hover {
            .promo-banner__columns {
                background-color: darken($col-primary, 5%);
            }
        }
    }

    .promo-banner__title {
        @include bold-font(36);
    }

    .promo-banner__columns {
        @include clearfix;

        width: 100%;
        background-color: lighten($col-primary, 2%);

        .promo-banner__column {
            display: inline-block;
            position: relative;
            float: left;
            width: 50%;
            height: 100%;
        }

        .promo-banner__column + .promo-banner__column {
            .promo-banner__contents {
                max-width: 100%;
            }
        }

        @include media($max-width: $min-desktop-width, $ignore-for-ie: true) {
            display: block;

            .promo-banner__column {
                display: block;
                width: 100%;
            }

            .promo-banner__graphics {
                position: relative;
                height: 180px;
                height: 40vw;
            }
        }
    }

    .promo-banner__graphics {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        min-height: 320px;
        top: 0;
        left: 0;
        background-position: 100% 50%;
        background-repeat: no-repeat;
        background-size: cover;

        @include media($min-width: $wide-desktop-width, $ignore-for-ie: true) {
            min-height: 376px;
        }

        @include media($max-width: $wide-desktop-width - 1px, $ignore-for-ie: true) {
            min-height: 320px;
        }
    }

    .promo-banner__contents {
        padding: round($gutter * 2.5) $gutter * 2 $gutter * 2;
        color: $col-septenary;

        @include media($min-width: $min-desktop-width, $ignore-for-ie: true) {
            max-width: 75%;
        }
    }
}

.promo-banner-lightup {
    a {
        text-decoration: none;

        &:hover {
            .promo-banner__columns-lightup {
                background-color: darken($col-19, 5%);
            }
        }
    }

    .promo-banner__title-lightup {
        @include bold-font(36);
    }

    .promo-banner__columns-lightup {
        @include clearfix;

        width: 100%;
        background-color: lighten($col-19, 2%);

        .promo-banner__column-lightup-left {
            display: inline-block;
            position: relative;
            float: left;
            width: 25%;
            height: 100%;
        }

        .promo-banner__column-lightup-right {
                    display: inline-block;
                    position: relative;
                    float: left;
                    width: 75%;
                    height: 100%;
                }

        .promo-banner__column-lightup + .promo-banner__column-lightup-left, .promo-banner__column-lightup + .promo-banner__column-lightup-right  {
            .promo-banner__contents {
                max-width: 100%;
            }
        }


        @include media($max-width: $min-desktop-width, $ignore-for-ie: true) {
            display: block;

            .promo-banner__column-lightup-left, .promo-banner__column-lightup-right {
                display: block;
                width: 100%;
            }

            .promo-banner__graphics-lightup {
                position: relative;
                height: 180px;
                height: 40vw;
            }
        }
    }

    .promo-banner__graphics-lightup {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        min-height: 320px;
        top: 0;
        left: 0;
        background-position: 50% 50%;
        background-repeat: no-repeat;

        @include media($min-width: $wide-desktop-width, $ignore-for-ie: true) {
            min-height: 306px;
        }

        @include media($max-width: $wide-desktop-width - 1px, $ignore-for-ie: true) {
            min-height: 250px;
        }
    }

    .promo-banner__contents-lightup {
        padding: round($gutter * 2.5) $gutter * 2 $gutter * 2;
        color: $col-septenary;

        @include media($min-width: $min-desktop-width, $ignore-for-ie: true) {
            max-width: 100%;
        }
    }
}
