@import "../units/list";
@import "../units/link";
@import "../environment/settings/colours";

/* Tag */
.tag-list {
    @extend .list;
    @extend .list--reset;
    @extend .list--inline;

    line-height: 0;

    .tag {
        margin-left: round($gutter * 0.5);
    }
}

.tag {
    @include core-font(14);

    position: relative;
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    color: $col-quaternary;
    background: $col-duodenary;
}

.tag-link {
    @include bold-font(14);

    position: relative;
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    background: $col-15;

    &--hidden {
        display: none !important;
    }
}

a.tag-link {

    &:link {
        color: $col-primary;
    }

    &:visited {
        color: $col-primary;
    }

    &.selected,
    &:hover {
        color: $col-septenary;
        background: $col-quaternary;
    }

    &:active {
        color: $col-septenary;
        background: $col-quaternary;
    }

    &:focus {
        box-shadow: 0 0 0 4px #ffcd60;
    }
}

.expand-tags-link {
    @include bold-font(14);
    margin-top: 15px;
    display: inline-block;

    &--hidden {
        display: none !important;
    }
}
