/* Utils */

%component-border {
  border: 1px solid #eee;
}

.no-border {
    border: none;
}

.no-top-padding {
    padding-top: 0;
}

.no-padding {
    padding: 0;
}

.no-bottom-padding {
    padding-bottom: 0;
}

.no-top-margin {
    margin-top: 0;
}

.no-bottom-margin {
    margin-top: 0;
}

.bottom-margin-20 {
    margin-bottom: 20px;
}

.top-margin-20 {
    margin-top: 20px;
}

.wide {
    width: 100%;
}

.strong {
    font-weight: 600;
}

.regular {
    font-weight: 300;
}

.muted {
    color: #425563;
}

.sticky {
    @include media($min-width: $min-desktop-width) {
        position: -webkit-sticky;
        position: sticky;
        z-index: 1;

        &.sticky--top {
            top: -1px;
            margin-top: 1px;
        }
    }
}

.is-hidden {
    display: none;
    visibility: hidden;
}

.is-visible {
    display: block;
    visibility: visible;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
}

.no-js {
    .is-hidden-if-no-js {
        @extend .is-hidden;
    }
}
