@import "../environment/tools/mixins/typography";
@import "../normalize/_variables.scss";

h1 {
  @include bold-font($h1-font-size/1px);
  margin-bottom: 0;
}

h2 {
  @include bold-font($h2-font-size/1px);
  margin-bottom: 0.8em;
}

h3 {
  @include bold-font($h3-font-size/1px);
  margin-bottom: 0.5em;
}

h4 {
  @include bold-font($h4-font-size/1px);
}

h5 {
  @include bold-font($h5-font-size/1px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
