@import "../environment/settings/colours";
@import "../environment/settings/typography";

hr {
  background-color: $grey-4;
  border: 0;
  height: $baseline-grid-unit;
  text-align: left;

  .callout--alert & {
    background-color: $grey-3;
  }

  .callout--severe & {
    background-color: $white;
  }
}
