@import "../environment/settings/colours";
@import "../normalize/variables";
@import "../environment/tools/mixins/typography";
@import "../environment/settings/layout";
@import "../environment/tools/mixins/_addons";

ul {
    list-style: disc outside;
    padding-left: 1em;
}

ol {
    list-style: decimal outside;
    padding-left: 1em;

    @include ie-lte(7) {
        padding-left: 1.5em;
    }
}

.list {
    li {
        position: relative;
        margin-top: $gutter;

        &:first-child {
            margin-top: 0;
        }
    }
}

.list-title {
    @include bold-font($h3-font-size/1px);
    margin-bottom: round($base-font-size * 0.75);

    @include media(tablet) {
        margin-bottom: $base-font-size;
    }
}

.list--reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list--close {
    li {
        margin-top: round($gutter * 0.5);
    }
}

.list--inline {
    display: inline-block;
    @include clearfix;

    dt,
    dd,
    li {
        display: inline-block;
        float: left;
        vertical-align: top;
    }

    li {
        margin-top: 0;
        margin-left: 20px;

        &:first-child {
            margin-left: 0;
        }
    }
}

.list--pills {
    position: relative;
    margin-left: -4px;

    li,
    li:first-child {
        margin-left: 4px;
        margin-bottom: 4px;
    }
}

.list__header {
    @include bold-font(18);
}

.list__item {
    margin-top: round($gutter * 0.5);
}

.page-section,
.global-footer {
    dd {
        margin-top: $baseline-grid-unit * 2;
    }

    li {
        + li {
            margin-top: $baseline-grid-unit * 2;
        }

        > ul,
        > ol,
        > dl {
            margin-top: $baseline-grid-unit * 2;
        }
    }
}

.list--chevron {
    $_list-padding: $default-spacing-unit * 2;

    list-style: none;
    padding-left: $_list-padding;

    @include ie-lte(7) {
        list-style: disc;
        padding-left: 1em;
    }

    li {
        position: relative;

        &:before,
        &:after {
            border-style: solid;
            content: "";
            display: block;
            height: 0;
            position: absolute;
            top: 6px;
            width: 0;
        }

        &:before {
            border-color: transparent transparent transparent $grey-1;
            border-width: 10px 0 10px 10px;
            left: -$_list-padding;

            // variations for different coloured backgrounds
            .callout--warning & {
                border-left-color: $black;
            }

            .callout--severe & {
                border-left-color: $white;
            }
        }

        &:after {
            border-color: transparent transparent transparent $white;
            border-width: 10px 0 10px 10px;
            left: -($_list-padding + 6px);

            // variations for different coloured backgrounds
            .callout--info &,
            .panel & {
                border-left-color: $grey-5;
            }

            .callout--warning & {
                border-left-color: $yellow-10;
            }

            .callout--alert & {
                border-left-color: $red-10;
            }

            .callout--severe & {
                border-left-color: $red;
            }
        }
    }
}

.list--check,
.list--cross {
    $_list-padding: $default-spacing-unit * 2;

    list-style: none;
    padding-left: $_list-padding;

    @include ie-lte(8) {
        list-style: disc;
        padding-left: 1em;
    }

    li {
        position: relative;

        &::before,
        &::after {
            content: "";
            left: -$_list-padding;
            position: absolute;
            zoom: 1;
        }
    }
}

.list--check li::before {
    background: transparent;
    border: solid;
    border-color: $green;
    border-width: 0 0 5px 5px;
    height: 12px;
    top: 7px;
    transform: rotate(-45deg);
    width: 22px;
}

.list--cross li {
    &::before,
    &::after {
        background: $red;
        height: 5px;
        top: 12px;
        transform: rotate(45deg);
        width: 24px;
    }

    &::after {
        transform: rotate(-45deg);
    }
}
