@import "../environment/settings/colours";
@import "../environment/settings/typography";
@import "../environment/tools/mixins/typography";

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;

    caption {
        text-align: left;
        margin-bottom: round($base-font-size);

        @include bold-font($h3-font-size/1px);

        @include media($max-width: $min-desktop-width, $ignore-for-ie: true) {
            margin-bottom: round($base-font-size * 0.75);
        }
    }

    th,
    td {
        padding: 17px 10px;
        width: 25%;
        text-align: left;
    }

    th {
        background-color: $col-15;
        border-left: 2px solid $col-septenary;

        &,
        * {
            @include bold-font(16);
        }

        &:first-child {
            border-left: none;
        }
    }

    td {
        border-top: 1px solid $col-15;

        &,
        * {
            @include core-font(16);
        }
    }

    tr:first-child td {
        border-top: none;
    }
}

.table-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    
    @include media($max-width: $min-desktop-width, $ignore-for-ie: true) {
        @include touch-scroll-x;
    }
}

.table--two-column th {
    width: 50%;
}
