@import "../settings/colours";

.util-visuallyhidden {
  @include visually-hidden;
}

.util-nofocus:focus {
  outline: none;
}

.util-bg-tint__yellow {
  background-color: $yellow-10;
}

.util-print-only {
  @media screen {
    display: none;
  }
}

.util-print-hide {
  @media print {
    display: none;
  }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
