// Intranet `box` and `inner box`
.intra-box {
    position: relative;
    padding: 20px 28px;
    background: $col-septenary;

    &:not(:first-child) {
        margin-top: 32px;
    }

    &--compact {
       padding: 20px;
    }

    &--nested {
        padding: 20px;
        background: $col-intranet-grey;

        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    &__title {
        @include core-font(24);
    }
}
