// Intranet `people grid`
.intra-people-grid {
    @extend .list;
    @extend .list--reset;
    @include clearfix;

    margin: 27px auto 30px auto;

    li {
        display: inline-block;
        float: left;
        margin-top: 0;
    }

    &-item {
        text-align: center;
        width: 25%;
        padding: 0 10px;

        &__photo {
            display: inline-block;
            width: 83px;
            height: 83px;
            border-radius: 100%;
            border: 2px solid $col-intranet-dark-grey;
        }

        &__name {
            @include bold-font(14);
        }

        &__job-role {
            @include core-font(14);

            margin-top: 6px;
            color: $col-intranet-mid-grey;
        }

        &__name,
        &__job-role {
            display: inline-block;
            max-width: 125px;
        }
    }

    @include media ($max-width: $min-desktop-width) {
        margin-bottom: 6px;

        &-item {
            width: 50%;
            margin-bottom: 24px;

            &__name,
            &__job-role {
                line-height: 18px;
            }
        }
    }

    @include media ($max-width: 400px) {
        &-item {
            width: 100%;
        }
    }
}
