// Intranet `info tag`
.intra-info-tag {
    @include bold-font(14);

    display: inline-block;
    padding: 1px 6px;
    border-radius: 2px;
    background: $col-intranet-dark-blue;
    color: $col-septenary;

    &--light {
        background: $col-intranet-mid-grey;
    }
}
