// Intranet Article block
.intra-articleblock-group {
    @extend .list;
    @extend .list--reset;

    margin-bottom: 24px;

    li:not(:first-child) {
        margin-top: 24px;
    }
}

.intra-articleblock {
    color: $col-20;

    &__title {
        @include bold-font(18);
        
        margin-bottom: 5px;
        vertical-align: baseline;

        .intra-comments-blob {
            padding-left: 10px;
        }
    }

    &__subtitle {
        @include bold-font(14);

        display: block;
        margin-bottom: 7px;
        color: $col-intranet-mid-grey;
    }

    &__text {
        @include core-font(16);

        @include media($min-width: $min-desktop-width) {
            & > * {
                @include core-font(16);
            }

            &--emphasised {
                & > * {
                    @include core-font(18);
                }
            }
        }
    }

    &__meta {
        &-name {
            @include bold-font(14);

            display: inline-block;
            color: $col-intranet-dark-blue;
        }

        &-time {
            @include core-font(14);

            display: inline-block;
            padding-left: 4px;
            color: $col-intranet-mid-grey;
        }
    }
}