// Intra comments blob
.intra-comments-blob {
    @include clearfix;
    @include bold-font(14);

    display: inline-block;
    color: $col-intranet-mid-grey;

    svg {
        width: 12px;
        height: 11px;
        fill: $col-intranet-mid-grey;
    }

    &--bubble {
        padding: 6px 8px 5px;
        vertical-align: middle;
        line-height: 24px;
        border-radius: 20px;
        background: $col-octonary;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
        color: $col-16;

        svg {
            fill: $col-16;
        }
    }
}
