// Intranet `home header`
.intra-home-header {
    background: $col-primary;
    color: $col-septenary;
    height: 286px;

    &__inner {
        @extend .grid-wrapper;
        
        position: relative;
        height: 100%;
        top: -30px;
    }

    &__inner-contents {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    &__greeting {
        vertical-align: baseline;

        &-welcome {
            @include core-font(24);
        }

        &-name {
            @include bold-font(48);
        }
    }

    &__weather {
        @include core-font(18);

        position: relative;
        margin-top: 20px;

        &-icon {
            position: relative;
            width: 34px;
            height: 30px;
            top: 2px;
            margin-left: 5px;
        }

        @include media ($max-width: $min-tablet-width) {
            display: none;
        }
    }

    @include media ($max-width: $min-desktop-width) {
        height: 210px;

        &__weather {
            margin-top: 8px;
        }
    }
}
