{
    "openapi": "3.0.0",
    "x-spec-publication": {
        "try-this-api": {
            "disabled": false
        }
    },
    "info": {
        "version": "v1.2.29-beta",
        "title": "Personal Demographics Service (FHIR) API",
        "description": "## Overview\nUse this API to access the [Personal Demographics Service (PDS)](https://digital.nhs.uk/services/demographics)\n\n## Legal use\nThis API can only be used where there is a legal basis.",
        "contact": {
            "name": "Personal Demographics Service FHIR API Support",
            "url": "https://tbc.api.nhs.net",
            "email": "api.management@nhs.net"
        }
    },
    "servers": [
        {
            "url": "https://sandbox.api.service.nhs.uk/personal-demographics",
            "description": "Sandbox environment."
        },
        {
            "url": "https://api.service.nhs.uk/personal-demographics",
            "description": "Production environment."
        }
    ],
    "tags": [
        {
            "name": "Patients"
        },
        {
            "name": "Polling"
        }
    ],
    "paths": {
        "/Patient": {
            "parameters": [
                {
                    "in": "header",
                    "name": "NHSD-Session-URID",
                    "description": "A User Role ID (`URID`), also known as a User Role Profile ID (`URPID`), specifies the role the user is acting in.",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "pattern": "^[0-9]+$",
                        "example": "555021935107"
                    }
                },
                {
                    "in": "header",
                    "name": "Authorization",
                    "description": "An OAuthV2 access token presented in Bearer format.\n\nNote: This parameter is required unless interacting with the Sandbox.\n",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "format": "^Bearer\\ [[:ascii:]]+$",
                        "example": "Bearer g1112R_ccQ1Ebbb4gtHBP1aaaNM"
                    }
                }
            ],
            "get": {
                "summary": "Search for patient",
                "operationId": "search-patient",
                "externalDocs": {
                    "description": "ODS codes and documentation.",
                    "url": "https://fhir.nhs.uk/Id/ods-organization-code"
                },
                "description": "## Endpoint\nUse this endpoint to search for a patient in PDS.",
                "tags": [
                    "Patients"
                ],
                "parameters": [
                    {
                        "name": "_exact-match",
                        "description": "The search only returns results where the `score` field is 1.0.",
                        "example": true,
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "_history",
                        "description": "The search looks for matches in historic information such as previous names and addresses.",
                        "example": true,
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A completed search, containing zero, one, or many matching patients.",
                        "content": {
                            "application/fhir+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "resourceType": {
                                            "type": "string",
                                            "description": "FHIR Resource Type.",
                                            "default": "Bundle"
                                        },
                                        "type": {
                                            "type": "string",
                                            "description": "FHIR Bundle Type.",
                                            "default": "searchset"
                                        },
                                        "deathDateTime" : {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2021-04-22T10:00:00+00:00"
                                        }
                                    }
                                },
                                "example": {
                                    "resourceType": "Bundle",
                                    "type": "searchset",
                                    "timestamp": "2019-12-25T12:00:00+00:00",
                                    "total": 1,
                                    "entry": [
                                        {
                                            "fullUrl": "https://beta.api.digital.nhs.uk/personal-demographics/Patient/9000000009",
                                            "search": {
                                                "score": 1
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid search paramaters supplied.",
                        "content": {
                            "application/fhir+json": {
                                "schema": {
                                    "type": "object",

                                    "title": "Response Schema with all simple fields.",

                                    "deprecated": true,


                                    "description": "Response Test Schema Object description in `Markdown`.",

                                    "multipleOf": 1.2,

                                    "minimum": -2.3,
                                    "exclusiveMinimum": true,
                                    "maximum": 2.2,
                                    "exclusiveMaximum": true,

                                    "minLength": 11,
                                    "maxLength": 22,

                                    "pattern": "^(?:[0-9]{4}-[0-9]{2}-[0-9]{2})?(?:[ T][0-9]{2}:[0-9]{2}:[0-9]{2})?(?:[.,][0-9]{3})?",

                                    "maxItems": 44,
                                    "minItems": 33,

                                    "uniqueItems": true,

                                    "minProperties": 3,
                                    "maxProperties": 5,

                                    "format": "int(32)",

                                    "nullable": true,

                                    "readOnly": true,
                                    "writeOnly": true
                                },
                                "examples": {
                                    "not-enough": {
                                        "summary": "too few search params",
                                        "value": {
                                            "resourceType": "OperationOutcome",
                                            "issue": [
                                                {
                                                    "severity": "error",
                                                    "code": "value"
                                                }
                                            ]
                                        }
                                    },
                                    "bad-combination": {
                                        "summary": "Invalid combination of search parameters",
                                        "value": {
                                            "resourceType": "OperationOutcome",
                                            "issue": [
                                                {
                                                    "severity": "error",
                                                    "code": "value"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Patient/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "The patient's NHS Number. The primary identifier of a patient, unique within NHS England and Wales.",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "example": "9000000009"
                    }
                },
                {
                    "in": "header",
                    "name": "NHSD-Session-URID",
                    "description": "A User Role ID (`URID`), also known as a User Role Profile ID (`URPID`).",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "pattern": "^[0-9]+$",
                        "example": "555021935107"
                    }
                }
            ],
            "get": {
                "description": "## Overview\nUse this endpoint to get patient details from PDS for a given NHS Number.",
                "summary": "Retrieve a patient's resource",
                "operationId": "get-patient",
                "tags": [
                    "Patients"
                ],
                "responses": {
                    "200": {
                        "description": "Information successfully returned.",
                        "headers": {
                            "ETag": {
                                "schema": {
                                    "type": "string",
                                    "pattern": "^W/\"[0-9]+\"$",
                                    "example": "W/\"2\""
                                },
                                "description": "Record version identifier enclosed in quotes and preceded by 'W/'. For example, `W/\"2\"`."
                            }
                        },
                        "content": {
                            "application/fhir+json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "id"
                                    ],
                                    "additionalProperties": false,
                                    "properties": {
                                        "resourceType": {
                                            "type": "string",
                                            "description": "FHIR resource type.",
                                            "default": "Patient",
                                            "readOnly": true
                                        },
                                        "id": {
                                            "description": "The patient's NHS Number. The primary identifier of a patient, unique within NHS England and Wales. Always 10 digits and must be a [valid NHS Number](https://www.datadictionary.nhs.uk/data_dictionary/attributes/n/nhs/nhs_number_de.asp).",
                                            "type": "string",
                                            "pattern": "^\\d{10}$",
                                            "example": "9000000009"
                                        }
                                    }
                                },
                                "example": {
                                    "address": [
                                        {

                                            "id": "456",
                                            "line": [
                                                "1 Trevelyan Square",
                                                "Boar Lane",
                                                "City Centre",
                                                "Leeds",
                                                "West Yorkshire"
                                            ],
                                            "postalCode": "LS1 6AE",
                                            "use": "home"
                                        }
                                    ],
                                    "birthDate": "2010-10-22"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid NHS number supplied.",
                        "content": {
                            "application/fhir+json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Outcome of an operation that does not result in a resource or bundle being returned (e.g. error, async/batch submission).\n\nSearch outcomes:\n\n| Code                       | Response Code | Description                                   |\n| -------------------------- | ------------- | --------------------------------------------- |\n| INVALID_SEARCH_DATA\t       | 400           | The search parameters are invalid. A description of what exactly is at fault will be added to the display. |\n| TOO_MANY_MATCHES           | 200           | Too many matches were found - user should be told to refine their search parameters.\t|\n",
                                    "properties": {
                                        "resourceType": {
                                            "type": "string",
                                            "description": "FHIR Resource Type.",
                                            "default": "OperationOutcome",
                                            "readOnly": true
                                        },
                                        "issue": {
                                            "type": "array",
                                            "description": "List of issues that have occurred.",
                                            "minItems": 1,
                                            "items": {
                                                "type": "object",
                                                "required": [
                                                    "severity",
                                                    "code"
                                                ]
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "resourceType": "OperationOutcome",
                                    "issue": [
                                        {
                                            "severity": "error",
                                            "code": "value",
                                            "details": {
                                                "coding": [
                                                    {
                                                        "system": "https://fhir.nhs.uk/R4/CodeSystem/Spine-ErrorOrWarningCode",
                                                        "version": "1",
                                                        "code": "INVALID_RESOURCE_ID",
                                                        "display": "Resource Id is invalid"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "## Overview\nUse this endpoint to update patient details in PDS.",
                "summary": "Update a patient's resource",
                "operationId": "update-patient-partial",
                "tags": [
                    "Patients"
                ],
                "externalDocs": {
                    "description": "IETF RFC 6902, which defines json-patch.",
                    "url": "https://tools.ietf.org/html/rfc6902"
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "If-Match",
                        "description": "Latest known version identifier enclosed in quotes preceded by `W/`.\n\nSend the value of this resource's `ETag` response header (or `meta.versionId` property) as received.\n",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^W/\"[0-9]+\"$",
                            "example": "W/\"2\""
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",

                                "title": "Request Schema with all simple fields.",

                                "deprecated": true,


                                "description": "Request Test Schema Object description in `Markdown`.",

                                "multipleOf": 1.2,

                                "minimum": -2.3,
                                "exclusiveMinimum": true,
                                "maximum": 2.2,
                                "exclusiveMaximum": true,

                                "minLength": 11,
                                "maxLength": 22,

                                "pattern": "^(?:[0-9]{4}-[0-9]{2}-[0-9]{2})?(?:[ T][0-9]{2}:[0-9]{2}:[0-9]{2})?(?:[.,][0-9]{3})?",

                                "maxItems": 44,
                                "minItems": 33,

                                "uniqueItems": true,

                                "minProperties": 3,
                                "maxProperties": 5,

                                "format": "int(32)",

                                "nullable": true,

                                "readOnly": true,
                                "writeOnly": true
                            },
                            "examples": {
                                "add-deceased-date-time": {
                                    "summary": "Add a new single item (deceasedDateTime) to the patient",
                                    "value": {
                                        "patches": [
                                            {
                                                "op": "add",
                                                "path": "/deceasedDateTime",
                                                "value": "2010-10-22T00:00:00+00:00"
                                            }
                                        ]
                                    }
                                },
                                "update-gender": {
                                    "summary": "Update the simple item (gender)",
                                    "value": {
                                        "patches": [
                                            {
                                                "op": "replace",
                                                "path": "/gender",
                                                "value": "male"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "The patch was syntactically correct and was accepted.",
                        "headers": {
                            "Content-Location": {
                                "description": "Polling location of the update",
                                "schema": {
                                    "type": "string",
                                    "example": "/Polling/20200522091633363041_461139_1524772598"
                                }
                            },
                            "Retry-After": {
                                "description": "Time to wait between polls in milliseconds",
                                "schema": {
                                    "type": "string",
                                    "example": "100"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Client error.",
                        "content": {
                            "application/fhir+json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Outcome of an operation that does not result in a resource or bundle being returned (e.g. error, async/batch submission).\n\nSearch outcomes:\n\n| Code                       | Response Code | Description                                   |\n| -------------------------- | ------------- | --------------------------------------------- |\n| INVALID_SEARCH_DATA\t       | 400           | The search parameters are invalid. A description of what exactly is at fault will be added to the display. |\n| TOO_MANY_MATCHES           | 200           | Too many matches were found - user should be told to refine their search parameters.\t|\n",
                                    "properties": {
                                        "resourceType": {
                                            "type": "string",
                                            "description": "FHIR Resource Type.",
                                            "default": "OperationOutcome",
                                            "readOnly": true
                                        },
                                        "issue": {
                                            "type": "array",
                                            "description": "List of issues that have occurred.",
                                            "minItems": 1,
                                            "items": {
                                                "type": "object",
                                                "required": [
                                                    "severity",
                                                    "code"
                                                ],
                                                "properties": {
                                                    "severity": {
                                                        "type": "string",
                                                        "enum": [
                                                            "fatal",
                                                            "error",
                                                            "warning",
                                                            "information"
                                                        ],
                                                        "description": "Severity of the error.",
                                                        "example": "error"
                                                    },
                                                    "code": {
                                                        "type": "string",
                                                        "description": "FHIR error code.",
                                                        "example": "invalid",
                                                        "enum": [
                                                            "incomplete",
                                                            "throttled",
                                                            "informational"
                                                        ]
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "invalid-nhs-number": {
                                        "summary": "Invalid NHS number supplied",
                                        "value": {
                                            "resourceType": "OperationOutcome",
                                            "issue": [
                                                {
                                                    "severity": "error",
                                                    "code": "value",
                                                    "details": {
                                                        "coding": [
                                                            {
                                                                "system": "https://fhir.nhs.uk/R4/CodeSystem/Spine-ErrorOrWarningCode",
                                                                "version": "1",
                                                                "code": "INVALID_RESOURCE_ID",
                                                                "display": "Resource Id is invalid"
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "no-patches-submitted": {
                                        "summary": "No patches submitted",
                                        "value": {
                                            "resourceType": "OperationOutcome",
                                            "issue": [
                                                {
                                                    "severity": "error",
                                                    "code": "required",
                                                    "details": {
                                                        "coding": [
                                                            {
                                                                "system": "https://fhir.nhs.uk/R4/CodeSystem/Spine-ErrorOrWarningCode",
                                                                "version": "1",
                                                                "code": "MISSING_VALUE",
                                                                "display": "Missing value - patches"
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Polling/{message_id}": {
            "parameters": [
                {
                    "name": "message_id",
                    "in": "path",
                    "description": "The message ID of the accepted update that needs to be submitted to confirm the resource a successfully updated.",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "example": 20200522091633363041000001
                    }
                },
                {
                    "in": "header",
                    "name": "NHSD-Session-URID",
                    "description": "A User Role ID (`URID`), also known as a User Role Profile ID (`URPID`).\n",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "pattern": "^[0-9]+$",
                        "example": "555021935107"
                    }
                }
            ],
            "get": {
                "description": "## Overview\nUse this endpoint to poll for the outcome of an updated patient record.",
                "summary": "Retrieve the outcome of the accepted update.",
                "operationId": "polling",
                "tags": [
                    "Polling"
                ],
                "responses": {
                    "200": {
                        "description": "Patient updated.",
                        "headers": {
                            "ETag": {
                                "schema": {
                                    "type": "string",
                                    "pattern": "^W/\"[0-9]+\"$",
                                    "example": "W/\"2\""
                                },
                                "description": "Record version identifier enclosed in quotes and preceded by 'W/'. For example, `W/\"2\"`.\n\nCorresponds to `meta.versionId` attribute in the patient resource body.\n"
                            }
                        },
                        "content": {
                            "application/fhir+json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "id"
                                    ],
                                    "additionalProperties": false,
                                    "properties": {
                                        "resourceType": {
                                            "type": "string",
                                            "description": "FHIR resource type.",
                                            "default": "Patient",
                                            "readOnly": true
                                        },
                                        "id": {
                                            "description": "The patient's NHS Number. The primary identifier of a patient, unique within NHS England and Wales. Always 10 digits and must be a [valid NHS Number](https://www.datadictionary.nhs.uk/data_dictionary/attributes/n/nhs/nhs_number_de.asp).",
                                            "type": "string",
                                            "pattern": "^\\d{10}$",
                                            "example": "9000000009"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Client error after the patch was accepted and patient was not updated.",
                        "content": {
                            "application/fhir+json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Outcome of an operation that does not result in a resource or bundle being returned (e.g. error, async/batch submission).\n\nSearch outcomes:\n\n| Code                       | Response Code | Description                                   |\n| -------------------------- | ------------- | --------------------------------------------- |\n| INVALID_SEARCH_DATA\t       | 400           | The search parameters are invalid. A description of what exactly is at fault will be added to the display. |\n| TOO_MANY_MATCHES           | 200           | Too many matches were found - user should be told to refine their search parameters.\t|\n",
                                    "properties": {
                                        "resourceType": {
                                            "type": "string",
                                            "description": "FHIR Resource Type.",
                                            "default": "OperationOutcome",
                                            "readOnly": true
                                        },
                                        "issue": {
                                            "type": "array",
                                            "description": "List of issues that have occurred.",
                                            "minItems": 1,
                                            "items": {
                                                "type": "object",
                                                "required": [
                                                    "severity",
                                                    "code"
                                                ],
                                                "properties": {
                                                    "severity": {
                                                        "type": "string",
                                                        "enum": [
                                                            "fatal",
                                                            "error",
                                                            "warning",
                                                            "information"
                                                        ],
                                                        "description": "Severity of the error.",
                                                        "example": "error"
                                                    },
                                                    "code": {
                                                        "type": "string",
                                                        "description": "FHIR error code.",
                                                        "example": "invalid",
                                                        "enum": [
                                                            "invalid",
                                                            "structure",
                                                            "required",
                                                            "value"
                                                        ]
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "business-rule-failure": {
                                        "summary": "Business rule failure; start date was after the end date.",
                                        "value": {
                                            "resourceType": "OperationOutcome",
                                            "issue": [
                                                {
                                                    "severity": "error",
                                                    "code": "structure",
                                                    "details": {
                                                        "coding": [
                                                            {
                                                                "system": "https://fhir.nhs.uk/R4/CodeSystem/Spine-ErrorOrWarningCode",
                                                                "version": "1",
                                                                "code": "INVALID_UPDATE",
                                                                "display": "Invalid update with error - business effective start date is after the end date"
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "parameters": {
            "Id": {
                "name": "id",
                "in": "path",
                "description": "The patient's NHS Number. The primary identifier of a patient, unique within NHS England and Wales. Always 10 digits and must be a [valid NHS Number](https://www.datadictionary.nhs.uk/data_dictionary/attributes/n/nhs/nhs_number_de.asp).",
                "required": true,
                "schema": {
                    "type": "string",
                    "example": "9000000009"
                }
            },
            "MessageId": {
                "name": "message_id",
                "in": "path",
                "description": "The message ID of the accepted update that needs to be submitted to confirm the resource a successfully updated.",
                "required": true,
                "schema": {
                    "type": "string",
                    "example": 20200522091633363041000001
                }
            },
            "ObjectId": {
                "name": "object_id",
                "in": "path",
                "description": "A resource Object ID. The primary identifier of a resource.",
                "required": true,
                "schema": {
                    "type": "string",
                    "example": "507B7621"
                }
            },
            "IfMatch": {
                "in": "header",
                "name": "If-Match",
                "description": "Latest known version identifier enclosed in quotes preceded by `W/`.\n\nSend the value of this resource's `ETag` response header (or `meta.versionId` property) as received.\n",
                "required": true,
                "schema": {
                    "type": "string",
                    "pattern": "^W/\"[0-9]+\"$",
                    "example": "W/\"2\""
                }
            }
        },
        "schemas": {
            "Patient": {
                "type": "object",
                "required": [
                    "id"
                ],
                "additionalProperties": false,
                "properties": {
                    "resourceType": {
                        "type": "string",
                        "description": "FHIR resource type.",
                        "default": "Patient",
                        "readOnly": true
                    },
                    "id": {
                        "description": "The patient's NHS Number. The primary identifier of a patient, unique within NHS England and Wales. Always 10 digits and must be a [valid NHS Number](https://www.datadictionary.nhs.uk/data_dictionary/attributes/n/nhs/nhs_number_de.asp).",
                        "type": "string",
                        "pattern": "^\\d{10}$",
                        "example": "9000000009"
                    }
                }
            },
            "PatientSearch": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "resourceType": {
                        "type": "string",
                        "description": "FHIR resource type.",
                        "default": "Patient",
                        "readOnly": true
                    },
                    "id": {
                        "description": "The patient's NHS Number. The primary identifier of a patient, unique within NHS England and Wales. Always 10 digits and must be a [valid NHS Number](https://www.datadictionary.nhs.uk/data_dictionary/attributes/n/nhs/nhs_number_de.asp).",
                        "type": "string",
                        "pattern": "^\\d{10}$",
                        "example": "9000000009"
                    },
                    "deathDateTime" : {
                        "type": "string",
                        "format": "date-time",
                        "example": "2021-04-22T10:00:00+00:00"
                    }
                }
            }
        }
    }
}