@import "../environment/tools/mixins/layout";
@import "../environment/tools/mixins/typography";

.article-wrapper {
  max-width: $site-width;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  margin-bottom: $baseline-grid-unit * 20;

  + .article-wrapper {
    padding-top: 0;
  }

  @include media(desktop) {
    // max-width: $site-width * 1.21875;
  }
}

.article-wrapper--collapse-bottom {
  padding-bottom: 0;
}
