@import "../environment/tools/mixins/layout";
@import "../environment/tools/mixins/typography";

// Grid layout
// ==========================================================================

// Usage:
// For two equal columns

// <div class="grid-row">
//   <div class="column--one-half">
//
//   </div>
//   <div class="column--one-half">
//
//   </div>
// </div>

// Use .grid-row to define a row for grid columns to sit in
.grid-row {
    position: relative;
    @include grid-row;
}

.column {
    @include grid-column(4 / 4);
}


// Use .grid-column to create a grid column with 15px gutter
// By default grid columns break to become full width at 925px
.column--one-quarter {
    @include grid-column(1 / 4);
}

.column--one-third {
    @include grid-column(1 / 3);
}

.column--one-half {
    @include grid-column(1 / 2);
}

.column--two-thirds {
    @include grid-column(2 / 3);
}

.column--three-quarters {
    @include grid-column(3 / 4);
}

// Right floating column classes
.column--one-quarter-right {
    @include grid-column(1 / 4, $float: right);
}

.column--one-third-right {
    @include grid-column(1 / 3, $float: right);
}

.column--one-half-right {
    @include grid-column(1 / 2, $float: right);
}

.column--two-thirds-right {
    @include grid-column(2 / 3, $float: right);
}

.column--three-quarters-right {
    @include grid-column(3 / 4, $float: right);
}

.column--18-75 {
    @include grid-column(0.1875);
}

.column--81-25 {
    @include grid-column(0.8125);
}

.column--18-75,
.column--81-25 {
    position: relative;
    
    @include media($max-width: $desktop-width, $ignore-for-ie: true) {
        width: 100%;
    }
}

.column--no-padding,
.column--reset {
    padding-left: 0;
    padding-right: 0;
}

.column--no-left-padding,
.column--reset-left {
    padding-left: 0;
}

.column--no-right-padding,
.column--reset-right {
    padding-right: 0;
}

/* Override padding for custom columns */
.column--left {
    padding: 0 round($gutter * 1.5) 0 0;
}

.column--center {
    padding: 0 round($gutter * 1.5);
}

.column--right {
    padding: 0 0 0 round($gutter * 1.5);
}

@include media($max-width: $min-desktop-width, $ignore-for-ie: true) {
    .column--left,
    .column--center,
    .column--right {
        padding: 0;
    }
}


/* Grid wrapper */
.grid-wrapper {
    max-width: $site-width;
    margin: 0 auto;
    width: 100%;
    padding: 0 $gutter;

    @include media(wide, $ignore-for-ie: true) {
        max-width: $wide-desktop-width;
    }
}

.grid-wrapper--wide {
    padding: 0;
}

.grid-wrapper--full-width {
    max-width: 100%;
}

.grid-wrapper--bordered {
    border-bottom: 1px solid $col-senary;
    margin-bottom: $gutter * 2;
}

.grid-wrapper--collapse {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.grid-wrapper--collapse-bottom {
    padding-bottom: 0;
}

.grid-wrapper--article {
    margin-bottom: $baseline-grid-unit * 20;

    + .grid-wrapper--article {
        padding-top: 0;
    }
}


.debug {
    .grid-wrapper {
        background: red;
        background: rgba(255, 0, 0, 0.05);
    }

    .column {
        background: blue;
        background: rgba(0, 0, 255, 0.05);
    }

    .column--18-75 {
        background: yellow;
        background: rgba(255, 255, 0, 0.6);
    }

    .column--81-25 {
        background: orange;
        background: rgba(255, 100, 100, 0.9);
    }
}
