<?xml version="1.0" encoding="utf-8"?>
<Context>
    <!-- Disable session persistence across Tomcat restarts -->
    <Manager pathname=""/>

    <!-- Change the default repository storage location -->
    <!--
    <Parameter name="repository-directory" value="/data/storage" override="false"/>
    -->

    <!-- Start the repository as a remote server and bind it on the specified address -->
    <!--
    <Parameter name="start-remote-server" value="true" override="false"/>
    <Parameter name="repository-address" value="rmi://127.0.0.1:1099/hipporepository" override="false"/>
    -->

    <!-- Enable this to let wicket output a wicketpath attribute for elements,
         see: https://www.onehippo.org/library/development/create-a-selenium-test-case.html -->
    <Parameter name="output-wicketpaths" value="true"/>

    <Resource name="mail/Session" auth="Container" type="javax.mail.Session" mail.smtp.host="localhost" mail.smtp.port="2525"/>
    <Resource name="jdbc/targetingDS" auth="Container" type="javax.sql.DataSource" maxTotal="100" maxIdle="10" initialSize="10" maxWaitMillis="10000" testWhileIdle="true" testOnBorrow="false" validationQuery="SELECT 1" timeBetweenEvictionRunsMillis="10000" minEvictableIdleTimeMillis="60000" username="sa" password="" driverClassName="org.h2.Driver" url="jdbc:h2:${repo.path}/targeting/targeting;MVCC=TRUE"/>
    <Environment name="elasticsearch/targetingDS" value="{'indexName':'visits', 'locations':['http://localhost:9200/']}" type="java.lang.String"/>

    <!-- The onDemand servers contain the following configuration settings.  To change these values, contact BloomReach support  -->
    <!--<Resource name="mail/NHSMail" auth="Container" type="javax.mail.Session"
              mail.transport.protocol="smtp"
              mail.smtp.auth="true"
              mail.smtp.host="send.nhs.net"
              mail.smtp.port="587"
              mail.smtp.user="<***** NOMINATED EMAIL ADDRESS *****>"
              password="<***** NOMINATED EMAIL PASSWORD *****>"
              mail.smtp.from="<***** NOMINATED EMAIL ADDRESS *****>"
              mail.smtp.quitwait="false"
              mail.smtp.starttls.enable="true"
              mail.smtp.socketFactory.class="javax.net.ssl.SSLSocketFactory"
              mail.debug="<*** true (on DEV) or false (other servers) ***>"  />
     -->

</Context>