// Example CSS used by http://localhost:8080/site/static-ui/* only

.app-example-page {
    main {
        padding: 30px;
    }
    pre {
        box-sizing: border-box;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow: auto;
        overflow-y: hidden;
        font-size: 14px;
        line-height: 20px;
        background: #ffffff;
        border: 1px solid #777;
        padding: 10px;
        color: #333;

        code {
            padding: 10px;
            color: #333;
        }
    }
}
