// The Intranet styling system based on the NHSD styling system!
@import "nhsuk";
@import "intranet/intranet";

// Intranet colours
@import "intranet/environment/settings/colours";

// Intranet components
@import "intranet/intranet-components";
@import "intranet/components/intra-home-grid";
@import "intranet/components/intra-home-article-grid";
@import "intranet/components/intra-articleblock";
@import "intranet/components/intra-box";
@import "intranet/components/intra-home-header";
@import "intranet/components/intra-info-tag";
@import "intranet/components/intra-people-grid";
@import "intranet/components/intra-task-grid";
@import "intranet/components/intra-comments-blob";
@import "intranet/components/intra-tabs-tiles";
@import "intranet/components/intra-action-link";
@import "intranet/components/intra-waffle-icon";
