$color_1: #005eb8;
$color_2: #330072;
$color_3: #7c2855;
$color_4: #212b32;
$color_5: #002f5c;
$color_6: #fff;
$font-family_1: Frutiger W01,Arial,Sans-serif;
$background-color_1: #ffeb3b;
$background-color_2: #005eb8;
$background-color_3: #f0f4f5;
$background-color_4: #fff;
$border-color_1: #212b32;

@font-face {
	font-display: swap;
	font-family: "Frutiger W01";
	font-style: normal;
	font-weight: 400;
	src: url(https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.eot?#iefix);
	src: url(https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.eot?#iefix) format("eot"),url(https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2) format("woff2"),url(https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff) format("woff"),url(https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.ttf) format("truetype"),url(https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.svg#7def0e34-f28d-434f-b2ec-472bde847115) format("svg");
}
@font-face {
	font-display: swap;
	font-family: "Frutiger W01";
	font-style: normal;
	font-weight: 600;
	src: url(https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.eot?#iefix);
	src: url(https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.eot?#iefix) format("eot"),url(https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2) format("woff2"),url(https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff) format("woff"),url(https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.ttf) format("truetype"),url(https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.svg#eae74276-dd78-47e4-9b27-dac81c3411ca) format("svg");
}
@font-face {
	font-display: swap;
	font-family: "Frutiger W01";
	font-style: normal;
	font-weight: 400;
	src: url(https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.eot?#iefix);
	src: url(https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.eot?#iefix) format("eot"),url(https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2) format("woff2"),url(https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff) format("woff"),url(https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.ttf) format("truetype"),url(https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.svg#7def0e34-f28d-434f-b2ec-472bde847115) format("svg");
}
@font-face {
	font-display: swap;
	font-family: "Frutiger W01";
	font-style: normal;
	font-weight: 600;
	src: url(https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.eot?#iefix);
	src: url(https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.eot?#iefix) format("eot"),url(https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2) format("woff2"),url(https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff) format("woff"),url(https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.ttf) format("truetype"),url(https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.svg#eae74276-dd78-47e4-9b27-dac81c3411ca) format("svg");
}
.nhsuk-width-container {
	margin: 0 16px;
	max-width: 960px;
}
.nhsuk-width-container-fluid {
	margin: 0 16px;
	max-width: 100%;
}
a {
	color: $color_1;
	&:visited {
		color: $color_2;
	}
	&:hover {
		color: $color_3;
		text-decoration: none;
	}
	&:focus {
		background-color: $background-color_1;
		box-shadow: 0 -2px #ffeb3b,0 4px #212b32;
		color: $color_4;
		outline: 4px solid transparent;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
		&:visited {
			color: $color_4;
		}
		.nhsuk-icon {
			fill: #212b32;
		}
	}
	&:active {
		color: $color_5;
	}
}
.nhsuk-link--no-visited-state {
	&:link {
		color: $color_1;
	}
	&:visited {
		color: $color_1;
	}
	&:hover {
		color: $color_3;
	}
	&:active {
		color: $color_5;
	}
	&:focus {
		color: $color_4;
	}
}
:root {
	--container-width: 960px;
}
#nhse-global-menu[data-container-width=small] {
	--container-width: 960px;
}
#nhse-global-menu[data-container-width=medium] {
	--container-width: 1280px;
}
#nhse-global-menu[data-container-width=large] {
	--container-width: 1440px;
}
.nhse-global-menu__container.nhsuk-width-container {
	max-width: var(--container-width) !important;
}
.nhse-global-menu {
	background-color: $background-color_2;
	width: 100%;
	font-family: $font-family_1;
	.nhse-global-menu__container {
		align-content: space-between;
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 20px 0;
	}
	.nhse-global-menu__logo {
		text-decoration: none;
		&:hover {
			.nhse-global-menu__logo__name {
				text-decoration: underline;
			}
		}
	}
	.nhse-global-menu__logo__img {
		background-image: url('data:image/svg+xml,<svg width="157" height="64" viewBox="0 0 157 64" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_536_8802)"><path d="M1.27135 1.28677V62.7132H155.528V1.28677H1.27135Z" fill="%23005EB8"/><path d="M157 64V0H0V64H157ZM63.1212 6.18554L52.2813 57.7016H35.2631L24.5793 22.0557H24.4455L17.3304 57.7016H4.43856L15.3454 6.18554H32.4082L42.8912 41.8991H43.025L50.207 6.18554H63.0989H63.1212ZM111.767 6.18554L101.15 57.7016H87.4552L92.0052 35.6459H75.8123L71.2623 57.7016H57.5674L68.1843 6.18554H81.8791L77.8643 25.8935H94.0572L98.0943 6.18554H111.789H111.767ZM151.112 7.58519L147.811 17.8342C145.179 16.5926 141.588 15.4864 136.525 15.4864C131.105 15.4864 126.711 16.2991 126.711 20.4303C126.711 27.722 146.562 25.0131 146.562 40.6575C146.562 54.9023 133.447 58.582 121.581 58.582C116.295 58.582 110.228 57.3178 105.767 55.9182L109.001 45.4434C111.7 47.2268 117.142 48.4007 121.603 48.4007C126.064 48.4007 132.51 47.588 132.51 42.2829C132.51 34.0205 112.659 37.1132 112.659 22.5975C112.659 9.30088 124.235 5.32769 135.454 5.32769C141.766 5.32769 147.699 6.00494 151.134 7.60776L151.112 7.58519Z" fill="white"/></g><defs><clipPath id="clip0_536_8802"><rect width="157" height="64" fill="white"/></clipPath></defs></svg>');
		background-repeat: no-repeat;
		background-size: contain;
		height: 20px;
		width: 50px;
	}
	.nhse-global-menu__logo__name {
		color: $color_6;
		display: block;
		font-size: 13px;
		font-weight: 600;
		letter-spacing: -.45px;
		line-height: 13px;
		margin-left: -1px;
		padding-top: 5px;
	}
	.nhse-global-menu__btn {
		align-items: center;
		background: 0 0;
		color: $color_6;
		border: 1px solid #fff;
		border-top: none;
		border-bottom: none;
		display: flex;
		padding: 4px 16px 4px 8px;
		position: relative;
		font: inherit;
		cursor: pointer;
		outline: inherit;
		&:before {
			background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 10.3333C7.8 10.3333 7.66667 10.2666 7.53333 10.1333L4.2 6.79998C3.93333 6.53331 3.93333 6.13331 4.2 5.86665C4.46667 5.59998 4.86667 5.59998 5.13333 5.86665L8 8.73331L10.8667 5.86665C11.1333 5.59998 11.5333 5.59998 11.8 5.86665C12.0667 6.13331 12.0667 6.53331 11.8 6.79998L8.46667 10.1333C8.33333 10.2666 8.2 10.3333 8 10.3333Z" fill="white"/></svg>');
			background-repeat: no-repeat;
			content: "";
			background-size: contain;
			display: block;
			height: 24px;
			margin-right: 4px;
			width: 24px;
		}
		&:focus {
			background-color: $background-color_1;
			border-color: $border-color_1;
			color: $color_4;
			&:before {
				background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 10.3333C7.8 10.3333 7.66667 10.2666 7.53333 10.1333L4.2 6.79998C3.93333 6.53331 3.93333 6.13331 4.2 5.86665C4.46667 5.59998 4.86667 5.59998 5.13333 5.86665L8 8.73331L10.8667 5.86665C11.1333 5.59998 11.5333 5.59998 11.8 5.86665C12.0667 6.13331 12.0667 6.53331 11.8 6.79998L8.46667 10.1333C8.33333 10.2666 8.2 10.3333 8 10.3333Z" fill="black"/></svg>');
			}
		}
	}
	.nhse-global-menu__btn.active {
		&:before {
			transform: rotate(180deg);
		}
		&:focus {
			&:before {
				transform: rotate(180deg);
			}
		}
	}
	.nhse-global-menu__dropdown {
		background-color: $background-color_3;
		display: none;
		padding: 24px 0 8px 0;
	}
	.nhse-global-menu__dropdown.expanded {
		display: block;
	}
	.nhse-global-menu__dropdown__panel {
		border-bottom: 2px solid #aeb7bd;
		margin-bottom: 16px;
		padding-bottom: 8px;
		&:last-of-type {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	.nhse-global-menu__dropdown__panel__list {
		list-style: none;
		padding-left: 0;
		margin-bottom: 16px;
	}
	.nhse-global-menu__dropdown__panel__list__item {
		margin-bottom: 16px;
	}
	.nhse-global-menu__descriptor {
		font-size: 24px;
		font-size: 1.5rem;
		line-height: 1.33333;
		background-color: $background-color_4;
		font-weight: 600;
		line-height: 40px;
		padding: 16px 0;
	}
	h3 {
		font-size: 20px;
		font-size: 1.25rem;
		line-height: 1.4;
		margin-bottom: 16px;
		margin-top: 0;
	}
	ul {
		font-size: 16px;
		font-size: 1rem;
		line-height: 1.5;
		margin-top: 0;
	}
	p {
		margin-top: 0;
	}
}
.nhse-global-menu[data-theme=white] {
	background-color: $background-color_4;
	.nhse-global-menu__wrapper {
		border-bottom: 4px solid #005eb8;
	}
	.nhse-global-menu__logo__name {
		color: $color_4;
	}
	.nhse-global-menu__logo__img {
		background-image: url('data:image/svg+xml,<svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="presentation" focusable="false" viewBox="0 0 40 16"><path fill="%23005eb8" d="M0 0h40v16H0z"></path><path fill="%23fff" class="nhsuk-logo__text" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path></svg>');
	}
	.nhse-global-menu__btn {
		border: 1px solid #005eb8;
		border-top: none;
		border-bottom: none;
		color: $color_1;
		&:before {
			background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"><path fill="%23005eb8" d="M8 10.333a.605.605 0 0 1-.467-.2L4.2 6.8a.644.644 0 0 1 0-.933.644.644 0 0 1 .933 0L8 8.733l2.867-2.866a.644.644 0 0 1 .933 0 .644.644 0 0 1 0 .933l-3.333 3.333a.605.605 0 0 1-.467.2Z"/></svg>');
		}
	}
}
.nhse-global-menu-descriptor {
	font-family: $font-family_1;
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1.33333;
	background-color: $background-color_4;
	font-weight: 600;
	line-height: 40px;
}
@media (min-width:48.0625em) {
	.nhsuk-width-container {
		margin: 0 32px;
	}
	.nhsuk-width-container-fluid {
		margin: 0 32px;
	}
	.nhse-global-menu {
		.nhse-global-menu__dropdown__panel__container {
			justify-content: space-between;
			display: flex;
		}
	}
}
@media (min-width:1024px) {
	.nhsuk-width-container {
		margin: 0 auto;
	}
}
@media print {
	a {
		&:after {
			color: $color_4;
			content: " (Link: "attr(href) ")";
			font-size: 14pt;
		}
	}
	.nhse-global-menu {
		.nhse-global-menu__descriptor {
			font-size: 24pt;
			line-height: 1.05;
		}
		h3 {
			font-size: 18pt;
			line-height: 1.15;
		}
		ul {
			font-size: 14pt;
			line-height: 1.15;
		}
	}
	.nhse-global-menu-descriptor {
		font-size: 24pt;
		line-height: 1.05;
	}
}
@media (min-width:375px) {
	.nhse-global-menu {
		.nhse-global-menu__logo__img {
			height: 24px;
			width: 60px;
		}
		.nhse-global-menu__logo__name {
			font-size: 17px;
			line-height: 17px;
		}
	}
}
@media (min-width:450px) {
	.nhse-global-menu {
		.nhse-global-menu__logo__img {
			height: 32px;
			width: 80px;
		}
		.nhse-global-menu__logo__name {
			font-size: 22px;
			line-height: 22px;
		}
		.nhse-global-menu__btn {
			padding: 8px 16px 8px 8px;
		}
	}
}
@media (min-width:61.875em) {
	.nhse-global-menu {
		.nhse-global-menu__dropdown__panel {
			border-bottom: none;
			display: inline-block;
			margin-right: 24px;
			width: 65%;
			&:last-of-type {
				margin-right: 0;
				width: 32%;
			}
		}
	}
}
@media (min-width:40.0625em) {
	.nhse-global-menu {
		.nhse-global-menu__descriptor {
			font-size: 32px;
			font-size: 2rem;
			line-height: 1.25;
		}
		h3 {
			font-size: 24px;
			font-size: 1.5rem;
			line-height: 1.33333;
			margin-bottom: 24px;
		}
		ul {
			font-size: 19px;
			font-size: 1.1875rem;
			line-height: 1.47368;
		}
	}
	.nhse-global-menu-descriptor {
		font-size: 32px;
		font-size: 2rem;
		line-height: 1.25;
	}
}

