<article class="nhsd-o-code-viewer nhsd-!t-margin-bottom-3">
    <div class="nhsd-o-code-viewer__tab-content" role="tabpanel" aria-hidden="true">
        <div class="nhsd-o-code-viewer__code nhsd-o-code-viewer__code__slim">
            <div class="nhsd-o-code-viewer__code-content nhsd-o-code-viewer__code-content__slim">
                <pre class="line-numbers"><code>{{this}}</code></pre>
            </div>
        </div>
    </div>
</article>