<div class="nhsd-m-table nhsd-t-body">
    <table data-no-sort="true">
        <thead class="nhsd-o-schema__header">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{{render_schema this}}}
        </tbody>
    </table>
</div>