{{! For model's reference see io.swagger.v3.oas.models.media.Schema and extending classes}}
{{#assign "schemaUUID"}}{{uuid}}{{/assign}}
<tr class="nhsd-o-schema__expanded" data-schema-uuid="{{variable "schemaUUID"}}" data-indentation="{{indentation}}">

    {{! 'Name' column (values that don't require labels) }}
    <td style="padding-left: {{indentation weighting=1.5}}em;" class="nhsd-o-schema__name-column">
        {{#or properties anyOf oneOf allOf}}
            <a class="nhsd-o-schema__button nhsd-o-schema__collapser nhsd-!t-display-hide" data-schema-uuid="{{variable "schemaUUID"}}" onclick="collapseChildren('{{variable "schemaUUID"}}')"></a>
        {{else}}
            {{#eq type 'array'}}
                <a class="nhsd-o-schema__button nhsd-o-schema__collapser nhsd-!t-display-hide" data-schema-uuid="{{variable "schemaUUID"}}" onclick="collapseChildren('{{variable "schemaUUID"}}')"></a>
            {{/eq}}
        {{/or}}
        {{borders}}
        {{#block "propertyName"}}{{/block}}

        {{#or type format}}
        <div>
            {{#type}}<span class="nhsd-t-col-grey-mid">{{this}}</span>{{/type}}
            {{#format}}<span class="nhsd-t-col-blue-light">{{this}}</span>{{/format}}
        </div>
        {{/or}}

        {{#deprecated}}<div><span class="nhsd-t-col-grey-mid">deprecated</span></div>{{/deprecated}}
        {{#uniqueItems}}<div><span class="nhsd-t-col-grey-mid">unique items</span></div>{{/uniqueItems}}
        {{#nullable}}<div><span class="nhsd-t-col-grey-mid">nullable</span></div>{{/nullable}}
        {{#readOnly}}<div><span class="nhsd-t-col-grey-mid">read-only</span></div>{{/readOnly}}
        {{#writeOnly}}<div><span class="nhsd-t-col-grey-mid">write-only</span></div>{{/writeOnly}}
        {{#ifRequired}}<div><span class="nhsd-!t-col-red">required</span></div>{{/ifRequired}}
    </td>

    {{! 'Description' column (actual description + values that do require labels) }}
    <td class="nhsd-o-schema__description-column">
        {{#title}}<div class="nhsd-o-schema__title">{{this}}</div>{{/title}}

        {{#description}}<div class="nhsd-o-schema__description">{{{markdown this levelToNormaliseHeadingsTo=7}}}</div>{{/description}}

        {{#pattern}}<div>Pattern: <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">{{this}}</span></div>{{/pattern}}

        {{#ifNotNull multipleOf}}<div>Multiple of: <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">{{multipleOf}}</span></div>{{/ifNotNull}}

        {{#ifNotNull maximum}}
        <div>Maximum: <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">{{maximum}}</span>
            <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">{{#if exclusiveMaximum}}(exclusive){{else}}(inclusive){{/if}}</span>
        </div>
        {{/ifNotNull}}

        {{#ifNotNull minimum}}
        <div>Minimum: <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">{{minimum}}</span>
            <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">{{#if exclusiveMinimum}}(exclusive){{else}}(inclusive){{/if}}</span>
        </div>
        {{/ifNotNull}}

        {{#ifNotNull maxLength}}<div>Max length: <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">{{maxLength}}</span></div>{{/ifNotNull}}
        {{#ifNotNull minLength}}<div>Min length: <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">{{minLength}}</span></div>{{/ifNotNull}}

        {{#ifNotNull maxItems}}<div>Max items: <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">{{maxItems}}</span></div>{{/ifNotNull}}
        {{#ifNotNull minItems}}<div>Min items: <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">{{minItems}}</span></div>{{/ifNotNull}}

        {{#ifNotNull maxProperties}}<div>Max properties: <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">{{maxProperties}}</span></div>{{/ifNotNull}}
        {{#ifNotNull minProperties}}<div>Min properties: <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">{{minProperties}}</span></div>{{/ifNotNull}}

        {{#if enum}}<div>Allowed values: {{{enumeration enum}}}</div>{{/if}}

        {{#valueOfTypeAny default}}
            <div>Default: <pre><code>{{prettyJson default}}</code></pre></div>
        {{else}}
            <div>Default: <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">{{sanitiseTypeAny default}}</span></div>
        {{/valueOfTypeAny}}

        {{^enum}}
        {{#valueOfTypeAny example ignoreClass="java.util.Map"}}
            <div>Example: <pre><code>{{prettyJson example}}</code></pre></div>
        {{else}}
            <div>Example: <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">{{sanitiseTypeAny example}}</span></div>
        {{/valueOfTypeAny}}
        {{/enum}}
    </td>
</tr>

{{#each properties}}
    {{#partial "propertyName"}}
        {{#@key}}<div><strong>{{this}}</strong></div>{{/@key}}
    {{/partial}}
    {{>schema_object}}
{{/each}}

{{#items}}
    {{#or anyOf oneOf allOf}}
        {{>schema_xof_if}}
    {{else}}
        {{#partial "propertyName"}}{{/partial}}
        {{>schema_object}}
    {{/or}}
{{/items}}

{{>schema_xof_with}}
