@import "../settings/colours";

.util-visuallyhidden {
  @include visuallyhidden;
}

.util-nofocus:focus {
  outline: none;
}

.util-bg-tint__yellow {
  background-color: $yellow-10;
}

.util-print-only {
  @media screen {
    display: none;
  }
}

.util-print-hide {
  @media print {
    display: none;
  }
}
