// For uses with bespoke CSS that does not belong in the UI toolkit.
@import "settings/fonts";
@import "components/viz";
@import "components/highlights";
@import "components/nhsd-orgstructure";
@import "components/api-catalogue";
@import "components/api-specification";
@import "components/publications";
@import "components/ndrs-promo-banner";
//@import "components/local-header";
@import "components/article-section-nav";
@import "units/link";

// Primary NDRS blues
// =================

// To be removed once DW-2763 toolkit changes are available
body {
  background-color: #ffffff !important;
}
body,
html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #353535;
  line-height: 20px;
  font-size: 0.889rem;
}
body,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr {
  font-family: "Arial", Helvetica, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Calibri", sans-serif !important;
}
.nhsd-o-global-header {
  &__search-content-box {
    position: relative;
    padding: 20px;
  }

  &__header-section {
    width: 100%;
    position: relative;
    text-align: left;
  }

  &__search-label {
    display: inline;
    line-height: 42px;
  }

  &__search-close-button {
    margin: 0;
    margin-right: -5px;
    float: right;
  }

  .nhsd-m-search-bar {
    padding: 0;
    margin-top: 6px;
  }
}
.nhsd-m-table caption {
  text-align: left;
  font-size: 1.444rem;
  color: #231f20;
  font-weight: 600;
}
#main-content {
  .nhsd-o-hero {
    background-color: #f0f4f5 !important;
    p {
      color: #353535;
    }
  }
}