// NHSD style modifications for print

// Hide things not useful for print
.nhsd-m-button-nav,
.nhsd-m-sticky-navigation,
.nhsd-a-digiblocks,
.nhsd-o-global-footer,
.nhsd-a-arrow,
.nhsd-a-icon,
.nhsd-m-character-block-list,
.nhsd-o-global-header__search,
.nhsd-o-global-header__menu,
.nhsd-a-button,
.nhsd-m-download-card__image-box,
._hj-1Fv4C__Feedback__container,
{
    display: none !important;
}

@page  {
    size: portrait A4;
}
// Increase contrasts, remove backgrounds
* {
    color: black !important;
    background: white !important;
    border-color: black !important;
}
.nhsd-m-logo-link {
    border-color: transparent !important;
}

div[class*="nhsd-o-hero"]
{
    color: transparent !important;
    background: transparent !important;
    border-color: transparent !important;
}

// this is not being picked up?
.nhsd-a-box--border-yellow
{
    border-color: black;
}

p, dt, dd, hr
{
    color: black !important;
}

// Use full page width
.nhsd-t-grid, [class*="nhsd-t-col-"], .nhsd-t-heading, .nhsd-t-body {
    max-width: 100% !important;
    width: 100% !important;
}

// Don't page break on these components
.nhsd-a-image, .nhsd-a-box, .nhsd-m-card {
    display: block !important;
    page-break-inside: avoid;
}

// Fix issues with unsupported display types (flex)
div, img, article {
    display: block !important;
    color: black !important;
    background: white !important;
    border-color: black !important;
}