// NHSD style modifications for print

// Hide things not useful for print
.nhsd-m-button-nav,
.nhsd-m-sticky-navigation,
.nhsd-a-digiblocks,
.nhsd-o-global-footer,
.nhsd-a-arrow,
.nhsd-a-icon,
.nhsd-m-character-block-list,
.nhsd-o-global-header__search,
.nhsd-o-global-header__menu,
.nhsd-a-button,
.nhsd-m-download-card__image-box {
  display: none !important;
}

// Increase contrasts, remove backgrounds
* {
  color: #000000 !important;
  background: none !important;
  border-color: #000000 !important;
}
.nhsd-m-logo-link {
  border-color: transparent !important;
}

// Use full page width
.nhsd-t-grid,
[class*="nhsd-t-col-"],
.nhsd-t-heading,
.nhsd-t-body {
  max-width: 100% !important;
  width: 100% !important;
}

// Don't page break on these components
.nhsd-a-image,
.nhsd-a-box,
.nhsd-m-card {
  display: block !important;
  page-break-inside: avoid;
}

// Fix issues with unsupported display types (flex)
div,
img,
article {
  display: block !important;
}
