.nhsd-api-catalogue {

  &__scrollable-component {
    overflow-y: auto;
    max-height: 90vh;
  }

  &__filter-unavailable {
    color: #768692 !important;
    pointer-events: none;
  }

  &__filter-unavailable:hover {
    cursor: default;
  }

  & .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    pointer-events: none;
  }

  & .checkmark::after {
    content: "";
  }

  & .checkmark.selected::after {
    display: block;
    position: absolute;
    top: 8px;
    left: 10px;
    width: 5px;
    height: 10px;
    margin: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid #3f525f;
    border-width: 0 2px 2px 0;
  }

  & .nhsd-a-checkbox {
    position: relative;

    & input {
      pointer-events: none;
    }
  }

  input.section-folder {

    &:checked {
      ~ .nhsd-m-filter-menu-section__menu-button svg {
        rotate: 180deg;
      }
    }

    &:not(:checked) {

      ~ .section-entries,
      ~ hr:first-of-type {
        display: none;
      }
    }
  }

  & a.nhsd-a-checkbox__label {
    text-decoration: none;
    color: #231f20;
  }

  & .nhsd-m-filter-menu-section__menu-button {
    padding: 0;
  }
}

.nhsd-a-tag {
    white-space: nowrap;
}
