.nhsd-api-catalogue {

  &__scrollable-component {
    overflow-y: auto;
    max-height: 90vh;
  }

  & .checkmark {
    pointer-events: none;
  }

  & .checkmark::after {
    content: "";
  }

  & .checkmark.selected::after {
    display: block;
    position: absolute;
    top: 8px;
    left: 10px;
    width: 5px;
    height: 10px;
    margin: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid #3f525f;
    border-width: 0 2px 2px 0;
  }

  & .nhsd-a-checkbox {
    position: relative;

    & .nhsd-a-checkbox__label {
        position: relative;
        z-index: 0;

        &:not(.nhsd-api-catalogue__filter-unavailable) {
            & input[type="checkbox"] {
                cursor: pointer;
            }
        }
    }

    & .nhsd-api-catalogue__filter-unavailable {
        color: #768692;
        cursor: not-allowed;

        & input[type="checkbox"] {

            box-shadow: 0 0 0 2px #e8edee;

            &:hover::before {
              display: none;
            }
        }
    }

    & input[type="checkbox"] {
        &:hover::before {
            top: -60%;
            left: -60%;
            width: 2.175rem;
            height: 2.175rem;
        }

        pointer-events: none;
    }
  }

  & .section-entries {
    & div:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
  }

  input.section-folder {

    &:checked {
      ~ .nhsd-m-filter-menu-section__menu-button svg {
        rotate: 180deg;
      }
    }

    &:not(:checked) {

      ~ .section-entries,
      ~ hr:first-of-type {
        display: none;
      }
    }
  }

  & a.nhsd-a-checkbox__label {
    text-decoration: none;
    color: #3f525f;
  }

  & .nhsd-m-filter-menu-section__menu-button {
    padding: 0;
  }
}

.nhsd-a-tag {
    white-space: nowrap;
}

.filter-entries-edge {
    position: absolute;
    margin-left: -1em;
    top: 9px;
    bottom: 0px;
    width: 3.75px;
    content: "";
    background-color: #d5dade;

    &::before, &::after {
        content: "";
        position: absolute;
        width: 3.75px;
        height: 3.75px;
        background: #d5dade;
        border-radius: 50%;
    }

    &::before {
        top: -2.5px;
    }

    &::after {
        bottom: -2.5px;
    }
}

.filter-child-container {
    margin-left: 1em;
    position: relative;
}
