.nhsd-o-hero__stamp {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

@media (max-width:26.99em) {
    .nhsd-o-hero__inner-content-container {
        padding: 5.3333333333rem 1.111222rem;
    }
}
