/* Article sections */
.article-section {
    position: relative;
    width: 100%;
    margin-bottom: $default-spacing-unit * 2.75;
    padding-bottom: $default-spacing-unit * 2;
    border-bottom: 1px solid $grey-4;

    * + *:not(li) {
        margin-top: 14px;

        @include media(tablet) {
            margin-top: 20px;
        }
    }

    h3:not(:first-of-type) {
        margin-top: $gutter * 2;
    }

    .grid-row,
    .column {
        margin-top: 0;

        @include media(tablet) {
            margin-top: 0;
        }
    }

    @include media(desktop) {
        padding-bottom: $default-spacing-unit * 3;
    }
}

.article-section--no-border {
    border: none;
}

.article-section--no-bottom-padding {
    padding-bottom: 0;
}

.article-section--letter-group {
    @extend .article-section--no-bottom-padding;

    margin-bottom: $default-spacing-unit * 2;
}

.article-section--last-one {
    @extend .article-section--no-border;
    @extend .article-section--no-bottom-padding;
}

.article-section--summary:not(.article-section--summary-with-border) {
    padding-bottom: 0;
    border: none;

    h2 {
        @include bold-font(36);
    }
}

.article-section--top-tasks {
      padding-bottom: 0;
      border-bottom: none;
}

.article-section--child-pages {
    .list {
        list-style: none;

        li:not(:last-child) {
            margin-bottom: $baseline-grid-unit * 6;
        }

        li {
            padding-left: 0;
          
            p,
            h2 {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}

.article-section--hub-component {
    .component-list {
        margin-top: $gutter * 2;
    }
}

.article-section--padded {
    padding-top: $baseline-grid-unit * 12;
}

.article-section__title {
    position: relative;
}

.article-section__header {
    max-width: 620px;
}

.article-section__contents {
    position: relative;
    margin-top: 40px;
}


.article-section--data-and-information {
    .cta {
        margin-top: $gutter;
    }

    .cta-list--data-and-information {
        margin-bottom: $gutter * 2;

        @include media($max-width: $min-desktop-width) {
            margin-bottom: 0;
        } 
    }
}

.article-section--component {
    .child-page-list {
        margin-top: $gutter * 2;
    }
}

/* About us section */
.article-section--about-us {
    .article-section__contents {
        .column {
            margin-top: round($vertical-gap * 2);
        }
    }

    @include media(desktop) {
        .column:not(:first-child) {
            border-left: 1px solid $col-senary;
        }

        .column:first-child {
            padding-left: 0;
        }
    }
}
