/* Article sections */
.article-section {
    position: relative;
    width: 100%;
    margin-top: round($default-spacing-unit * 2);
    padding-top: $default-spacing-unit * 3;
    border-top: 1px solid $grey-4;

    &:first-child {
        padding-top: 0;
        border-top: none;
        margin-top: 0;
    }

    * + * {
        margin-top: 14px;

        @include media(tablet) {
            margin-top: 20px;
        }
    }

    * + li {
        margin-top: 0;

        @include media(tablet) {
            margin-top: 0;
        }
    }

    h3:not(:first-of-type) {
        margin-top: $gutter * 2;
    }

    .grid-row,
    .column {
        margin-top: 0;

        @include media(tablet) {
            margin-top: 0;
        }
    }

    @include media(desktop) {
        padding-top: $default-spacing-unit * 2;
    }
}

.article-section--letter-group {
    @extend .no-bottom-padding;

    margin-bottom: $gutter;
}

.article-section--last-one {
    @extend .no-border;
    @extend .no-bottom-padding;

    padding-top: 0;
}

.article-section--highlighted {
    &,
    & + .article-section {
        padding-top: 0;
        border-top: none;
    }
}

.article-section--child-pages {
    .list {
        list-style: none;

        li:not(:last-child) {
            margin-bottom: $baseline-grid-unit * 6;
        }

        li {
            padding-left: 0;
          
            p,
            h2 {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}

.article-section--hub-component {
    .component-list {
        margin-top: $gutter * 2;
    }
}

.article-section--padded {
    padding-top: $baseline-grid-unit * 12;
}

.article-section--reset-top {
    @extend .no-border;
    @extend .no-top-padding;
    @extend .no-top-margin;
}

.article-section--component {
    .child-page-list {
        margin-top: $gutter * 2;
    }
}

.article-section--data-and-information {
    .cta {
        margin-top: $gutter;
    }

    .cta-list--data-and-information {
        margin-bottom: $gutter * 2;

        @include media($max-width: $min-desktop-width) {
            margin-bottom: 0;
        } 
    }
}

.article-section--contact {
    .rich-text-content {
        padding-left: $gutter;
        border-left: 3px solid $col-senary;

        a {
            color: $col-quaternary;
            text-decoration: none;

            @include bold-font(18);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}



/* About us section */
.article-section--about-us {
    .article-section__contents {
        .column {
            margin-top: round($vertical-gap * 2);
        }
    }

    @include media(desktop) {
        .column:not(:first-child) {
            border-left: 1px solid $col-senary;
        }

        .column:first-child {
            padding-left: 0;
        }
    }
}


.article-section__title {
    position: relative;
}

.article-section__header {
    max-width: 620px;
}

.article-section__contents {
    position: relative;
    margin-top: 40px;
}
