@import "../units/list";

/* Article section nav */
.article-section-nav {
    padding-bottom: $default-spacing-unit * 2;
    border-bottom: 1px solid $grey-4;

    hr {
        background-color: $col-quaternary;
    }

    @include media(wide) {
        &:not(.article-section-nav--facets) {
            max-width: 320px;
        }
    }

    @include media(desktop) {
        padding-bottom: 0;
        border: none;
    }

    .article-section-nav__title {
        margin: $default-spacing-unit 0 $default-spacing-unit * 0.5;
        @include bold-font(24);

        @include media(desktop) {
            line-height: 24px;
        }
    }

    .article-section-nav__section {
        margin-top: round($gutter * 1.5);

        &:first-child {
            margin-top: 0;
        }
    }

    .article-section-nav__list {
        padding-top: $default-spacing-unit;
        margin-left: 0;
        list-style: disc;

        @include bold-font(18);

        li {
            padding-left: 0;
            margin-top: 10px;

            &:first-child {
                margin-top: 0;
            }
        }

        a {
            text-decoration: none;
        }
    }

    .article-section-nav__list--tag-links {
        list-style: none;
        padding-left: 0;

        @include media($max-width: $min-desktop-width, $ignore-for-ie: true) {
            @include clearfix;
            line-height: 0;

            li {
                display: inline-block;
                float: left;
                margin-left: 6px;
                margin-top: 0;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    .article-section-nav__menu {
        list-style: none;
        margin-top: $gutter 0 0;
        padding: $gutter 0 0;
        
        @include bold-font(18);
        @include clearfix;

        li {
            position: relative;
            display: inline-block;
            float: left;
            width: 38px;
            height: 38px;
            line-height: 38px;
            vertical-align: middle;
            text-align: center;
            margin: 0 3px 3px 0;
            background-color: $col-primary;

            a {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                color: $col-septenary;
            }

            &:hover,
            &:focus {
                a {
                    text-decoration: none;
                }
            }

            &.is-disabled {
                cursor: not-allowed;
                pointer-events: none;
                background-color: $col-senary;

                a {
                    color: $col-quinary;
                    text-decoration: none;
                }
            }
        }

        @include media($max-width: $min-desktop-width) {
            margin-top: round($gutter * 0.5);

            li {
                margin: 0 4px 4px 0;
            }
        }

        &.article-section-nav__menu--push {
            padding-top: $gutter;
        }
    }

    & + .article-section-nav {
        margin-top: $gutter * 2;
    }
}