/* Article header */
.article-header {
    margin-bottom: 40px;
}

.article-header--secondary {
    margin-bottom: 20px;
}

.article-header--tertiary {
    margin-bottom: 10px;
}

.article-header--detailed,
.article-header--with-icon {
    color: $col-septenary;
    padding-left: 0;
    padding-right: 0;

    @extend .white-links;
    @extend .white-links--secondary;
}

.article-header--detailed {
    .local-header__title,
    .hr {
        margin-top: round($gutter * 0.5);
    }
}

.article-header--with-icon {
    padding: $gutter * 3 0;

    .local-header__title{
        margin-top: $gutter * 1.5;
        margin-bottom: $gutter;
    }

    img {
        margin: 0 auto;
        max-width: 180px;
    }

    @include media($max-width: $min-desktop-width, $ignore-for-ie: true) {
        img {
            max-width: 100px;
        }
    }
}

.article-header__inner {
    position: relative;
}

.article-header__stamp {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: round($gutter * 0.5);

    @include media($max-width: $min-tablet-width, $ignore-for-ie: true) {
        position: relative;
    }
}

.article-header__title {
    background: $col-septenary;
}

.article-header__label {
    display: block;
    margin-top: $gutter;

    @include bold-font(26);
}

.article-header__subtitle {
    @include bold-font(22);

    margin-top: round($gutter * 0.5);
    margin-bottom: $gutter;
}



.article-header__detail-lines {
    margin-top: $gutter;
}

.article-header__detail-line {
    border-top: 1px solid $col-septenary;
    border-top: 1px solid rgba($col-septenary, 0.5);
    margin-top: 0;
    padding: $gutter 0 round($gutter * 0.5);

    &:first-child {
        border-top: none;
    }
}

.article-header__detail-list {
    @extend .list;
    @extend .list--inline;
    @extend .list--reset;

    .article-header__detail-list-key {
        min-width: 220px;

        @include bold-font(16);
    }

    .article-header__detail-list-value {
        margin: 0;
        float: left;
        max-width: 75%;

        @include core-font(16);
    }

    @include media($max-width: $min-desktop-width, $ignore-for-ie: true) {
        .article-header__detail-list-key,
        .article-header__detail-list-value {
            display: block;
            float: none;
            min-width: auto;
        }
    }
}

@media screen and (min-width: 600px) and (max-width: $min-desktop-width) {
    .local-header__title,
    .article-header__subtitle {
        max-width: 75%;
    }
}
