@import "../units/list";

/* Sticky nav */
#sticky-nav li.active {
  border-left: 5px solid #ffb81c;
  border-left-width: 7px;
  padding-left: 10px;
}

#sticky-nav li.active a {
    color: #425563;
    text-decoration:none;
    font-weight: bold;
}

/* Article section nav */
.article-section-nav-wrapper {
    position: relative;

    & + .article-section-nav-wrapper {
        margin-top: $gutter * 2;
    }
}

.article-section-nav {
    padding-top: $default-spacing-unit;
    padding-bottom: $default-spacing-unit * 2;
    border-bottom: 1px solid $grey-4;

    @include media(wide) {
        &:not(.article-section-nav--facets) {
            max-width: 320px;
        }
    }

    @include media(desktop) {
        padding-bottom: 0;
        border: none;
    }

    .article-section-nav__title {
        margin: 0 0 $default-spacing-unit;
        display: inline-block;
        padding: 0 10px 10px 0;
        border-bottom: $baseline-grid-unit solid $col-quaternary;

        @include bold-font(24);

        @include media(desktop) {
            line-height: 24px;
        }

        @include media($max-width: $min-desktop-width, $ignore-for-ie: true) {
            display: block;
            padding: 0 0 4px 0;
        }
    }

    .article-section-nav__section {
        margin-top: round($gutter * 1.5);

        &:first-child {
            margin-top: 0;
        }
    }

    .article-section-nav__list {
        margin-left: 0;
        list-style: none;

        @include bold-font(18);

        li {
            padding-left: 0;
            margin-top: 10px;

            &:first-child {
                margin-top: 0;
            }
        }

        a {
            text-decoration: underline;
        }

        .section-numbered {
            margin-left:20px;
            font-size: 16px;
        }
    }

    .article-section-nav__list--tag-links {
        list-style: none;
        padding-left: 0;

        @include media($max-width: $min-desktop-width, $ignore-for-ie: true) {
            @include clearfix;
            
            position: relative;
            line-height: 0;
            left: -6px;

            li {
                display: inline-block;
                float: left;
                margin-left: 6px;
                margin-top: 0;
                margin-bottom: 6px;
            }
        }
    }

    .article-section-nav__menu {
        list-style: none;
        margin-top: 0;
        padding: 0;
        
        @include bold-font(18);
        @include clearfix;

        li {
            position: relative;
            display: inline-block;
            float: left;
            width: 38px;
            height: 38px;
            line-height: 38px;
            vertical-align: middle;
            text-align: center;
            margin: 0 3px 3px 0;
            background-color: $col-primary;

            a {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                color: $col-septenary;
            }

            &:hover,
            &:focus {
                a {
                    text-decoration: none;
                }
            }

            &.is-disabled {
                cursor: not-allowed;
                pointer-events: none;
                background-color: $col-senary;

                a {
                    color: $col-quinary;
                    text-decoration: none;
                }
            }
        }

        @include media($max-width: $min-desktop-width) {
            li {
                margin: 0 4px 4px 0;
            }
        }
    }

    & + .article-section-nav {
        margin-top: $gutter * 3;
    }
}
