/* Article header */
.article-header {
    margin-bottom: 40px;
}

.article-header--secondary {
    margin-bottom: 20px;
}

.article-header--tertiary {
    margin-bottom: 10px;
}

.article-header--detailed {
    color: $col-septenary;
    padding-left: 0;
    padding-right: 0;

    @extend .white-links;
    @extend .white-links--secondary;

    .local-header__title,
    .hr {
        margin-top: round($gutter * 0.5);
    }
}

.article-header__inner {
    position: relative;
}

.article-header__stamp {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: round($gutter * 0.5);

    @include media($max-width: $min-tablet-width, $ignore-for-ie: true) {
        position: relative;
    }
}

.article-header__title {
    background: $col-septenary;
}

.article-header__label {
    display: block;
    margin-top: $gutter;

    @include bold-font(26);
}

.article-header__subtitle {
    @include bold-font(22);

    margin-top: round($gutter * 0.5);
    margin-bottom: $gutter;
}
