/* Article */
.article--service,
.article--general {
    .article-section--summary {
        & > *:not(h2) {
            @include bold-font(18);
        }
    }
}

.article--chaptered-publication {
    .column--right {
        @include media($max-width: $min-desktop-width, $ignore-for-ie: true) {
            margin-top: $gutter;
        }
    }
}

.article--search-results {
    .article-section-nav {
        border-bottom: none;
        padding-bottom: 0;
    }
}

.article--filtered-list {
    .article-section--summary {
        margin-bottom: $baseline-grid-unit * 12;
    }
}

.article--list {
    .cta-list {
        .cta:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}

.article-section--letter-group {
    .cta-list {
        .cta:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}

.article--news-hub {
    .article-section--letter-group {
        margin: round($gutter * 0.5) 0 0;
    }
}

// Remove bottom border from the last article section
.article:not(.article--list) {
    .article-section:first-of-type {
        border-top: none;
        padding-top: 0;
        margin-top: 0;
    }
}

.article--search-results {
    .article-section-nav {
        border-bottom: none;
        padding-bottom: 0;
    }
}

.article__label {
    color: $col-18;

    @include bold-font(26);
}

.article__date {
    margin-bottom: $gutter * 3;

    @include media($max-width: $min-desktop-width, $ignore-for-ie: true) {
        margin-bottom: $gutter * 1.5;
    }
}

.article__warning {
    .callout {
        padding: $gutter 20px;
        margin-bottom: $gutter * 1.5;
    }

    @include media($max-width: $min-tablet-width, $ignore-for-ie: true) {
        .callout {
            padding: $gutter;
        }
    }
}

.debug {
    .article:not(.article--list) {
        .article-section:first-of-type {
            background: yellow;
            background: rgba(255, 255, 0, 0.6);
        }
    }
}
