.blog-author {
    margin:0px;
}

.blog-backstory {
    background-color: #E5E9EC;
    padding: 20px;
}

.blog-contactus {
    padding: 20px;
    margin: 20px 0 40px ;
    border-left: 5px solid #CDCBCE;
}

.blog-social {
    display: flex;

    .blog-social-icon {
        padding: 5px 5px 5px 0px;
        flex: none;

        &__img {
            width:80px;
        }
    }
}

.lead-paragraph p {
    font-size: 22px;
}

.lead-image-container {
    width: 100%;
    margin-bottom: 30px;

    .lead-image-caption {
        padding: 1em;
        font-size: 0.9em;
        background-color: $col-septenary;

        p, ul, ol, dl, blockquote, table {
            font-size: inherit;
        }
    }
}


.blog-authors {

    margin-top: 20px;
    border-top: 1px solid $section-dividers;

    &__item {
        display: flex;
        margin-top:40px;
    }

    &__icon {
        margin-right: 2rem;
        width: 25%;
        flex: none;

        &__img {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            object-fit: cover;
            display: inline;
            margin-top: 10px;
        }

        &__nhsimg {
            width: 70%;
            margin-top: 20px;
        }
    }

    &__content {
        width: 75%;
    }

    &__title {
        font-size: $h5-font-size;
        font-weight: 600;
        margin-bottom: 1.1rem;
    }
}


.latestBlog {

    padding-top:30px;
    border-top: 1px solid $section-dividers;

    &__item {
        display: flex;
        margin-top:40px;

        &:not(:last-child) {
            margin-bottom: $baseline-grid-unit * 6;
        }
    }

    &__icon {

        width: 25%;

        &__img {
            width: 90%;
            object-fit: cover;
            display: inline;
        }
        &__nhsimg {
            width: 80%;
        }
    }

    &__content {
        width: 75%;
        margin-top: 0;
    }

    &__title {
        font-size: $h5-font-size;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 0.2rem;
    }

    &__author {
        font-size: 16px;
        margin-bottom: 0.5rem;
    }
}


.homeland-blog {
    margin-bottom: 60px;
    $item_height: 350px;
    $icon_height: $item_height / 1.9;

    &__item {
        float: left;
        margin-right: 1%;
        margin-top: 20px;
        background-color: $grey-4;
        min-height: $item_height;
        width: 32%;
        min-width: 300px;
        position: relative;
        border: 1px solid #eee;
        border-bottom: solid 5px #98a4ad;

        &__icon {
          margin-bottom: 20px;
          width: 100%;

          img {
            object-fit: cover;
            display: inline;
            width: 100%;
            height: $icon_height;
          }
        }

        &__content {
            padding-left: 20px;
            padding-right: 20px;

            &__title {
                font-size: $h5-font-size;
                font-weight: 600;
                line-height: 1.3;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }

            &__date {
                font-size: 16px;
                margin-bottom: 0.5rem;
            }

        }
    }

    @include media($max-width: $wide-desktop-width, $ignore-for-ie: true) {
      &__item {
        width: 49%;
      }
    }

    @include media($max-width: $min-tablet-width, $ignore-for-ie: true) {
      &__item {
        width: 100%;
      }
    }

}
