
.block-link {
    display: flex;
    flex-wrap: nowrap;
    background-color: #DFE2E5;
    border-left: 5px solid #98A4AD;
    padding: $default-spacing-unit;

    &:link {
        color: $link-colour;
        text-decoration: none;
        color: $grey-1;
    }

    &:active {
        background-color: #DFE2E5;
        box-shadow: none;
        outline: 0;
    }

    &:hover {
        background-color: #FFF1CC;
        border-left-color: #FFB81C;
        box-shadow: none;
        outline: 0;
        text-decoration: none;
        font-weight:bold;

    }

    &:focus {
        background-color: $grey-5;
        border-left-color: $bright-blue;
        outline: 3px solid $focus-colour;
    }

    &__title {
        text-decoration: underline;
        color: $link-colour;

        &:hover {
            text-decoration: none;
        }
    }

    &__meta {
        display: block;
        margin: 0;
    }

    &__header {
        flex-shrink: 0;
    }

    &__body {
        flex-grow: 1;
        margin: 0;
    }

    .icon {
        margin-right: $default-spacing-unit;
        margin-bottom: $default-spacing-unit;
    }
}
