@import "../units/list";

/* Breadcrumb */
.breadcrumb {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: round($gutter * 1.375) 0;
    vertical-align: middle;

    @include clearfix;

    li,
    a {
        @include core-font(16);
    }
}

.breadcrumb__link,
.breadcrumb__sep {
    display: inline-block;
}

.breadcrumb__link {
    text-decoration: none;
    color: $col-primary;
    
    @include core-font(16);

    &:hover {
        text-decoration: underline;
        color: $col-primary;
    }
}

.breadcrumb__sep {
    height: round($gutter * 0.5);
    width: auto;
    margin: 0;
}

.breadcrumb__link--secondary {
    &,
    &:link,
    &:hover,
    &:active,
    &:visited {
        color: $col-quinary;
        text-decoration: none;
    }
}
