@import "../units/list";

/* Breadcrumb */
.breadcrumb {
    @extend .list;
    @extend .list--inline;
    @extend .list--reset;

    position: relative;
    display: inline-block;
    width: 100%;
    padding: round($gutter * 1.375) 0;
    vertical-align: middle;

    @include clearfix;

    li,
    a {
        @include core-font(16);
    }

    li {
        margin-left: 10px;
    }

    @include media($max-width: $min-desktop-width, $ignore-for-ie: true) {
        li {
            margin-left: 5px;
        }

        .breadcrumb__sep {
            margin-right: 1px;
            margin-top: -2px;
        }
    }
}

.breadcrumb__crumb {
    margin-left: 0;
}

.breadcrumb__link,
.breadcrumb__sep {
    display: inline-block;
}

.breadcrumb__link {
    position: relative;
    text-decoration: none;
    color: $col-primary;
    
    @include core-font(16);

    &:hover {
        text-decoration: underline;
        color: $col-primary;
    }
}

.breadcrumb__sep {
    position: absolute;
    height: round($gutter * 0.5);
    left: 0;
    top: 9px;
    width: auto;
    margin: -1px 6px 0 0;

    & + .breadcrumb__link {
        padding-left: 14px;
    }
}

.breadcrumb__link--secondary {
    &,
    &:link,
    &:hover,
    &:active,
    &:visited {
        color: $col-quinary;
        text-decoration: none;
    }
}
