@import "../units/list";

/* Breadcrumb */
.breadcrumb {
    @extend .list;
    @extend .list--inline;
    @extend .list--reset;

    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 12px;
    padding-top: 12px;
    vertical-align: middle;

    @include clearfix;

    li,
    a {
        @include core-font(16);
        margin: 0;
        padding: 0;
    }
}

.breadcrumb__crumb {
    margin: 0;
}

.breadcrumb__link,
.breadcrumb__sep {
    display: inline-block;
}

.breadcrumb__link {
    text-decoration: none;
    color: $col-primary;

    @include core-font(16);

    &:hover,
    &:focus {
        text-decoration: none;
        color: $link-hover-colour-nhs;
    }
    &:active {
        color: $link-active-colour-nhs;
    }
    &:first-letter {
        text-transform: uppercase;
    }
}

.breadcrumb__sep {
    height: round($gutter * 0.5);
    margin-left: 15px;
    margin-right: 10px;
}

.breadcrumb__link--secondary {
    &,
    &:link,
    &:hover,
    &:active {
        color: $col-quaternary;
        text-decoration: none;
    }
}
