// This file is used for CKEditor
// See _syntax-highlighter.scss for front-end production code highlighting.

.codeinline {
    font-family: monospace;
    color: #d14;
    padding: 1px 4px;
    border:1px dashed grey;
    margin-right: 2px;
    margin-left: 2px;
    word-wrap: break-word;
}
