/* Article section box */
.content-box {
    padding: $gutter * 2 12px $gutter;

    // Top tasks like box title
    .article-section__title {
        margin-bottom: 35px;
    }

    .grid-row {
        margin-top: 0;
    }

    .link,
    .button {
        @include core-font(18);
    }

    @include media(mobile) {
        padding: $gutter * 2 12px;
    }
}

.content-box--padded {
    padding: $gutter * 2 20px $gutter;
}

.content-box--latest-publications {
    padding: $gutter * 2 12px;

    .cta-list {
        margin-bottom: $gutter * 2;
    }
}

.content-box--visible-sections {
    .column--left {
        padding-left: round($gutter * 0.5);
    }

    .column--right {
        padding-right: round($gutter * 0.5);
    }

    @include media($max-width: $min-desktop-width) {
        .column--left,
        .column--center,
        .column--right {
            padding: 0 $gutter * 0.5;
        }
    }

    @include media(desktop) {
        li:not(:first-child) {
            border-left: 1px solid $col-senary;
        }
    }
}

.content-box--services {
    @extend .white-links;
    
    color: $col-septenary;
    margin: 30px 0 40px;

    .cta-list {
        margin-bottom: 0;
    }
}

.content-box--information {
    .content-box-title {
        margin-bottom: 0;
    }

    .content-box-contents {
        margin-top: 10px;
    }

    .content-box-image-wrapper {
        position: relative;
        display: block;
        width: 100%;
        // height: 100%;
        vertical-align: middle;
        top: -20px;
    }

    .content-box-image {
        display: block;
        width: 100%;
        height: auto;
        vertical-align: middle;

        @include media($max-width: $min-desktop-width, $ignore-for-ie: true) {
            display: none;
        }
    }

    .link {
        display: inline-block;
        margin: 20px 0 10px;
    }
}

.content-box--primary {
    background: $col-primary;
}

.content-box--secondary {
    background: $col-duodenary;
}

.content-box--tertiary {
    background: $col-tridenary;
}
