.coronavirus-banner {
    background-color: #FFEB3B;
    padding: 1.75em 0 1.9em;
    border-bottom: 1px solid #005EB8;

    h1 {
        margin-bottom: 15px;
        font-size: 36px;
        line-height: 46px;
    }

}
