/* Eform */
.eforms {
    label,
    .eforms-hint {
        display: block;
    }

    legend,
    select,
    .eforms-label {
        color: $col-quaternary;
    }
    
    .eforms-label {
        @include bold-font(20);

        & + input,
        & + textarea,
        & + .radiogroup,
        & + .checkboxgroup {
            margin-top: round($default-spacing-unit * 0.5);
        }
    }

    .eforms-hint {
        color: lighten($col-quaternary, 10%);
        margin-top: 10px;
        font-style: italic;

        @include core-font(18);
    }

    .eforms-fieldgroup {
        .eforms-text {
            margin-top: $gutter * 2;
        }

        & + .eforms-text {
            margin: $gutter * 2 0;
        }
    }

    .eforms-fieldgroupname {
        margin-top: 0;
        margin-bottom: round($base-font-size * 0.9);

        @include bold-font($h2-font-size/1px);
        @include media(tablet) {
            margin-bottom: round($base-font-size * 0.75);
        }
    }

    input[type="text"],
    input[type="password"],
    input[type="search"],
    input[type="email"],
    input[type="url"],
    input[type="tel"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="color"],
    textarea {
        display: block;
        width: 100%;
        padding: 5px 10px;
        outline: none;
        border: none;
        background: $col-septenary;
        border: 2px solid $col-primary;

        @include core-font(20);

        &:focus {
            border: 2px solid $col-octonary;
        }
    }

    input[type="radio"],
    input[type="checkbox"] {
        position: relative;
        margin: 0 6px 0 0;
        top: -2px;
    }

    .eforms-field,
    .eforms-buttons {
        margin-top: round($default-spacing-unit * 2);
    }

    .eforms-buttons {
        input {
            margin-left: 0;
            margin-right: $gutter;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .eforms-field {
        &:first-child {
            margin-top: 0;
        }

        p {
            margin-top: 0;
        }

        label:not(.eforms-label) {
            display: inline-block;
        }
    }

    .radiogroup,
    .checkboxgroup {
        list-style: none;
        padding: 0;

        label {
            user-select: none;

            & + input {
                margin-top: round($default-spacing-unit * 0.5);
            }
        }
    }

    select {
        display: block;
        width: 100%;
        outline: 0;
        background: transparent;
        border: 2px solid $col-primary;
        border-radius: 0;
        -webkit-appearance: none;
        padding: 5px 10px;
        background-position: right 50%;
        background-repeat: no-repeat;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjMuMiAxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjMuMiAxMiIgd2lkdGg9IjIzLjIiIGhlaWdodD0iMTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPiAgICA8cG9seWdvbiBwb2ludHM9IjUuMSw4LjYgMCwzLjQgMTAuMywzLjQgIiBmaWxsPSIjMDA1RUI4IiAvPjwvc3ZnPg==);

        @include core-font(18);
    }

    .eforms-field--invalid {
        input[type="text"],
        input[type="password"],
        input[type="search"],
        input[type="email"],
        input[type="url"],
        input[type="tel"],
        input[type="date"],
        input[type="month"],
        input[type="week"],
        input[type="time"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="color"],
        textarea {
            border-color: $col-nonary;
        }

        .eforms-req {
            color: $col-nonary;
        }
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.eforms-text {
    & + .eforms-fieldgroup {
        margin-top: $gutter * 2;
    }
}

.eforms-errors {
    margin: 0 auto $gutter * 4;

    @include bold-font(18);
}

.eforms-field__error-message {
    margin-top: $gutter;
    background: lighten($col-nonary, 50%);
    color: $col-nonary;
    padding: $baseline-grid-unit * 2;

    @include core-font(16);
}

.eforms-success-box {
    background: $col-primary;
    color: $col-septenary;
    text-align: center;
    padding: $gutter * 3;

    .eforms-success-box__title {
        @include bold-font(36);
    }
}

.eforms-page {
    margin-top: $gutter * 4;
}
