/* Emphasis box */
.emphasis-box {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 7px;
    border-radius: 3px;
    display: flex;

    &__image {
        width: 100px;
        margin-right: 1rem;
    }

    svg, path {
        fill: currentColor;
    }

    &-warning {
        border-left-color: #af1224;
        background-color: #af1224;
        color: #ffffff;

        svg, path {
            fill: $white;
        }

        a:link, a:visited {
            color: $white;
        }

        a:hover,
        a:focus {
            color: $link-hover-colour-nhs;
        }

        a:active {
            color: $link-active-colour-nhs;
        }
    }

    &-important {
        border-left-color: #fecb59;
        background-color: #fff1cc;
    }

    &-note {
        border-left-color: #98a4ad;
        background-color: #dee2e5;

        svg, path {
            fill: $nhs-blue;
        }
    }

    &-emphasis {
        border-left-color: #4c90ce;
        background-color: #d4e4f3;
        overflow-y: auto;

        svg, path {
            fill: $nhs-blue;
        }
    }
}
