.galleryItems {
    // compensate for Bootstrap grid oversights
    width: calc(100% + #{$gutter});
    margin-left: -#{$gutter / 2};

    &:not(:first-child) {
        margin-top: $gutter;
    }

    &__card {
        position: relative;
        margin-bottom:10px;
        background-color: #ffffff;
    }
    &__card-no-heading-left {
        margin-bottom: 0.75rem;
        margin-top:69px;
    }

    &__warning {
        position: absolute;
        font-size: 0.9em;
        z-index: 2;
        top: 0;
        left: 0;
        background: #DFE2E5;
        padding: 0.1em 0.6em;
    }

    &__heading {
        margin-bottom: 0.75rem;
        margin-top:20px;
    }

    &__description {
        padding: 1em;
        font-size: 0.9em;
        background: $col-septenary;

        p, ul, ol, dl, blockquote, table {
            font-size: inherit;
        }
    }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
