/* Hub box list */
.hub-box-list {
    @extend .cta-list;

    .hub-box {
        @extend .cta;

        display: block;
        width: 100%;
        border-bottom: 8px solid $grey-7;
        margin-top: $gutter * 2;
        margin-bottom: 0;
        background-color: $col-15;

        &:first-child {
            margin-top: 0;
        }

        &__contents {
            margin-top: 0;
            padding: 20px;
        }

        &__image {
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
            background: $col-tertiary;
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__title {
            @extend .cta__title;
        }

        &__text {
            margin-top: $gutter;
        }

        &__links {
            &-title {
                @include bold-font(16);
            }

            &-list {
                margin: 0;
                padding: 0 0 0 18px;

                li {
                    padding-bottom: 0;
                    
                    &:not(:first-child) {
                        margin-top: $gutter * 0.5;
                    }
                }
            }

            &-anchor {
                @include core-font(16);
            }
        }

        &__meta {
            @extend .cta__meta;
        }

        .cta__label {
            margin-bottom: 12px;
        }

        .tag-list {
            display: block;
            margin-top: $gutter;
        }

        &--with-icon {
            @include clearfix;

            .hub-box__contents {
                margin-top: 0;
            }

            .hub-box__icon {
                padding: 20px 0 20px 20px;

                &-img {
                    object-fit: cover;
                    display: inline;
                }
            }

            &:first-child {
                display: block;

                .hub-box__icon {
                    width: 100%;
                    padding: 0;
                }
            }

            &:not(:first-child) {
                .hub-box__icon {
                    float: left;
                    width: 25%;
                }

                .hub-box__contents {
                    float: left;
                    width: 75%;
                }
            }
        }

        @include media($max-width: $min-tablet-width, $ignore-for-ie: true) {
            border-width: 12px;

            &--with-icon {
                &:not(:first-child) {
                    .hub-box__icon,
                    .hub-box__contents {
                        display: block;
                        width: 100%;
                        float: none;
                    }
                }

                .hub-box__icon {
                    padding: 0;
                }
            }
        }
    }
}
