/* Hub box list */
.hub-box-list {
    @extend .cta-list;

    .hub-box {
        margin-top: $gutter * 2;
        margin-bottom: 0;

        &:first-child {
            margin-top: 0;
        }
    }

    .hub-box--light {
        &:first-child {
            .hub-box__contents {
                padding-top: 0;
            }
        }
    }
}

/* Hub box */
.hub-box {
    @extend .cta;

    display: block;
    width: 100%;
    border: 22px solid $col-duodenary;

    .hub-box__contents {
        margin-top: 0;
        padding: 20px 20px 15px;
    }

    .hub-box__image {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        background: $col-tertiary;

        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hub-box__title {
        @extend .cta__title;
    }

    .hub-box__text {
        @extend .cta__text;

        margin-top: $gutter;
    }

    .hub-box__meta {
        @extend .cta__meta;
    }

    .tag-list {
        margin-top: $gutter;
    }

    @include media($max-width: $min-tablet-width, $ignore-for-ie: true) {
        border-width: 12px;
    }
}

.hub-box--light {
    border: none;
    border-top: 1px solid $grey-4;
    margin-top: round($gutter * 0.5);

    &:first-child {
        border-top: none;
        margin-top: 0;
    }

    .hub-box__contents {
        padding: $gutter * 2 0 $gutter;
    }
}

