/* Hub box list */
.hub-box-list {
    @extend .cta-list;

    .hub-box {
        @extend .cta;

        display: block;
        width: 100%;
        border-bottom: 8px solid $grey-7;
        margin-top: $gutter * 2;
        margin-bottom: 0;
        background-color: $col-15;

        &:first-child {
            margin-top: 0;
        }

        &__contents {
            margin-top: 0;
            padding: $baseline-grid-unit * 5;
        }

        &__image {
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
            background: $col-tertiary;
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__title {
            @extend .cta__title;
        }

        &__text {
            margin-top: $gutter;
        }

        &__links {
            &-title {
                @include bold-font(16);
            }

            &-list {
                margin: 0;
                padding: 0 0 0 18px;

                li {
                    padding-bottom: 0;
                    
                    &:not(:first-child) {
                        margin-top: $gutter * 0.5;
                    }
                }
            }

            &-anchor {
                @include core-font(16);
            }
        }

        &__meta {
            @extend .cta__meta;
        }

        .cta__label {
            margin-bottom: 12px;
        }

        .tag-list {
            display: block;
            margin-top: $gutter;
        }

        &--with-icon {
            @include clearfix;

            .hub-box__contents {
                margin-top: 0;
            }

            .hub-box__icon {
                padding: 20px 0 20px 20px;

                &-img {
                    object-fit: cover;
                    display: inline;
                }
            }

            &:first-child {
                display: block;

                .hub-box__icon {
                    width: 100%;
                    padding: 0;
                }
            }

            &:not(:first-child) {
                .hub-box__icon {
                    float: left;
                    width: 25%;
                }

                .hub-box__contents {
                    float: left;
                    width: 75%;
                }
            }
        }

        @include media($max-width: $min-tablet-width, $ignore-for-ie: true) {
            border-width: 12px;

            &--with-icon {
                &:not(:first-child) {
                    .hub-box__icon,
                    .hub-box__contents {
                        display: block;
                        width: 100%;
                        float: none;
                    }
                }

                .hub-box__icon {
                    padding: 0;
                }
            }
        }
    }

    &--grid {

        &-row {
            display: inline-block;
            width: 100%;
            margin-bottom: -10px;

            &:first-child {
                margin-top: $gutter;
            }

            .hub-box--cyber-alert {
                width: 100%;
                float: left;
                margin: 0;
                padding: 10px 0;
                border-bottom: 0;
                background: transparent;

                .hub-box__contents {
                    position: relative;
                    min-height: 130px;

                    @include media($min-width: $min-desktop-width, $ignore-for-ie: true) {
                        min-height: 185px;
                    }

                    &--red {
                        background-color: $col-critical-background;
                    }

                    &--blue {
                        background-color: $nhs-blue;
                    }

                    &--grey {
                        background-color: $grey-2;
                    }
                }

                .hub-box__title {
                    @include core-font(26);

                    a {
                        color: $white;
                    }
                }

                .tag-list {
                    @include media($max-width: $min-desktop-width, $ignore-for-ie: true) {
                        margin-top: $gutter * 3;
                    }

                    .tag {
                        @include core-font(14);

                        background: transparent;
                        color: $white;
                        margin: 0;
                        padding: 0;
                        position: absolute;
                        bottom: $baseline-grid-unit * 5;

                        &--right {
                            right: $baseline-grid-unit * 5;
                        }
                    }
                }

                @include media($min-width: $min-desktop-width, $ignore-for-ie: true) {
                    &:first-child, &:nth-child(2):nth-last-of-type(2) {
                        padding-right: 10px;
                    }

                    &:last-child, &:nth-child(2):nth-last-of-type(2) {
                        padding-left: 10px;
                    }

                    &:first-child, &:only-child {
                        padding-left: 0;
                    }

                    &:last-child, &:only-child {
                        padding-right: 0;
                    }
                }
            }

            @include media($min-width: $min-desktop-width, $ignore-for-ie: true) {
                .hub-box--col-2 {
                    width: 50%;
                }

                .hub-box--col-3 {
                    width: 33.3%;
                }
            }
        }
    }
}
