/* Icons */

// Example
// <span class="icon icon--pdf" aria-hidden="true"></span>
// <span class="icon icon--3x" aria-hidden="true"></span>

$icon-width: 18px;
$icon-height: 22px;

.icon {
    display: inline-block;
    vertical-align: middle;
    width: $icon-width;
    height: $icon-height;
    margin: 5px;
    line-height: 1;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../images/icon/generic_36x44.svg");
    background-size: $icon-width $icon-height;

    &--2x {
        width: $icon-width * 2;
        height: $icon-height * 2;
        background-size: $icon-width * 2 $icon-height * 2;
    }
    &--3x {
        width: $icon-width * 3;
        height: $icon-height * 3;
        background-size: $icon-width * 3 $icon-height * 3;
    }
}

.icon-size{
    &::after {
        content: "(#{$icon-width} x #{$icon-height})";
        display: inline-block;
        margin-left: 5px;
        font-weight: bold;
    }
    &--2x::after {
        content: "(#{$icon-width * 2} x #{$icon-height * 2})";
    }
    &--3x::after {
        content: "(#{$icon-width * 3} x #{$icon-height * 3})";
    }
}


.icon--pdf {
    background-image: url("../images/icon/pdf_36x44.svg");
}

.icon--word,
.icon--doc,
.icon--docx,
.icon--docm,
.icon--odt,
.icon--rtf {
    background-image: url("../images/icon/wrd_36x44.svg");
}

.icon--ppt,
.icon--pptx,
.icon--pptm,
.icon--ppsx,
.icon--odp,
.icon--otp {
    background-image: url("../images/icon/ppt_36x44.svg");
}

.icon--zip,
.icon--rar,
.icon--jar {
    background-image: url("../images/icon/zip_36x44.svg");
}

.icon--video,
.icon--mov,
.icon--mp4,
.icon--ogg {
    background-image: url("../images/icon/mov_36x44.svg");
}

.icon--spreadsheet,
.icon--xls,
.icon--xlsx,
.icon--xlsm,
.icon--xltm,
.icon--xltx {
    background-image: url("../images/icon/xls_36x44.svg");
}

.icon--csv {
    background-image: url("../images/icon/CSV_36x44.svg");
}

.icon--text,
.icon--txt{
    background-image: url("../images/icon/txt_36x44.svg");
}

.icon--html,
.icon--xhtml {
    background-image: url("../images/icon/html.svg");
}

.icon--image,
.icon--jpg,
.icon--png,
.icon--gif,
.icon--svg {
    background-image: url("../images/icon/Image_36x44.svg");
}
