
/* ################################ */
/* Icon block */
/* ################################ */

//  <div class="ico-block">
//    <div class="ico-block__icon ico-block__icon--date-range"></div>
//    <dl class="ico-block__body">
//      <dt>Date Range:</dt>
//      <dd data-uipath="ps.dataset.date-range">(Not specified)
//      </dd>
//    </dl>
//  </div>

.ico-block {
    .ico-block__figure {
      margin-right: 1em;
    }

    .ico-block__body {
      margin: 0px 0px 0px 64px;
      line-height: 1.4;
    }

    .ico-block__icon {
        float: left;
        width: 52px;
        height: 52px;
        background-position: 0px 0px;
        background-repeat: no-repeat;
        background-size: 52px;
    }

    .ico-block__icon--calendar {
        background-image: url("../img/icon-calendar.png");
    }

    .ico-block__icon--granularity {
        background-image: url("../img/icon-granularity.png");
    }

    .ico-block__icon--geographic-coverage {
        background-image: url("../img/icon-geographic-coverage.png");
    }

    .ico-block__icon--date-range {
        background-image: url("../img/icon-date-range.png");
    }

    .ico-block__icon--national-statistics {
        background-image: url("../img/statistical-icon.png");
        float: right;
        height: 70px;
        width: 70px;
        background-size: 70px 70px;
        margin: 0px 0px 10px 20px;
    }

}
