/* Image icon */
.image-icon {
    display: inline-block;
    position: relative;
    border: none;
    margin: 0;
    padding: 0;
    clear: both;
    width: 22px;
    height: 22px;
    margin-top: -3px;
    margin-right: 4px;
    *zoom: 1;
}

.image-icon--large {
    width: 60px;
    height: 60px;
    margin-top: 0;
    margin-right: 0;
}
