/* Image icon */
.image-icon {
    display: inline-block;
    position: relative;
    border: none;
    margin: 0;
    padding: 0;
    clean: both;
    width: 22px;
    height: 22px;
    margin-top: -3px;
    margin-right: 4px;
    *zoom: 1;
}
