
.infographic-div {
    padding-top: 24px;
}
.infographic {
    padding: $default-spacing-unit;
    background-color: $white;
    margin-bottom: $default-spacing-unit;

    display: -ms-flex;
    display: flex;
    -ms-flex-pack: center;
    align-items: center;

    * {
        margin: 0;
    }

    &__icon {
        display: none;
        width: 100px;

        @media only print, screen and (min-width: $min-tablet-width)  {
            display: block;
            margin-right: 1rem;
        }
    }

    &__body {
        width: 100%;
    }

    &__title {
        @include bold-font(26);

        margin: 0;
        line-height: 1;
        margin-bottom: $default-spacing-unit;

        span {
            display: block;
            font-size: $h4-font-size;
            line-height: 1.4;
            margin-top: $default-spacing-unit;
        }
    }

    &__explanatory {
        margin-bottom: $default-spacing-unit;
        p {
            font-size: $h4-font-size;
            font-weight: bold;
        }
    }

    &--light-blue,
    &---light-blue{
        background-color: $blue-10;
    }

    &--blue,
    &---blue{
        background-color: $nhs-blue;
        color: $white;
        & a {
            color : $white;

            &:hover {
                color:  shade($white, 18%);
            }
        }
    }

}
