@import "../environment/settings/colours";
@import "../environment/tools/mixins/typography";

.local-header {
  background-color: $col-primary;
  overflow: hidden;
  padding: 1.6em;

  .grid-row & {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;

    @include ie-lte(8) {
      width: auto;
    }
  }

  /* a {
    @include link-reverse-polarity;
  } */

  // the lobotomized owl
  // see: http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
  * + * {
    @include element-spacing;
  }
}

.local-header--secondary {
    padding: 1.6em 0;
    background: transparent;

    .local-header__title {
        color: $col-quaternary;
    }
}

.local-header__return {
  @include link-reverse-polarity;
  background-color: $nhs-blue;
  border: $baseline-grid-unit * 0.5 solid $blue-50;
  display: inline-block;
  margin-bottom: $baseline-grid-unit * 4;
  padding: $default-spacing-unit * 0.5 $default-spacing-unit;
  text-decoration: none;

  &:hover {
    border-color: $blue-10;
    color: $white;
  }
}

.local-header__title {
  @include bold-font(48);
  color: $white;
  margin: 0;
}

.local-header__intro {
  color: $white;
  margin-top: $baseline-grid-unit * 4;
  max-width: $measure;
  padding-top: $baseline-grid-unit * 4;
  position: relative;

  @include media(desktop) {
    margin-top: $baseline-grid-unit * 8;
    padding-top: $baseline-grid-unit * 4;
  }

  &:before {
    background-color: $blue-50;
    content: "";
    display: block;
    height: $baseline-grid-unit;
    left: 0;
    position: absolute;
    top: -($baseline-grid-unit * 0.5);
    width: 130px;
  }
}
