/* Pagination */
.pagination {
    border-top: 1px solid $col-senary;
    text-align: center;
    padding-top: $gutter;
}

.pagination-list {
    list-style: none;
    padding: 0;

    .pagination-list__item {
        display: inline-block;
        border: 1px solid $col-senary;
        border-radius: 5px;
        margin-bottom: 10px;
        padding-bottom: 0;

        & > a,
        & > span {
            display: inline-block;
            text-decoration: none;
            padding: 10px 20px;
        }

        a:hover {
            box-shadow: none;
            outline: none;
        }
    }

    .pagination-list__item--previous {
        margin-right: round($gutter * 0.5);
    }

    .pagination-list__item--current {
        background-color: $col-duodenary;
    }

    .pagination-list__item--next {
        margin-left: round($gutter * 0.5);
    }

    @include media($max-width: $min-desktop-width, $ignore-for-ie: true) {
        .pagination-list__item {
            margin-bottom: $gutter * 0.5;
        }
    }
}

.digital-pagination {
    display: inline-block;
    width: 100%;

    &-list, li {
        list-style: none;
        padding: 0;

        &-item-previous {
            float: left;
            text-align: left;
            width: 47%
        }

        &-item-next {
            float: right;
            text-align: right;
            width: 47%
        }
    }

    &-link {
        display: block;
        position: relative;
        text-decoration: none;
        width: 100%;

        &-title {
            font-size: 1.1rem;
            display: block;

            img {
                display: inline-block;
                height: 24px;
                width: 24px;
            }
        }

        &-hidden {
            display: none;
        }

        &-page {
            clear: both;
            text-decoration: underline;
            font-size: 0.9rem;
        }

        &:hover {
            box-shadow: 0 0 0 16px #ffcd60;
            outline: 4px solid #ffcd60;
            background-color: #ffcd60;
            color: $dark-blue;
        }
    }
}
