@import "../environment/settings/colours";

.personimage--div,
.quallogo--div,
.awardpicture--div {
  img {
    max-height: 480px;
  }
}

.personimage--div {
  width: fit-content;
}

.contactdetail {
  &-box {
     padding-left: 20px;
     margin: 20px 0;
     border-left: 3px solid #cbcbcb;
  }

  &-item {
    margin-top: 0;

    &-bold {
        @extend .contactdetail-item;
        font-weight: bold;
    }
  }
}


