/* quote-box */
.quote-box {
    padding: 20px;
    margin: 20px 0;
    border-radius: 3px;
    display: flex;
    background-image: url(../images/icon/quote.svg);
    background-position: top left 20px;
    background-repeat: no-repeat;
    text-indent: 50px;
    background-size: 2.5em;
    border-left: solid 7px #98a4ad;
    background-color: #dfe2e5;

    @extend %component-border;
}

.quote-text {
    color: #005EB8;

    p {
        font-size: 24px;
    }
}

.quote-box-role {
    text-indent: 0;
    color: #425563;
    font-size: 19px;
}

.quote-box-list {
    &--grid {
        &-row {
            display: inline-block;
            width: 100%;
            margin-bottom: -10px;

            &:first-child {
                margin-top: $gutter;
            }

            .quote-box__container {
                width: 100%;
                float: left;
                padding: 10px 0;

                .quote-box {
                    margin: 0;
                    min-height: 200px;
                }

                @include media($min-width: $min-desktop-width, $ignore-for-ie: true) {
                    &:first-child {
                        padding-right: 10px;
                    }

                    &:last-child {
                        padding-left: 10px;
                    }

                    &:first-child, &:only-child {
                        padding-left: 0;
                    }

                    &:last-child, &:only-child {
                        padding-right: 0;
                    }

                    .quote-box {
                        margin: 0;
                    }
                }
            }

            @include media($min-width: $min-desktop-width, $ignore-for-ie: true) {
                .quote-box--col-2 {
                    width: 50%;
                }
            }
        }
    }
}
