@import "../environment/tools/mixins/button";

/* Search banner */
.search-banner {
    background: $col-primary;
    padding: 3.5em 0 3.8em;
    margin-bottom: $baseline-grid-unit * 12;
    min-height: 30px;
}

.search-banner--short {
    padding: 2em 0 1.8em;
}

.search-banner__headline {
    color: $col-septenary;
    max-width: 420px;
    margin-bottom: 30px;

    @include core-font(20);
    @include media(desktop) {
        max-width: 500px;
    }
}

.search-banner__form {
    position: relative;
    display: table;
    width: 100%;
    left: 3px;

    .search-banner__input,
    .search-banner__button {
        width: 100%;
    }

    & > div {
        display: table-cell;
        min-width: 100px;

        &:not(:first-child) {
            width: 140px;
        }
    }


    @include media(mobile) {
        & > div {
            display: block;
            width: 100%;

            &:not(:first-child) {
                width: 100%;
            }

            &:first-child {
                margin-bottom: 1rem;
            }
        }
    }
}

.search-banner__input {
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    min-height: 30px;
    padding: round($baseline-grid-unit * 2.6) round($baseline-grid-unit * 4);
    color: $col-quaternary;

    @include border-highlight;
    @include core-font(20);
}

.search-banner__button {
    @include static-button($col-denary);

    position: relative;
    left: 1px;
    box-shadow: none;
    outline-offset: -3px;
    line-height: 30px;

    &:before {
        height: 0;
    }

    @include border-highlight;
}