@import "../environment/tools/mixins/static-button";
@import "../environment/tools/functions/easing";

$burger-piece-width: 32px;
$burger-piece-height: 3px;

@mixin berger-menu(){
    .list {
        display: block;
        margin-bottom: round($gutter * 0.5);

        li {
            display: block;
            width: 100%;
            margin-left: 0;
            padding: $gutter 0;
            border-top: 1px solid lighten($col-senary, 10%);

            &:first-child {
                border-top: none;
            }
        }
    }
}

@mixin berger-button(){
    .main-nav__burger {
        position: absolute;
        top: $gutter;
        right: 0;
        width: $gutter * 2;
        height: $gutter * 2;
        z-index: 100;
        vertical-align: middle;

        .main-nav__burger-button {
            position: relative;
            display: inline-block;
            top: -1px;
            width: $burger-piece-width;
            height: $burger-piece-width;
            vertical-align: middle;
            overflow: hidden;
        }

        .main-nav__burger-line {
            content: "";
            display: inline-block;
            position: absolute;
            width: $burger-piece-width;
            height: $burger-piece-height;
            margin: 0 auto;
            background: $col-primary;
            top: 50%;
            left: 0;
            margin-top: 0;

            transition-timing-function: $ease-in-out-expo;
            transform-origin: 50% 50%;

            &:nth-child(1) {
                margin-top: -3 * $burger-piece-height;
            }

            &:nth-child(3) {
                margin-top: 3 * $burger-piece-height;
            }

            &:nth-child(2) {
                opacity: 1;
                transform: translateX(0);
                transition-property: transform opacity;
                transition-duration: 0.2s;
            }

            &:nth-child(1),
            &:nth-child(3) {
                transform: rotateZ(0deg);
                transition-property: transform, background-color;
                transition-duration: 0.4s;
            }
        }
    }
}

.site-header {
    border-bottom: 1px solid $col-primary;

    &__logo {
        position: relative;
        display: inline-block;
        max-width: 89px;
        width: 72px;
        max-height: 69px;
        height: auto;
        margin: 15px 0 10px;

    }

    &-a__logo {
        &:hover,
        &:active,
        &:focus {
            background: none;
            box-shadow: none;
        }

        &:focus {
            outline: 3px solid $focus-colour;
        }
    }

    &--without-search {
        .main-nav {
            @include media($max-width: $desktop-width, $ignore-for-ie: true) {
                @include berger-button;
            }
        }

        .main-nav__menu {
            padding-top: 12px;
            text-align: right;
            @include media($max-width: $desktop-width, $ignore-for-ie: true) {
                @include berger-menu;
                text-align: left;
            }
        }
    }

    &--with-search {
        .main-nav__menu {
            @include berger-menu;
        }
    }
}

/* Site header */
//.site-header {
//    position: relative;
//    border-bottom: 1px solid $col-primary;
//    padding: round($gutter * 1.375) 0;
//    vertical-align: bottom;
//
//    .search-strip {
//        position: absolute;
//        right: 0;
//        width: 50%;
//    }
//
//    .column--81-25 {
//        padding-top: 5px;
//    }
//
//    @include media($max-width: $desktop-width, $ignore-for-ie: true) {
//        padding-bottom: 0;
//
//        .search-strip {
//            width: 100%;
//        }
//
//        .column--81-25 {
//            padding-top: 0;
//        }
//
//        .site-header__search-wrapper {
//            margin-bottom: round($gutter * 0.5);
//        }
//
//        .site-header__search-wrapper--collapse {
//            height: auto;
//        }
//
//        .site-header__logo {
//            margin-bottom: round($gutter * 1.5);
//        }
//    }
//
//    &--intranet {
//        .site-header__logo {
//            max-width: 235px;
//            width: 235px;
//            max-height: 65px;
//            margin-top: 5px;
//        }
//
//        .main-nav__burger {
//            top: 6px;
//        }
//    }
//}
//






@include media($max-width: $desktop-width, $ignore-for-ie: true) {
    .js-enabled{
        .main-nav__menu {
            display: none;
        }
        .menu-open .main-nav__menu {
            display: block;
        }
    }
}
//
//.site-header__search-wrapper {
//    position: relative;
//    width: 100%;
//    height: $search-strip-height;
//    //margin-bottom: 10px;
//}


