@import "../environment/tools/mixins/static-button";

/* Site header */
.site-header {
    position: relative;
    border-bottom: 1px solid $col-primary;
    padding: round($gutter * 1.375) 0;
    vertical-align: bottom;

    .search-strip {
        position: absolute;
        right: 0;
        width: 50%;
    }

    .column--81-25 {
        padding-top: 5px;
    }

    @include media($max-width: $desktop-width, $ignore-for-ie: true) {
        padding-bottom: 0;

        .search-strip {
            width: 100%;
        }

        .column--81-25 {
            padding-top: 0;
        }

        .site-header__search-wrapper {
            margin-bottom: round($gutter * 0.5);
        }

        .site-header__search-wrapper--collapse {
            height: auto;
        }

        .site-header__logo {
            margin-bottom: round($gutter * 1.5);
        }
    }
}

.site-header__logo {
    position: relative;
    display: inline-block;
    max-width: 89px;
    width: 89px;
    max-height: 69px;
    height: auto;
    margin: round($gutter * 0.75) 0 0;
}

.site-header__search-wrapper {
    position: relative;
    width: 100%;
    height: $search-strip-height;
    margin-bottom: 10px;
}
