@import "../environment/settings/colours";

.skiplinks {
    background-color: $col-denary;
}

.skiplinks__inner {
    @include site-width-container;
}

.skiplinks__link {
    display: inline-block;
    position: absolute;
    left: -999em;
    padding: ($baseline-grid-unit * 2);
    color: $col-septenary;

    &:focus {
        background-color: $col-denary;
        border: 3px solid $col-octonary;
        outline: none;
        position: static;
    }
}
