/* Static UI */
.static-ui-menu {
    top: 0;
    z-index: 1;
    padding: 0.5rem;
    background: black;

    .list {
        @include core-font(16);
        padding: 0;
        
        a {
            color: white;
        }

        li {
            margin-top: 0;
        }
    }

    @include media($min-width: $min-desktop-width) {
        position: -webkit-sticky;
        position: sticky;

        li {
            display: inline;
            margin: 0 5px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
