
.nav-tabs {
    zoom: 1;
    background: #fff;
    padding: 0;
    position: relative;
}

.tabs-nav {
    list-style: none;
    padding: 0;
    @include media(tablet) {
        border-bottom: 1px solid $grey-4;
        margin-bottom: $baseline-grid-unit * 4;
    }
    li {
        @include media(tablet) {
            display: inline-block;
        }
        a {
            display: block;
            font-size: 14px;
            padding: $baseline-grid-unit * 4;
            border-bottom: 1px solid $grey-4;
            @include media(tablet) {
                border-bottom: 0;
                padding: $baseline-grid-unit * 2 $baseline-grid-unit * 4;
            }
        }
    }
    .active {
        background-color: #FFF;
        @include media(tablet) {
            border-left: 1px solid $grey-4;
            border-right: 1px solid $grey-4;
            border-top: 1px solid $grey-4;
            position: relative;
            top: 1px;
        }
        a {
            text-decoration: none;
            color: $black;
        }
    }
}
