/* Tabs */
.tabs-nav {
    list-style: none;
    padding: 0;

    @include media(tablet) {
        border-bottom: 1px solid $col-senary;
        margin-bottom: $baseline-grid-unit * 4;
    }

    .tabs-nav__item {
        @include media(tablet) {
            display: inline-block;
        }

        .tabs-nav__item__link {
            display: block;
            padding: $baseline-grid-unit * 4;
            border-bottom: 1px solid $col-senary;

            font-size: core-font(14);

            @include media(tablet) {
                border-bottom: 0;
                padding: $baseline-grid-unit * 2 $baseline-grid-unit * 4;
            }
        }
    }

    .tabs-nav__item--active {
        background-color: $col-septenary;

        @include media(tablet) {
            border-left: 1px solid $col-senary;
            border-right: 1px solid $col-senary;
            border-top: 1px solid $col-senary;
            position: relative;
            top: 1px;
        }

        .tabs-nav__item__link {
            text-decoration: none;
            color: $col-16;
        }
    }
}
