body {
    color: #425563;
    font: 16px Arial;
    letter-spacing: .025em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




/*
<div class="container">
</div>
 */
.container {
    width: 1200px;
    margin: 0 auto;
}

.container-side {
    width: 20%;
    float: left;
    display: inline-block;
}

.container-main {
    display: inline-block;
    width: 78%;
}

.container-main:first-child {
    width: 100%;
}


/**
<ul class="container-top__menu">
    <li>...</li>
</ul>
 */
.container-top__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container-top__menu li {
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.container-top__menu a {
    text-decoration: none;
}
.in-line-container {
    display: inline-block;
}




/*
<a class="logo logo-nhs-digital">
    text that will not be displayed
</a>
*/
.logo {
    display: block;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    text-indent: -9999em;
}
.logo-nhs-digital {
    background-image: url(img/logo.png);
    height: 85px;
    width: 100px;
}




input {
    box-sizing: border-box;
    display: inline-block;
    line-height: normal;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
.search-input {
    border: 1px solid #CCC;
    box-sizing: border-box;
    border-color: #004075;
    padding: .5em .5em .5em 1em;
    -webkit-appearance: none;
    cursor: pointer;
    width: 400px;
}

.search-submit {
    background: #005eb8 url(img/search-icon.png) no-repeat center;
    border: none;
    padding: .5em 0 .5em 0;
    color: white;
    cursor: pointer;
    text-indent: -9999em;
    transition: opacity .3s;
    width: 3em;
}

/* Pagination styling from Bootstrap css. To replace when styling is defined for site */
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination li {
    display: inline;
}

.pagination li a,
 {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.pagination li:first-child a,
.pagination li:first-child span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination li:last-child a,
.pagination li:last-child span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination-container {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
}

.pagination li a,
.pagination li span {
    color: #999999;
    margin: 0 0 0 4px;
    padding: 10px 15px;
    text-decoration: none !important;
    display: inline-block;
    font-size: 14px;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.pagination li a.prev,
.pagination li a.next,
.pagination li a:hover,
.pagination li a.current,
.pagination li span.current {
    background-color: #f7f7f7;
    color: #0000FF;
}




h4 {
    font-weight: 600;
    font-size: 1.1em;
    margin: 1em 0 0.5em 0;
}

h3 {
    font-size: 1.6em;
}




.content-section {
    border-bottom: 1px solid #999;
    padding-bottom: 2em;
}

.content-section:last-child {
    border-bottom-width: 0;
}




/**
    Display document metadata

    <dl class="doc-metadata">
        <dt>title</dt>
        <dd>definition / content ...</dd>

        <dt>title</dt>
        <dd>definition / content ...</dd>
    </dl>
*/
.doc-metadata {
    padding: 0 0 0 1.0em;
}

.doc-metadata dt {
    font-size: 1.0em;
    font-weight: bold;
    float: left;
    clear: left;
    padding: 0 12px 0 0;
}

.doc-metadata dt:after {
  content: ":";
}




/* Faceted Navigation demo - To replace when styling is defined for site */
.left-column {
    min-height:600px;
    max-width:300px;
    float:left;
    font-size:10pt;
    padding:0 10px 0 10px;
}

.sidebar-block {
    position: relative;
    margin: 0 0 5px 0;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}

.sidebar-block .sidebar-content {
    overflow: hidden;
}

.tags a {
    display: block;
    float: left;
    padding: 0 10px 0 10px;
    line-height: 23px;
    position: relative;
    font-size: 11px;
    margin: 0px 10px 10px  0px;
    background-color: #f2f2f2;
    text-decoration:none;
}

.tags a:hover {
    background-color: blue;
    color: #fff;
    text-decoration: none;
}
.sidebar-content.tags .remove {
    background-color: blue;
    color: white;
}
.sidebar-content.tags .remove:hover {
    background-color: red;
}
