{
    "parser": "@babel/eslint-parser",
    "extends": "airbnb-base",
    "env": {
        "browser": true
    },
    "rules": {
        "indent": ["error", 4],
        "no-console": ["error", {
            "allow": ["warn", "error"]
        }]
    },
    "globals": {
        "__webpack_public_path__": "writable"
    }
}
