@import "../../environment/settings/layout";

.intranet {
    .home-news-grid-container {
        display: grid;
        grid-template-columns: 1fr repeat(12, min-content) 1fr;
        @media (max-width: 992px) {
            grid-template-columns: 0fr repeat(12, 1fr) 0fr;
        }
        grid-template-rows: auto 1fr;

        &::before {
            // background banner
            content: "";
            grid-column: 1 / 15;
            grid-row: 1;
            background-color: #005EB8;
        }

        &__force-size {
            // To force the width
            content: "";
            grid-column: 2 / 14;
            grid-row: 1;
            grid-row: 1;

            @media (min-width: 1520px) {
                width: 1520px;
            }

            @media (min-width: 992px) and (max-width: 1520px) {
                width: 992px;
            }

            @media (min-width: 641px) and (max-width: 992px) {
                width: 641px;
            }

            @media (max-width: 640px) {
                width: 100%;
            }
        }

        .home-news-news-top-featured-image {
            grid-column: 2 / 6;
            grid-row: 1;
            width: 100%;
        }

        .home-news-news-top {
            &.featured-image {
                grid-column: 6 / 11;
            }
            &.no-featured-image {
                grid-column: 2 / 11;
            }
            grid-row: 1;
            color: #ffffff;
            padding: 20px $gutter;

            a,
            a:visited,
            a:link {
                color: #fff;
            }
        }

        .home-news-tasks {
            grid-column: 11 / 14;
            grid-row: 1 / 3;
            padding-top: 20px;
            padding-right: $gutter
        }

        .home-news-news-items {
            grid-column: 2 / 11;
            grid-row: 2;
            padding: 20px $gutter;


            &-grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px;
                margin-bottom: 33px;

                &-item {
                    background-color: #DFE2E5;

                    &-img {
                        object-fit: cover;
                        display: inline;
                        width: 100%;
                        height: 210px;
                    }

                    &-content{
                        padding: 20px;
                    }
                }
            }
        }

    }

    .home-tasks {
        padding: 20px;
        background-color: #fff;
        color: #212B32;

        &-margin {
            background-color: #F2F6F6;
            padding: 20px;
        }

        &-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;

            &-item {
                text-align: center;

                img {
                    width: 40px;
                    margin: 0 auto;
                }

                a,
                a:visited,
                a:link {
                    text-decoration: none;
                    color: #005EB8;
                }
            }
        }
    }
}

.nhsuk-action-link {
    margin-top: 40px;

    .nhsuk-action-link__link {
        display: inline-block;
        font-weight: 600;
        padding-left: 38px;
        position: relative;

        .nhsuk-icon__arrow-right-circle {
            fill: #007f3b;
            height: 36px;
            left: -3px;
            position: absolute;
            top: -2px;
            width: 36px;
        }
    }
}
