/* Tab section */
$tab-tile-gutter:10px;

.tab-group {
    margin: 0 0 $gutter * 2 0;

    &__list {
        background-color: $white;
        display: flex;
        padding: 0;
        margin-bottom: $tab-tile-gutter * 2;
        list-style: none;

        @include media(mobile) {
            display: block;
        }

        &-item {
            display: flex;
            width: 100%;

            &--active {
                border-bottom: $blue;
                border-bottom-style: solid;
                border-bottom-width: 4px;

                .tab-group__list-link {
                    @include bold-font(14);

                    color: $black;
                    padding-bottom: 0;
                    text-decoration: none;
                }
            }

            a:hover, a:focus, a:active {
                outline: none;
                box-shadow: none;
            }
        }

        &-link {
            @include core-font(14);

            color: $grey-2;
            padding: $baseline-grid-unit * 3 $baseline-grid-unit * 2;
            width: 100%;
            text-align: center;
            text-decoration: none;
        }
    }
}

/* Tile section */
.tile-panel {
    margin: $gutter 0;

    &-group {
        display: flex;

        &:first-child {
            margin-top: 0;
        }

        .tile-item {
            display: flex;
            float: left;
            width: 100%;

            &__content {
                display: block;
                padding: $gutter;
                width: 100%;
                background-color: $white;

                &-title {
                    @include core-font(20);
                }

                &-tag {
                    float: left;
                    width: 50%;
                    margin: 0 0 $gutter 0;

                    &:only-of-type {
                        width: 100%;
                    }
                }
            
                &-summary {
                    &, & > * {
                        @include core-font(16);
                    }
        
                    max-height: 72px;
                    overflow: hidden;
                }
        
                &-date {
                    @include core-font(14);
        
                    // position: absolute;
                    display: block;
                    bottom: 12px;
                    left: 20px;
                    color: $col-intranet-mid-grey;
                }
            }

        }
    }
}
