// Intranet `article grid`
.intra-home-article-grid {
    @include clearfix;

    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    padding: 0;
    list-style: none;

    &-item {
        position: relative;
        width: 33.333%;
        margin-bottom: 18px;

        &:nth-child(3n+1) {
            padding-right: 10px;
        }

        &:nth-child(3n+2) {
            padding-left: 5px;
            padding-right: 5px;
        }

        &:nth-child(3n+3) {
            padding-left: 10px;
        }

        &--full {
            width: 100%;
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }

    &-article {
        position: relative;
        height: 100%;
        background: $col-intranet-grey;
        border-bottom: 4px solid $col-intranet-dark-grey;

        &__header {
            position: relative;
            width: 100%;
            overflow: hidden;

            background: $col-septenary;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__contents {
            position: relative;
            min-height: 205px;
            padding: 24px 20px;
            margin-bottom: 30px;

            .intra-comments-blob {
                position: absolute;
                right: 20px;
                top: -20px;
            }
        }

        &__title {
            max-width: 90%;
            margin-bottom: 5px;
            font-size: 18px;
            line-height: 25px;
        }

        &__summary {
            &, & > * {
                @include core-font(16);
            }

            max-height: 72px;
            overflow: hidden;
        }

        &__date {
            @include core-font(14);

            position: absolute;
            display: block;
            bottom: 12px;
            left: 20px;
            color: $col-intranet-mid-grey;
        }

        .intra-info-tag {
            position: absolute;
            top: 13px;
            left: 18px;
            z-index: 1;
        }
    }

    @include media ($min-width: $wide-desktop-width) {
        &-item {
            width: 25%;

            &:nth-child(4n+1) {
                padding-right: 10px;
            }

            &:nth-child(n+2) {
                padding-left: 5px;
                padding-right: 10px;
            }

            &:nth-child(4n+4) {
                padding-left: 5px;
                padding-right: 0;
            }
        }
    }

    @include media($max-width: $min-tablet-width) {
        &-item {
            width: 100%;
            padding: 0 !important;
        }

        &-article {
            height: auto;
            max-height: auto;

            &__contents {
                padding: 14px 20px;
                height: auto;
            }

            &__title {
                max-width: 70%;
                font-size: 16px;
                line-height: 24px;
            }

            &__date {
                position: relative;
                left: auto;
                bottom: auto;
            }
        }
    }
}
