// Intranet `action links`
.intra-action-links {
    @extend .list;
    @extend .list--inline;
    @extend .list--reset;

    margin-top: 32px;
    margin-bottom: -12px;

    li {
        margin-bottom: 12px;
    }

    @include media($max-width: $min-tablet-width) {
        margin-bottom: 0;
        
        li {
            display: block;
            width: 100%;
            margin: 0;

            &:not(:first-child) {
                margin-top: 24px;
            }

            .intra-action-link {
                width: 100%;
            }
        }
    }
}

.intra-action-link {
    position: relative;
    display: inline-block;
    padding: 12px 70px;
    border-radius: 4px;
    text-align: center;
    background: $white;
    box-shadow: 0 4px 0 0 $col-intranet-dark-blue;

    @include bold-font(18);

    &:link,
    &:hover,
    &:active,
    &:visited {
        color: $black !important;
        text-decoration: none;
    }
}
