// @font-face{
//     font-family:"Calibri";
//     font-display: swap;
//     src:url("./fonts/Calibri-Regular.ttf") format("truetype");
//     font-style: normal;
//     font-weight: 500;
// }
@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.woff2') format('woff2'),
        url('../fonts/Calibri.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri-Bold.eot');
    src: url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Calibri-Bold.woff2') format('woff2'),
        url('../fonts/Calibri-Bold.woff') format('woff'),
        url('../fonts/Calibri-Bold.ttf') format('truetype'),
        url('../fonts/Calibri-Bold.svg#Calibri-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/*
@font-face{
    font-family:"Calibri";
    font-display: swap;
    src:url("../fonts/FrutigerLTW01-56Italic.eot?#iefix");
    src:url("../fonts/FrutigerLTW01-56Italic.eot?#iefix") format("eot"),
        url("../fonts/FrutigerLTW01-56Italic.woff2") format("woff2"),
        url("../fonts/FrutigerLTW01-56Italic.woff") format("woff"),
        url("../fonts/FrutigerLTW01-56Italic.ttf") format("truetype"),
        url("../fonts/FrutigerLTW01-56Italic.svg#141c0322-57c4-48ca-abb4-31688d659f7d") format("svg");
    font-style: italic;
    font-weight: 500;
}

@font-face{
    font-family:"Calibri";
    font-display: swap;
    src:url("../fonts/FrutigerLTW01-65Bold.eot?#iefix");
    src:url("../fonts/FrutigerLTW01-65Bold.eot?#iefix") format("eot"),
        url("../fonts/FrutigerLTW01-65Bold.woff2") format("woff2"),
        url("../fonts/FrutigerLTW01-65Bold.woff") format("woff"),
        url("../fonts/FrutigerLTW01-65Bold.ttf") format("truetype"),
        url("../fonts/FrutigerLTW01-65Bold.svg#eae74276-dd78-47e4-9b27-dac81c3411ca") format("svg");
    font-style: normal;
    font-weight: 600;
}

@font-face{
    font-family:"Calibri";
    font-display: swap;
    src:url("../fonts/FrutigerLTW01-66BoldItalic.eot?#iefix");
    src:url("../fonts/FrutigerLTW01-66BoldItalic.eot?#iefix") format("eot"),
        url("../fonts/FrutigerLTW01-66BoldItalic.woff2") format("woff2"),
        url("../fonts/FrutigerLTW01-66BoldItalic.woff") format("woff"),
        url("../fonts/FrutigerLTW01-66BoldItalic.ttf") format("truetype"),
        url("../fonts/FrutigerLTW01-66BoldItalic.svg#8ad009ab-a7e5-4acb-8ca5-326d2a759924") format("svg");
    font-style: italic;
    font-weight: 600;
}

@font-face{
    font-family:"Frutiger W01";
    src:url("../fonts/FrutigerLTW01-75Black.eot?#iefix");
    src:url("../fonts/FrutigerLTW01-75Black.eot?#iefix") format("eot"),
        url("../fonts/FrutigerLTW01-75Black.woff2") format("woff2"),
        url("../fonts/FrutigerLTW01-75Black.woff") format("woff"),
        url("../fonts/FrutigerLTW01-75Black.ttf") format("truetype"),
        url("../fonts/FrutigerLTW01-75Black.svg#1c437efb-925e-4bc5-96d0-c706bb400696") format("svg");
    font-style: normal;
    font-weight: 700;
} */

/* @font-face{
    font-family:"Frutiger W01";
    src:url("../fonts/FrutigerLTW01-76BlackItalic.eot?#iefix");
    src:url("../fonts/FrutigerLTW01-76BlackItalic.eot?#iefix") format("eot"),
        url("../fonts/FrutigerLTW01-76BlackItalic.woff2") format("woff2"),
        url("../fonts/FrutigerLTW01-76BlackItalic.woff") format("woff"),
        url("../fonts/FrutigerLTW01-76BlackItalic.ttf") format("truetype"),
        url("../fonts/FrutigerLTW01-76BlackItalic.svg#24df08f2-b418-49de-8eca-745947092d72") format("svg");
    font-style: italic;
    font-weight: 700;
} */

/* @font-face{
    font-family:"Frutiger W01";
    src:url("../fonts/FrutigerLTW01-95UltraBlack.eot?#iefix");
    src:url("../fonts/FrutigerLTW01-95UltraBlack.eot?#iefix") format("eot"),
        url("../fonts/FrutigerLTW01-95UltraBlack.woff2") format("woff2"),
        url("../fonts/FrutigerLTW01-95UltraBlack.woff") format("woff"),
        url("../fonts/FrutigerLTW01-95UltraBlack.ttf") format("truetype"),
        url("../fonts/FrutigerLTW01-95UltraBlack.svg#3b96d0b6-5de6-4fb0-9884-b645e55d01c4") format("svg");
    font-style: normal;
    font-weight: 900;
} */
