    {{#mediaTypes}}
        <p class="nhsd-t-body">
            Content type: <strong class="nhsd-!t-font-weight-bold">{{name}}</strong>
        </p>

        {{#example}}
            <p class="nhsd-!t-font-weight-bold nhsd-t-body">Example</p>
            {{>body_example}}
        {{/example}}

        {{^example}}
            {{^examples}}
                {{#schema.example}}
                    <p class="nhsd-!t-font-weight-bold nhsd-t-body">Example</p>
                    {{>body_example}}
                {{/schema.example}}
            {{/examples}}
        {{/example}}

        {{#examples}}
            {{#@first}}
                {{#hasOneItem examples}}
                    <p class="nhsd-!t-font-weight-bold nhsd-t-body">Example</p>
                {{else}}
                    <p class="nhsd-!t-font-weight-bold nhsd-t-body">Examples</p>
                {{/hasOneItem}}
            {{/@first}}

            {{#summary}}
            <p class="nhsd-t-body">{{summary}}</p>
            {{/summary}}

            {{#description}}
            {{{markdown description levelToNormaliseHeadingsTo=7}}}
            {{/description}}

            {{#value}}{{>body_example}}{{/value}}
        {{/examples}}

        {{#if schema}}
            {{#assign "schemaUUID"}}{{uuid}}{{/assign}}
            <div class="nhsd-t-row">
                <div class="nhsd-t-col-xs-12 nhsd-t-col-s-4 nhsd-!t-padding-0">
                    <h4 class="nhsd-t-heading-m nhsd-!t-margin-bottom-0">Schema</h4>
                </div>
                <div class="nhsd-t-col-xs-12 nhsd-t-col-s-8 nhsd-!t-padding-0 nhsd-t-text-align-l-right">
                    <button onclick="collapseAll('{{variable "schemaUUID"}}')" class="nhsd-a-button nhsd-a-button--outline nhsd-o-schema__header-button nhsd-!t-margin-bottom-0 nhsd-!t-display-hide">Collapse all</button>
                    <button onclick="expandAll('{{variable "schemaUUID"}}')" class="nhsd-a-button nhsd-o-schema__header-button nhsd-!t-margin-bottom-0 nhsd-!t-display-hide">Expand all</button>
                </div>
            </div>
            <div class="nhsd-o-schema" data-schema-uuid="{{variable "schemaUUID"}}">
            {{#vendorExtensions.x-schema}}
                {{>schema}}
            {{/vendorExtensions.x-schema}}
            </div>
        {{/if}}

    {{/mediaTypes}}