{{#bodyExample}}
    <article class="nhsd-o-code-viewer nhsd-!t-margin-bottom-3">
        <div id="html-content" class="nhsd-o-code-viewer__tab-content" role="tabpanel" aria-hidden="true" aria-labelledby="tab-html-content">
            <div class="nhsd-o-code-viewer__code">
                <div class="nhsd-o-code-viewer__code-content">
                    <pre class="line-numbers"><code>{{bodyExample}}</code></pre>
                </div>
            </div>
        </div>
    </article>
{{/bodyExample}}