
    {{#mediaTypes}}

        <div class="body__contenttype">
            <span class="body__contenttype__label">Content type: </span>
            <span class="body__contenttype__value">{{name}}</span>
        </div>

        {{#example}}
            <div class="body__example__header">Example</div>
            <div><pre><code>{{this}}</code></pre></div>
        {{/example}}

        {{^example}}
            {{^examples}}
                {{#schema.example}}
                    <div class="body__example__header">Example</div>
                    <div><pre><code>{{this}}</code></pre></div>
                {{/schema.example}}
            {{/examples}}
        {{/example}}

        {{#examples}}
            {{#@first}}
                {{#hasOneItem examples}}
                    <div class="body__example__header">Example</div>
                {{else}}
                    <div class="body__example__header">Examples</div>
                {{/hasOneItem}}
            {{/@first}}

            {{#summary}}
            <div class="body__example__summary">{{summary}}</div>
            {{/summary}}

            {{#description}}
            <div class="body__example__description">{{{markdown description levelToNormaliseHeadingsTo=7}}}</div>
            {{/description}}

            <div><pre><code>{{value}}</code></pre></div>
        {{/examples}}

        {{#if schema}}
            <div class="body__schema__header">Schema</div>

            <div class="body__schema">
            {{#vendorExtensions.x-schema}}
                {{>schema}}
            {{/vendorExtensions.x-schema}}
            </div>
        {{/if}}

    {{/mediaTypes}}

