<h{{headingLevel}} class="{{headingClass}}">{{headingText}}</h{{headingLevel}}>
<div class="nhsd-m-table nhsd-t-body">
    <table data-responsive data-no-sort>
        <thead>
            <tr>
                <th class="nhsd-t-width-200">Name</th>
                <th>Description</th>
            </tr>
        </thead>
        {{#this}}
        <tr>
            <td><code class="nhsd-!t-font-family-mono">{{baseName}}</code></td>
            <td>
                {{#or dataType datatype dataFormat}}
                    <p class="nhsd-t-body">
                        {{#response}}
                            {{#datatype}}{{! This property is lowercased on io.swagger.codegen.v3.CodegenProperty}}
                                <strong class="nhsd-!t-font-weight-bold">{{datatype}}</strong>
                            {{/datatype}}
                        {{else}}
                            {{#dataType}}{{! This property is camelCased on io.swagger.codegen.v3.CodegenParameter}}
                                <strong class="nhsd-!t-font-weight-bold">{{dataType}}</strong>
                            {{/dataType}}
                        {{/response}}

                        {{#dataFormat}}
                            <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">({{dataFormat}})</span>
                        {{/dataFormat}}
                    </p>
                {{/or}}

                {{#defaultValue}}
                    <p class="nhsd-t-body">
                        Default value: <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">{{defaultValue}}</span>
                    </p>
                {{/defaultValue}}

                {{#description}}
                    {{{markdown description levelToNormaliseHeadingsTo=6}}}
                {{/description}}

                {{#pattern}}
                    <p class="nhsd-t-body">
                        Pattern: <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">{{pattern}}</span>
                    </p>
                {{/pattern}}

                {{#ifNotNull maximum}}
                    <p class="nhsd-t-body">
                        Maximum: <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">{{maximum}}</span>
                        {{#if exclusiveMaximum}}(exclusive){{else}}(inclusive){{/if}}
                    </p>
                {{/ifNotNull}}

                {{#ifNotNull minimum}}
                    <p class="nhsd-t-body">
                        Minimum: <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">{{minimum}}</span>
                        {{#if exclusiveMinimum}}(exclusive){{else}}(inclusive){{/if}}
                    </p>
                {{/ifNotNull}}

                {{#ifNotNull maxLength}}
                    <p class="nhsd-t-body">
                        Max length: <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">{{maxLength}}</span>
                    </p>
                {{/ifNotNull}}
                {{#ifNotNull minLength}}
                    <p class="nhsd-t-body">
                        Min length: <span class="nhsd-a-text-highlight nhsd-a-text-highlight--code">{{minLength}}</span>
                    </p>
                {{/ifNotNull}}

                {{#ifNotNull _enum}}
                    <p class="nhsd-t-body">
                        Allowed values: {{{enumeration _enum}}}
                    </p>
                {{/ifNotNull}}

                {{^_enum}}
                {{#example}}
                    <p class="nhsd-t-body">
                        {{{this}}}
                    </p>
                {{/example}}
                {{/_enum}}

                {{#required}}<div class="nhsd-!t-col-red">Required</div>{{/required}}
            </td>
        </tr>
        {{/this}}
    </table>
</div>
