<div class="nhsd-m-table nhsd-t-body">
    <table data-responsive data-no-sort>
        <thead>
            <tr>
                <th class="nhsd-t-width-200">Name</th>
                <th>Description</th>
            </tr>
        </thead>
        {{#block "request-param-table"}}{{/block}}
    </table>
</div>
