{{^required}}{{/required}}{{#required}}<div class="httpparams__required">Required</div>{{/required}}

{{#vendorExtensions.x-body}}
    {{#vendorExtensions.x-body.mediaTypes}}
        <h5>{{this}}</h5>
    {{/vendorExtensions.x-body.mediaTypes}}
{{/vendorExtensions.x-body}}
