<tr><td class="httpparams__name">{{baseName}}</td>
<td>
    <div id="d2e199_{{nickname}}_{{paramName}}">
        <div class="httpparams__description">
            <div>
                <span class="httpparams__datatype">{{dataType}}</span>
                {{#dataFormat}}
                    <span class="codeinline">({{dataFormat}})</span>
                {{/dataFormat}}

                {{#defaultValue}}
                    <div>Default value: <span class="codeinline">{{defaultValue}}</span></div>
                {{/defaultValue}}

                {{#description}}
                    <div>{{description}}</div>
                {{/description}}

                {{#example}}
                    <div>{{example}}</div>
                {{/example}}

            </div>
            {{#is this 'enum'}}
                {{#vendorExtensions.x-eumFormatted}}
                    <div class="inner enums" id="{{nickname}}_{{paramName}}_enum">
                        <span class="inner">
                            <b>Enum: </b>{{{vendorExtensions.x-eumFormatted}}}
                        </span>
                    </div>
                {{/vendorExtensions.x-eumFormatted}}
            {{/is}}
            {{#required}}
                <div class="httpparams__required">
                    Required
                </div>
            {{/required}}
        </div>
    </div>
</td>
</tr>
