<tr><td class="httpparams__name">{{baseName}}</td>
<td>
    <div>
        <div class="httpparams__description">
            <div>
                <span class="httpparams__datatype">{{dataType}}</span>

                {{#dataFormat}}
                    <code class="codeinline">({{dataFormat}})</code>
                {{/dataFormat}}

                {{#defaultValue}}
                    <div>Default value: <code class="codeinline">{{defaultValue}}</code></div>
                {{/defaultValue}}

                {{#description}}
                    <div>{{{markdown description levelToNormaliseHeadingsTo=6}}}</div>
                {{/description}}

                {{#pattern}}
                    <div>Pattern: <code class="codeinline">{{pattern}}</code></div>
                {{/pattern}}

                {{#allowableValues}}
                    <div>Allowed values: {{enumeration allowableValues.values}}</div>
                {{/allowableValues}}

                {{#example}}
                    <div>{{example}}</div>
                {{/example}}

            </div>
            {{#is this 'enum'}}
                {{#vendorExtensions.x-eumFormatted}}
                    <div class="inner enums" id="{{nickname}}_{{paramName}}_enum">
                        <span class="inner">
                            <b>Enum: </b>{{{vendorExtensions.x-eumFormatted}}}
                        </span>
                    </div>
                {{/vendorExtensions.x-eumFormatted}}
            {{/is}}
            {{#required}}
                <div class="httpparams__required">
                    Required
                </div>
            {{/required}}
        </div>
    </div>
</td>
</tr>
