<div class="nhsd-m-table nhsd-t-body">
    <table data-no-sort="true">
        <thead class="nhsd-o-schema__header">
        <th>Name</th>
        <th>Description</th>
        </thead>

        {{{render_schema this}}}

    </table>
</div>