{{#assign "schemaUUID"}}{{uuid}}{{/assign}}
{{#if anyOf}}
    <tr class="expanded" data-schema-uuid="{{variable "schemaUUID"}}" data-indentation="{{indentation}}">
        <td class="name_column" style="padding-left: {{indentation weighting=1.5}}em;">
            <button class="collapser js" data-schema-uuid="{{variable "schemaUUID"}}" onclick="collapseChildren('{{variable "schemaUUID"}}')"></button>
            {{borders}}
            <div><code class="anyOf">anyOf</code></div>
        </td>
        <td class="description_column"></td>
    </tr>
{{/if}}
{{#each anyOf}}
    {{#partial "propertyName"}}{{/partial}}
    {{>schema_object}}
{{/each}}
{{#if oneOf}}
    <tr class="expanded" data-schema-uuid="{{variable "schemaUUID"}}" data-indentation="{{indentation}}">
        <td class="name_column" style="padding-left: {{indentation weighting=1.5}}em;">
            <button class="collapser js" data-schema-uuid="{{variable "schemaUUID"}}" onclick="collapseChildren('{{variable "schemaUUID"}}')"></button>
            {{borders}}
            <div><code class="oneOf">oneOf</code></div>
        </td>
        <td class="description_column"></td>
    </tr>
{{/if}}
{{#each oneOf}}
    {{#partial "propertyName"}}{{/partial}}
    {{>schema_object}}
{{/each}}
{{#if allOf}}
    <tr class="expanded" data-schema-uuid="{{variable "schemaUUID"}}" data-indentation="{{indentation}}">
        <td class="name_column" style="padding-left: {{indentation weighting=1.5}}em;">
            <button class="collapser js" data-schema-uuid="{{variable "schemaUUID"}}" onclick="collapseChildren('{{variable "schemaUUID"}}')"></button>
            {{borders}}
            <div><code class="allOf">allOf</code></div>
        </td>
        <td class="description_column"></td>
    </tr>
{{/if}}
{{#each allOf}}
    {{#partial "propertyName"}}{{/partial}}
    {{>schema_object}}
{{/each}}
