{{#assign "schemaUUID"}}{{uuid}}{{/assign}}
{{#if anyOf}}
    <tr class="nhsd-o-schema__expanded" data-schema-uuid="{{variable "schemaUUID"}}" data-indentation="{{indentation}}">
        <td class="nhsd-o-schema__name-column" style="padding-left: {{indentation weighting=1.5}}em;">
            <a class="nhsd-o-schema__button nhsd-o-schema__collapser nhsd-!t-display-hide" data-schema-uuid="{{variable "schemaUUID"}}" onclick="collapseChildren('{{variable "schemaUUID"}}')"></a>
            {{borders}}
            <div><span class="nhsd-t-col-grey-mid">anyOf</span></div>
        </td>
        <td class="nhsd-o-schema__description-column"></td>
    </tr>
{{/if}}
{{#each anyOf}}
    {{#partial "propertyName"}}{{/partial}}
    {{>schema_object}}
{{/each}}
{{#if oneOf}}
    <tr class="nhsd-o-schema__expanded" data-schema-uuid="{{variable "schemaUUID"}}" data-indentation="{{indentation}}">
        <td class="nhsd-o-schema__name-column" style="padding-left: {{indentation weighting=1.5}}em;">
            <a class="nhsd-o-schema__button nhsd-o-schema__collapser nhsd-!t-display-hide" data-schema-uuid="{{variable "schemaUUID"}}" onclick="collapseChildren('{{variable "schemaUUID"}}')"></a>
            {{borders}}
            <div><span class="nhsd-t-col-grey-mid">oneOf</span></div>
        </td>
        <td class="nhsd-o-schema__description-column"></td>
    </tr>
{{/if}}
{{#each oneOf}}
    {{#partial "propertyName"}}{{/partial}}
    {{>schema_object}}
{{/each}}
{{#if allOf}}
    <tr class="nhsd-o-schema__expanded" data-schema-uuid="{{variable "schemaUUID"}}" data-indentation="{{indentation}}">
        <td class="nhsd-o-schema__name-column" style="padding-left: {{indentation weighting=1.5}}em;">
            <a class="nhsd-o-schema__button nhsd-o-schema__collapser nhsd-!t-display-hide" data-schema-uuid="{{variable "schemaUUID"}}" onclick="collapseChildren('{{variable "schemaUUID"}}')"></a>
            {{borders}}
            <div><span class="nhsd-t-col-grey-mid">allOf</span></div>
        </td>
        <td class="nhsd-o-schema__description-column"></td>
    </tr>
{{/if}}
{{#each allOf}}
    {{#partial "propertyName"}}{{/partial}}
    {{>schema_object}}
{{/each}}
