    <!-- start sticky-nav -->
    <div id="sticky-nav">
        <div class="article-section-nav-wrapper">
            <div class="article-section-nav">
                <h2 class="article-section-nav__title">Page contents</h2>
                <nav>
                    <ol class="article-section-nav__list">
                        <li>
                            <a href="#top" aria-label="Scroll to 'Top of page'" title="Scroll to 'Top of page'">Top of page</a>
                        </li>
                        {{#headingsHyperlinksFromMarkdown appDescription}}
                        <li>
                            <a href="#api-description__{{id}}" aria-label="Scroll to '{{text}}'" title="Scroll to '{{text}}'">{{text}}</a>
                        </li>
                        {{/headingsHyperlinksFromMarkdown}}

                        {{#apiInfo}}
                            {{#apis}}
                                {{#operations}}
                                    {{#eq baseName 'Default'}}
                                    <li>
                                        <a href="#api-endpoints"
                                           aria-label="Endpoints"
                                           title="Endpoints">Endpoints</a>
                                    </li>
                                    {{else}}
                                    <li>
                                        <a href="#api-{{baseName}}"
                                           aria-label="Endpoints: {{baseName}}"
                                           title="Endpoints: {{baseName}}">Endpoints: {{baseName}}</a>
                                    </li>
                                    {{/eq}}
                                    {{#operation}}
                                        <li class="section-numbered">
                                            <a href="#api-{{baseName}}-{{nickname}}"
                                               aria-label="{{nickname}}"
                                               title="{{nickname}}">{{summary}}</a>
                                        </li>
                                    {{/operation}}
                                {{/operations}}
                            {{/apis}}
                        {{/apiInfo}}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- end sticky-nav -->