// Primary NHS blues
// =================
$blue: #005eb8;
$blue-50: #76adda;
$blue-10: #e6eff8;
$dark-blue: #003087;
$bright-blue: #0072ce;

// NHS greyscale
// =============
// This is an 5 step greyscale
// Uses NHS brand colours as a foundation for the first 2 steps
// and adds three modified greys
$black: #231f20;
$grey-1: #425563;
$grey-2: #768692;
$grey-3: #aeb7bd;
$grey-4: #d8dde0;
$grey-5: #f0f4f5;
$grey-6: #666666;
$grey-7: #CBCBCB;
$white: #fff;

// Secondary colours
// =================
$dark-green: #006747;
$green: #007f3b; // modified to comply with WCAG contrast with white
$light-green: #78be20;

$red: #da291c;
$red-50: #e3968a;
$red-10: #f5e6e4;

$yellow: #ffb81c;
$yellow-50: #fada8b;
$yellow-10: #fdf2d5;



// Implementation-unspecific colour names
// =====================
$col-primary: #005EB8;      // NHS blue
$col-secondary: #4C92D9;    // Light blue
$col-tertiary: #D4EFFF;     // Air blue
$col-quaternary: #425563;   // Charcoal grey
$col-quinary: #666666;      // Dark grey
$col-senary: #CBCBCB;       // Light grey
$col-septenary: #FFFFFF;    // White
$col-octonary: #FFB81C;     // Yellow
$col-nonary: #DA291C;       // Red
$col-denary: #00386E;       // Dark blue
$col-undenary: #003087;     // Mid dark blue
$col-duodenary: #F4F5F7;    // Lighter grey
$col-tridenary: #E5EFF8;    // Light blue
$col-14: #334451;           // Dark grey
$col-15: #DFE2E4;           // Light grey #2
$col-16: #000000;           // Black
$col-17: #FFE8B4;           // Alert Yellow
$col-18: #768692;           // Blue-ish light grey
$col-19: #422C88;           // Purple lightup banner theme


// Semantic colour names
// =====================
$nhs-blue: $col-primary;
$emergency-services-red: $red;

$text-colour: $col-quaternary;

$link-colour: $col-primary;
$link-reverse-polarity: $col-quinary;

$link-visited-colour: $dark-blue;
$link-visited-reverse-polarity: $col-quinary;

$link-hover-colour: $col-secondary;
$link-hover-reverse-polarity: $col-tertiary;

$link-active-colour: $col-secondary;
$link-active-reverse-polarity: $col-tertiary;

$focus-colour: $col-octonary;

