@import "./globals";

$nhs-font-stack: "Frutiger W01", "Helvetica Neue", Arial, sans-serif;
$nhs-font-stack: "Frutiger W01", Arial, sans-serif;
$print-font-stack: sans-serif;

$is-print: false !default;

// $base-font-size: 32px; // We already define this in `_variables.scss`
$baseline-grid-unit: 4px;
$default-spacing-unit: $baseline-grid-unit * 4;
$measure: 40em; // comfy reading width of ~ 55-65 characters

$type-settings-map: (
    14: -4,
    16: -3,
    18: -2,
    20: -1,
    22: 0,
    24: 1,
    26: 2,
    36: 3,
    48: 4,
);

$type-settings: (
    -4: (
        large: (
            font-size: 14px,
            line-height: 20px,
        ),
        medium: (
            font-size: 14px,
            line-height: 20px,
        ),
        small: (
            font-size: 12px,
            line-height: 23px,
        ),
        print: (
            font-size: 10pt,
            ),
    ),
    -3: (
        large: (
            font-size: 16px,
            line-height: $baseline-grid-unit * 6, // 24px
        ),
        medium: (
            font-size: 16px,
            line-height: $baseline-grid-unit * 6, // 24px
        ),
        small: (
            font-size: 14px,
            line-height: 24px,
        ),
        print: (
            font-size: 10pt,
        ),
    ),
    -2: (
        large: (
            font-size: 18px,
            line-height: 30px,
        ),
        medium: (
            font-size: 16px,
            line-height: 26px,
        ),
        small: (
            font-size: 16px,
            line-height: 26px,
        ),
        print: (
            font-size: 10pt,
        ),
    ),
    -1: (
        large: (
            font-size: 20px,
            line-height: 30px,
        ),
        medium: (
            font-size: 18px,
            line-height: 28px,
        ),
        small: (
            font-size: 18px,
            line-height: 28px,
        ),
        print: (
            font-size: 12pt,
        ),
    ),
    0: (
        large: (
            font-size: 22px,
            line-height: 32px,
        ),
        medium: (
            font-size: 19px,
            line-height: 29px,
        ),
        small: (
            font-size: 16px,
            line-height: 26px,
        ),
        print: (
            font-size: 14pt,
        ),
    ),
    1: (
        large: (
            font-size: 24px,
            line-height: 34px,
        ),
        medium: (
            font-size: 20px,
            line-height: 30px,
        ),
        small: (
            font-size: 18px,
            line-height: 28px,
        ),
        print: (
            font-size: 14pt,
        ),
    ),
    2: (
        large: (
            font-size: 26px,
            line-height: 36px,
        ),
        medium: (
            font-size: 22px,
            line-height: 32px,
        ),
        small: (
            font-size: 20px,
            line-height: 30px,
        ),
        print: (
            font-size: 16pt,
        ),
    ),
    3: (
        large: (
            font-size: 36px,
            line-height: 46px,
        ),
        medium: (
            font-size: 32px,
            line-height: 42px,
        ),
        small: (
            font-size: 28px,
            line-height: 38px,
        ),
        print: (
            font-size: 18pt,
        ),
    ),
    4: (
        large: (
            font-size: 48px,
            line-height: 58px,
        ),
        medium: (
            font-size: 36px,
            line-height: 46px,
        ),
        small: (
            font-size: 32px,
            line-height: 42px,
        ),
        print: (
            font-size: 22pt,
        ),
    ),
);
