name: Pull Request Workflow

on:
  pull_request:
    branches:
      - master
      - branding-trunk
      - ADZ-1195_API_specification_branding_release

jobs:
  build-and-test:
    name: "Build and test project"
    runs-on: ubuntu-latest
    timeout-minutes: 90
    env:
      HIPPO_MAVEN_PASSWORD: ${{ secrets.HIPPO_MAVEN_PASSWORD }}
      HIPPO_MAVEN_USERNAME: ${{ secrets.HIPPO_MAVEN_USERNAME }}

    steps:

      # Step 1
      - name: Checkout
        uses: actions/checkout@v2

      # Step 2
      - name: Check commit message
        run: make check.commit-msg
        continue-on-error: true

      # Step 3
      - name: Print Google Chrome version
        run: google-chrome --version

      # Step 4
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 8

      # Step 5
      - name: Get cache key helper values
        uses: actions/github-script@v5
        id: cache-key-helper
        with:
          result-encoding: string
          script: |
            return JSON.stringify({
              "year" : new Date().getFullYear(),
              "rotation" : new Date().getTimezoneOffset()
            })

      - name: Setup cache (Maven packages)
        uses: actions/cache@v2
        env:
          YEAR: ${{ fromJSON(steps.cache-key-helper.outputs.result).year }}
          ROTATION: ${{ fromJSON(steps.cache-key-helper.outputs.result).rotation }}
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-nhs-digital-${{ env.YEAR }}-${{ env.ROTATION }}
          restore-keys: |
            ${{ runner.os }}-maven-nhs-digital-${{ env.YEAR }}-
            ${{ runner.os }}-maven-nhs-digital-
            ${{ runner.os }}-maven-nhs-

      - name: Setup cache (Node.js packages)
        uses: actions/cache@v2
        env:
          YEAR: ${{ fromJSON(steps.cache-key-helper.outputs.result).year }}
          ROTATION: ${{ fromJSON(steps.cache-key-helper.outputs.result).rotation }}
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-nhs-digital-${{ env.YEAR }}-${{ env.ROTATION }}
          restore-keys: |
            ${{ runner.os }}-node-nhs-digital-${{ env.YEAR }}-
            ${{ runner.os }}-node-nhs-digital-
            ${{ runner.os }}-node-nhs-

      # Step 6
      - name: Check YAML formatting
        run: make check.yaml

      # Step 7
      - name: Test Project
        run: make test.site

      # Notify via Slack that the PR's 'build and test' failed
      - name: "Send fail message"
        if: failure()
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: support
          SLACK_ICON: 'https://avatars.slack-edge.com/2021-01-13/1630579512549_65b98dab3cfe3321e943_48.png'
          SLACK_USERNAME: CI/CD Pipeline
          SLACK_COLOR: '#ff0d0d'
          SLACK_TITLE: PR Request 'build and test' failed
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_FOOTER: 'Oh yeah, I may have forgotten something.'

      # Notify via Slack that the PR's 'build and test' succeeded
      - name: "Send a success message"
        if: success()
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: support
          SLACK_ICON: 'https://avatars.slack-edge.com/2021-01-13/1630579512549_65b98dab3cfe3321e943_48.png'
          SLACK_USERNAME: CI/CD Pipeline
          SLACK_COLOR: '#02ad0a'
          SLACK_TITLE: PR Request 'build and test' succeeded
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_FOOTER: 'The Web Team are awesome!'
