
name: Remove Old Builds

on:
  schedule:
    - cron: "0 9 * * 1-5"

env:
  NO_OF_DISTRIBUTION_TO_KEEP_PROD: 40
  NO_OF_DISTRIBUTION_TO_KEEP_NON_PROD: 10
  PROD_REG_EXPRESSION: "v\\\\d{1,2}\\\\.\\\\d{1,2}\\\\.\\\\d{3,}\\\\.tar"
  NON_PROD_REG_EXPRESSION: "v\\\\d{1,2}\\\\.\\\\d{1,2}\\\\.\\\\d{3,}\\\\-\\\\d{1,2}-[a-z0-9]+\\\\.tar"

jobs:

  remove-old-distributions:
    name: Remove Old distribution Ids
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      # Get API access token and verify it.
      - name: Obtaino JWT Token
        id: jwt_token
        run: |
          response=$(curl -i \
          -H "Accept: application/json; charset=utf-8" \
          -X POST https://api.${{ secrets.HOST }}/v3/authn/access_token \
          -d '{ "username": "${{ env.USERNAME }}", "password": "${{ env.PASSWORD }}" }')
          token1=$(echo $response | awk 'match($0, /access_token":"[^"]+"/) {print substr($0, RSTART+15)}' | cut -d '"' -f 1 )
          refresh=$(echo $response | awk 'match($0, /refresh_token":"[^"]+"/) {print substr($0, RSTART+16)}' | cut -d '"' -f 1 )
          echo "::set-output name=token1::$token1"
          echo "::set-output name=refresh::$refresh"

        env:
          USERNAME: ${{ secrets.MISSION_CONTROL_API_USERNAME }}
          PASSWORD: ${{ secrets.MISSION_CONTROL_API_PASSWORD }}

      - name: Verify JWT Token
        id: jwt_token_verify
        run: |
          code=$(curl -L \
          -H "Accept: application/json; charset=utf-8" \
          -H "Authorization: Bearer ${{ steps.jwt_token.outputs.token1 }}" \
          -X GET https://api.${{ secrets.HOST }}/v3/authn/verify_token \
          -o /dev/null -w '%{http_code}\n' -s)
          echo "::set-output name=code::$code"

      - name: Check Response Code from Verify JWT Token
        if: ${{ steps.jwt_token_verify.outputs.code != 200 }}
        uses: actions/github-script@v3
        with:
          script: |
            core.setFailed('The JWT token failed verification!')
        env:
          # 'CODE' is for debugging fails
          CODE: ${{ steps.jwt_token_verify.outputs.code }}

      - name: Get All Distribution Ids
        id: all-distribution-id
        run: |
          response=$(curl \
          -H "Authorization: Bearer ${{ steps.jwt_token.outputs.token1 }}" \
          -X GET https://api.${{ secrets.HOST }}/v3/distributions)
          echo "::set-output name=allDistIds::${response}"

      - name: Distribution Ids Retrival failed
        if: ${{ contains(steps.all-distribution-id.response ,'401') }}
        uses: actions/github-script@v3
        with:
          script: |
            core.setFailed('Retrival of distibution ids failed ')

      - name: Get NON-Prod Distribution Ids To be Removed
        #Retrieve all non prod distribution ids which needs to be removed
        id: latest-non-prod-distribution-ids
        run: |
          latestId=$(echo '${{steps.all-distribution-id.outputs.allDistIds}}' | sed -e 's/+00:00/Z/g' | jq --compact-output '[.items[] | {id: .id , date: .createdAt, name: .name}] | sort_by(.date) | reverse | map(select(.name | test("${{env.NON_PROD_REG_EXPRESSION}}"))) | map(.id) | .[${{env.NO_OF_DISTRIBUTION_TO_KEEP_NON_PROD}}:]')
          fileNamesNonProd=$(echo '${{steps.all-distribution-id.outputs.allDistIds}}' | sed -e 's/+00:00/Z/g' | jq --compact-output '[.items[] | {id: .id , date: .createdAt, name: .name}] | sort_by(.date) | reverse | map(select(.name | test("${{env.NON_PROD_REG_EXPRESSION}}"))) | map(.name) | .[${{env.NO_OF_DISTRIBUTION_TO_KEEP_NON_PROD}}:]')
          echo "::set-output name=latestNonProdDistIds::${latestId}"
          echo "::set-output name=latestNonProdDistName::${fileNamesNonProd}"

      - name: Get Latest Prod Distribution Ids to be removed
        #Retrieve all prod distribution ids which needs to be removed
        id: latest-prod-distribution-ids
        run: |
          latestId=$(echo '${{steps.all-distribution-id.outputs.allDistIds}}' | sed -e 's/+00:00/Z/g' | jq --compact-output '[.items[] | {id: .id , date: .createdAt, name: .name}] | sort_by(.date)| reverse | map(select(.name | test("${{env.PROD_REG_EXPRESSION}}"))) | map(.id) | .[${{env.NO_OF_DISTRIBUTION_TO_KEEP_PROD}}:]')
          fileNamesProd=$(echo '${{steps.all-distribution-id.outputs.allDistIds}}' | sed -e 's/+00:00/Z/g' | jq --compact-output '[.items[] | {id: .id , date: .createdAt, name: .name}] | sort_by(.date)| reverse | map(select(.name | test("${{env.PROD_REG_EXPRESSION}}"))) | map(.name) | .[${{env.NO_OF_DISTRIBUTION_TO_KEEP_PROD}}:]')
          echo "::set-output name=latestProdDistIds::${latestId}"
          echo "::set-output name=latestProdDistName::${fileNamesProd}"

      - name: Print Names
        #Step for logging purpose
        id: print-ids
        run: |
          echo " All non Prod Files to be removed "+ ${{steps.latest-non-prod-distribution-ids.outputs.latestNonProdDistName}}
          echo "***********************"
          echo " All  Prod Files to be removed "+ ${{steps.latest-prod-distribution-ids.outputs.latestProdDistName}}
          echo "***********************"


      - name: Remove Old Non Prod Distribution
        run: |
          declare -a  nonProdLatestDistIds=$(echo  '${{steps.latest-non-prod-distribution-ids.outputs.latestNonProdDistIds}}' | tr "[" "(" | tr "]" ")" | tr "," " ")

          echo "nonProdLatestDistIds  Length --> "  ${#nonProdLatestDistIds[@]}

            for i in "${!nonProdLatestDistIds[@]}";
            do
              printf "%s\t%s\n" "$i" "${nonProdLatestDistIds[$i]}"
              response=$(curl \
                -H "Authorization: Bearer ${{ steps.jwt_token.outputs.token1 }}" \
                -X DELETE https://api.${{ secrets.HOST }}/v3/distributions/${nonProdLatestDistIds[$i]})
              echo ${response}
            done

      - name: Remove Old Prod Distribution
        run: |
          declare -a  prodLatestDistIds=$(echo  '${{steps.latest-prod-distribution-ids.outputs.latestProdDistIds}}' | tr "[" "(" | tr "]" ")" | tr "," " ")

          echo "prodLatestDistIds  Length --> "  ${#prodLatestDistIds[@]}

            for i in "${!prodLatestDistIds[@]}";
            do
              printf "%s\t%s\n" "$i" "${prodLatestDistIds[$i]}"
              response=$(curl \
                -H "Authorization: Bearer ${{ steps.jwt_token.outputs.token1 }}" \
                -X DELETE https://api.${{ secrets.HOST }}/v3/distributions/${prodLatestDistIds[$i]})
              echo ${response}
            done